<% cache ['ru', 'collections'].join('/') do -%>
<h1>Географическое распределение частичных собраний</h1>

<div class="abstract">
    <p>
      <span>Архив содержит 32 частичных собрания интервью. Данные частичные собрания, разработанные в рамках различных интервью-проектов в 26 странах, образуют главную структуру архива.</span>
    </p>
</div>

<h2>Обзор частичных собраний</h2>

<ul>

  <% @collections.each do |collection| %>

    <li><%= link_to collection.name(I18n.locale), url_for(:controller => :collections, :action => :show, :project_id => collection.project_id) %></li>

  <% end %>

</ul>
<% end -%><%# cache -%>
