<h1>Geografische Verteilung der Teilsammlungen</h1>

<div class="abstract">
    <p>
      <span>Das Archiv umfasst 32 Teilsammlungen von Interviews. Diese von verschiedenen
        Interview-Projekten in 26 Ländern erarbeiteten Teilsammlungen bilden die
        Grundstruktur des Archivs. Über die Karte können diese angewählt werden.</span>
    </p>
</div>

<embed align="left" width="696" height="450" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" allowscriptaccess="sameDomain" name="eaz_karte" bgcolor="#f1f1eb" quality="high" src="/swf/teilsammlungen_karte_en.swf">

<div class="clear">&nbsp;</div>


<h2>Übersicht über die Teilsammlungen</h2>

<ul>

  <% @collections.each do |collection| %>

    <li><%= link_to collection.name, url_for(:controller => :collections, :action => :show, :project_id => collection.project_id) %></li>

  <% end %>

</ul>