/* Style the buttons that are used to open and close the accordion panel */
.flyout-search,
.flyout-video,
.flyout-folder {
  button.accordion {
    background-color: transparent;
    border-top: 1px solid $gray-dark;
    color: var(--primary-color);
    cursor: pointer;
    font-size: $font-size-large;
    line-height: $base-unit;
    margin-bottom: 2px;
    outline: none;
    padding-bottom: $base-unit * 0.5;
    padding-left: 0;
    padding-right: 15px;
    padding-top: $base-unit * 0.5 - 0.0625rem;
    text-align: left;
    text-transform: uppercase;
    transition: 0.4s;
    width: 100%;
    &.admin {
      color: var(--editorial-color);
    }
    &:hover {
      color: $gray-dark;
    }
    svg {
      float: right;
      margin-top: 0.125 * $base-unit;
    }
  }
  .panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    &.open {
      overflow: initial;
      padding-bottom: $base-unit;
      max-height: 100%;
    }
  }
  p,
  form {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    color: $gray-darkest;
    margin: 0 0 10px 0;
  }
  .flyout-content-label {
    display: inline-block;
    margin-right: 10px;
    color: var(--primary-color);
  }
  .flyout-content-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .flyout-content-data {
    display: inline-block;
  }
  a.flyout-content-data {
    margin-right: 10px;
  }
  a {
    color: var(--primary-color);

    &:hover {
      text-decoration: underline;
    }
  }
  .fa {
    color: var(--primary-color);
    margin-left: 5px;
    margin-right: 5px;
    &:hover {
      color: $gray-dark;
    }
  }
  .flyout-sub-tabs-content-download {
    margin-top: 10px;
    color: var(--primary-color);
    cursor: pointer;
  }
  .leaflet-popup-content p {
    color: var(--primary-color);
  }
  .explanation {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    color: $gray-darkest;
    margin: 0 0 10px 0;
  }
}

.flyout-folder {
  h3 {
    font-size: $font-size-large;
    line-height: $line-height-large;
    margin-top: 0;
  }
  p {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    color: $gray-darkest;
    //padding: 0 0 0 20px;
    margin: 0;
  }
  .flyout-content-label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    color: $gray-dark;
  }
  .flyout-content-data {
    display: inline-block;
  }
  a {
    color: var(--primary-color);
  }
  .fa {
    margin-right: 10px;
  }
  .flyout-sub-tabs-content-link {
    margin: 5px 0 0 0;
    color: var(--primary-color);
    cursor: pointer;
  }
}
a.flyout-download-link-lang {
  margin-right: 15px;
}
.flyout-sub-tabs-content-ico {
  display: inline;
  text-align: right;
  padding: 0;
}
.fa-stack {
  margin-right: 10px;
}
.fa-stack-first-custom {
  margin-top: -3px;
}
.fa-stack-second-custom {
  text-align: right;
  margin-left: -15px;
  font-size: 10px !important;
}

span.registry-reference:not(:last-child),
span.flyout-content-data:not(:last-child) {
  margin-right: 15px;
  padding-right: 10px;
  border-right: 1px solid $gray-light;
  .fa {
    margin-right: 0;
  }
}

.flyout-sub-tabs-content-ico-link {
  display: inline-block;
  color: var(--editorial-color);
  transition: 0.3s;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  .fa,
  svg {
    color: var(--editorial-color);
    margin-left: 1px;
  }
  .fa.exists,
  .archive-view {
    color: var(--primary-color);
  }
  &.active {
    background-color: $gray-lighter;
    .fa {
      color: $gray-dark;
    }
  }
  &.warn {
    .fa {
      color: red;
    }
  }
  &.warn:hover {
    background-color: yellow;
  }
  &:hover {
    background-color: $gray-lighter;
    .fa {
      color: $gray-dark;
    }
  }
}

/* form elements */

.flyout-search,
.flyout-sub-tabs-container {
  button,
  input {
    color: inherit;
    font: inherit;
    margin: 0;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 0;
  }
  button,
  select {
    text-transform: none;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
}

.flyout-search {
  button.accordion {
    padding: 8px 15px 0 2px;
  }
  .panel {
    max-height: 1000px;
    overflow: visible;
    .facet-filter,
    .year-range-state,
    .rc-slider {
      display: none;
    }
    .year-range-state.filtered {
      display: inline;
      color: black;
    }
    .subfacet-entry {
      display: none;
      &.checked {
        display: inline;
        label {
          margin-right: 10px;
          &:last-child {
            padding-bottom: 20px;
          }
        }
      }
    }
    &.open {
      .subfacet-entry,
      .facet-filter,
      .year-range-state,
      .rc-slider {
        display: block;
      }
      .year-range-state.filtered {
        color: inherit;
      }
    }
  }
}
