// Tabs Content

.wrapper-content {
  //display: none;
  background-color: #fff;
}

.wrapper-content.active {
  display: block;
}


// Tab Content: Index // Inhaltsverzeichnis

.content-index {
  .heading {
    .heading-ico {
      display: inline-block;
      vertical-align: top;
      padding: 4px 0;
      cursor: pointer;
      width: 6%;
      margin-right: 2%;
      @include screen-m {
        width: 2%;
        margin-right: 2%;
      }
      &::before {
        font-family: FontAwesome;
        content: "\f067";
        color: var(--primary-color);
        font-size: $font-size-medium;
        transition: 0.4s;
      }
      &.active::before{
        content: "\f068";
      }
      &:hover::before{
        color: $gray-dark;
      }
    }
    .mainheading {
      display: inline-block;
      width: 92%;
      @include screen-m {
        width: 96%;
      }
      cursor: pointer;
      margin-bottom: 10px;
      padding: 4px 0;
      color: $gray-dark;
      transition: 0.4s;
      transition: 0.4s;
      &:hover {
        color: var(--primary-color) !important;
      }
      &.active {
        background-color: rgba(255,250,129,0.5);
        color: $gray-darkest;
      }
    }
    .subheading {
      cursor: pointer;
      margin-bottom: 10px;
      padding: 4px 0;
      color: $gray-dark;
      transition: 0.4s;
      &:hover {
        color: var(--primary-color);
      }
      &.active {
        background-color: rgba(255,250,129,0.5);
        color: $gray-darkest;
      }
    }
    .chapter-number{
      vertical-align: top;
      display: inline-block;
      width: 15%;
      font-weight: bold;
      letter-spacing: 0.1rem;
      @include screen-m {
        width: 6%;
      }
    }
    .chapter-text{
      width: 85%;
      display: inline-block;
      @include screen-m {
        width: 94%;
      }
    }
  }
  .expanded {
    margin-left: 8%;
    @include screen-m {
      margin-left: 4%;
    }
    .mainheading {
      font-weight: normal;
    }
    .heading {
      margin-bottom: 0;
    }
  }
  .collapsed {
    display: none;
  }
}
.content-tags {
  .content-tags-segment {
    margin-top: 5px;
  }
  .content-tags-segment-timecode {
    font-size: $font-size-medium;
    line-height: $line-height-medium ;
    margin-bottom: 0;
  }
  .content-tags-segment-text {
    margin-bottom: 0;
    color: $gray-dark;
  }
}
div.mainheading + div {
  margin-bottom: 0;
}

//.content-index-main-heading {
//  li {
//    margin-bottom: 10px;
//  }
//}

// Tab Content: Search / Suche im Interview

.content-search-legend {
  margin-bottom: 20px;
  font-size: $font-size-medium;
}


.content-search {
  font-size: $font-size-larger;
  margin-bottom: 30px;
  .search-input {
    width: 80%;
    padding: 10px;
    border-bottom: 2px solid $gray-light;
    border-top: 2px solid $gray-light;
  }
  ::placeholder {
    color: var(--primary-color);
  }
  .search-button {
    cursor: pointer;
    width: 20%;
    font-family: FontAwesome;
    content: "\f067";
    color: var(--primary-color);
    float: right;
    transition: color 0.3s;
    padding: 10px;
    border-bottom: 2px solid $gray-light;
    border-top: 2px solid $gray-light;
    &:hover {
      color: $gray-light;
    }
  }
  button,
  input {
    color: inherit;
    font: inherit;
    margin: 0;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  button,
  select {
    text-transform: none;
    cursor: pointer;
  }
}


table.edit-interview {
    font-size: 90%;
    margin-top: 60px;
    border-collapse: separate;
    border-spacing: 2px;
    thead, th  {
      position: sticky;
      top: 0;
      vertical-align: top;
      background-color: #ddd;
      text-align: left;
      width: 1%;
      max-width: none;
      height: 5rem;
      padding:15px 10px;
      &.small {
        width: 0.1%;
      }
    }
    td {
      /* display: table-cell; */
      /*text-align: center;*/
      border: 1px solid #ddd;
      padding: 5px;
      margin: none;
      .segment {
        cursor: pointer;
        &.active {
          background-color: rgba(255,250,129,0.5) !important;
        }
        &:hover {
          color: var(--primary-color);
      }
    }
      input, textarea {
        border: none;
        min-height: 5rem;
        box-sizing: border-box;
        display:inline-block;
        line-height:140%;
        width: 100%;
        margin: 0px;
      }
      input, textarea {
        font-size: 90%;
      }
      input {
        overflow: scroll;
      }
      textarea {
        resize: none;
      }
    }
}

.Layout.is-sticky .edit-interview thead {
  top: $media-player-height-sticky;
}


// Old classes tidying up later

.column-content,
.column-sidebar {
  @include screen-m {
    float: left;
  }
}

.column-content {
  @include screen-m {
    width: 70%;
    margin-right: 1%;
  }
}

.column-sidebar {
  @include screen-xs-s {
    border-top: 1px solid $gray-lighter;
    margin-top: 30px;
    padding-top: 30px;
  }
  @include screen-m {
    width: 24%;
    padding: 2px 40px;
    //border-left: 1px solid $gray-lighter;
  }
  // background: $gray-lightest;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  color: $gray-dark;
}
