@use "sass:color";
@use "../mixins";
@use "../variables";

.flyout-sub-tabs-container {
  display: block;
  padding: 0 20px;
  @include mixins.screen-l {
    padding: 0 40px 0 20px;
  }
  button.return-to-form {
    color: variables.$flyout-tab-title-text-color;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    padding: 10px;
  }
}

.flyout-sub-tabs-label {
  font-size: variables.$font-size-large;
  color: variables.$gray-dark;
}


/* Checkboxes */
.flyout-radio-container-facet-count{
  margin-left: 5px;
}

.flyout-radio-container {
  width: 100%;
  padding: 0;
  font-size: variables.$font-size-medium;
  color: var(--primary-color);

  input[type=checkbox].with-font {
  }

  input[type=checkbox].with-font:checked {
  }

  input[type=checkbox].with-font ~ label {
    color: var(--primary-color);
    user-select: none;
  }

  input[type=checkbox].with-font:checked ~ label {
    color: variables.$gray-darker;
    margin-right: 0;
  }
}

.flyout-search {
  .flyout-radio-container {
    padding: 0 0 8px 0;
  }
}

/* Button Reset */

.wrapper-flyout {
  button.reset {
    align-items: center;
    background-color: variables.$gray-warm-dark;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: variables.$font-size-large;
    margin: 0 0 20px;
    outline: none;
    padding: 10px 15px;
    text-align: left;
    transition: background-color variables.$transition-duration;
    width: 100%;
  }

  button.reset.active,
  button.reset:hover {
    background-color: color.adjust(variables.$gray-warm-dark, $lightness: 10%);
  }

  button.reset > svg {
    margin-left: auto;
  }
}


/* Slider */

.rc-slider {
  height: 60px !important;
}

.rc-slider-track {
  background-color: var(--primary-color) !important;
}

.rc-slider-handle {
  border-color: var(--primary-color) !important;
}

.rc-slider-dot {
  border: 0 !important;
  background-color: color.adjust(variables.$gray-warm, $lightness: 20%) !important;
}

.rc-slider-dot-active {
  border: 0 !important;
  background-color: var(--primary-color) !important;
}

.rc-slider-rail {
  background-color: color.adjust(variables.$gray-warm, $lightness: 20%) !important;
}

.rc-slider-tooltip {
  z-index: 1000 !important;
}

.rc-slider-tooltip-inner {
  border-radius: 0 !important;
  box-shadow: none !important;
}
