.flyout {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
}

.flyout-top-nav {
  @include clearfix;
  color: $ui-background-color;
  cursor: pointer;
  float: left;
  font-size: $font-size-large;
  margin: 0;
  margin-left: 20px;
  padding: 6px 15px 0 0;
  transition: color $transition-duration;

  &.active {
    color: var(--primary-color);
  }
}

.flyout-tab {
  clear: left;
  display: block;
  margin-top: 2px;
  padding: 20px;
  background-color: $ui-background-color;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color $transition-duration;

  &:hover:not(.active) {
    background-color: $focus-color-dark;
  }

  &.admin {
    background-color: var(--editorial-color);
  }

  &.active {
    background-color: var(--primary-color);
  }

  &:focus {
    background-color: $focus-color-dark;
  }

  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  0%  {
    background-color: transparent;
    color: transparent;
  }
  25% {
    background-color: transparent;
    color: transparent;
    opacity: 0.25;
  }
  50% {
    background-color: $gray-warm;
    color: #fff;
    opacity: 0.50;
  }
  100% {
    background-color: $gray-warm;
    color: #fff;
    opacity: 1;
  }
}

.flyout-tab-title {
  clear: left;
  cursor: auto;
  display: block;
  font-size: 1.25rem;
  margin: 0;
  padding: 20px;
}

.flyout-search {
  margin: 0;
  padding: 0 20px;
  @include screen-l {
    padding: 0 25px 0 20px;
  }
}

.flyout-search{
  .flyout-search-input {
    background-color: $gray-paler;
    border: 1px solid $gray-dark;
    display: flex;
    margin-bottom: $base-unit;

    @include screen-xs-m {
      margin-bottom: 0;
    }
  }
  .search-input {
    flex-grow: 1;
    line-height: $base-unit;
    padding: (0.5 * $base-unit) 0 (0.5 * $base-unit) (0.5 * $base-unit);
  }
  ::placeholder {
    color: var(--primary-color);
  }
  .full {
    width: 100%;
  }
  .search-button {
    cursor: pointer;
    color: var(--primary-color);
    padding-left: 0.5 * $base-unit;
    padding-right: 0.5 * $base-unit;
    text-align: right;
    transition: color 0.3s;
    &:hover {
      color: $gray-light;
    }
  }
  .lonely-search-button {
    width: 100%;
    color: var(--primary-color);
    transition: color 0.3s;
    padding: 10px;
    border-top: 1px solid $gray-dark;
    border-bottom: 1px solid $gray-dark;
    border-right: 1px solid $gray-dark;
    background-color: $gray-paler;
    text-align: middle;
    margin-bottom: 40px;
    &:hover {
      color: $gray-light;
    }
  }
}
