@use "sass:color";
@use "../mixins";
@use "../variables";

form.default {
  header {
    margin: 0 0 20px 0;
  }
 .form-group {
    width: 100%;
    margin: variables.$base-unit 0 0;
    @include mixins.clearfix;
 }
  label {
    width: 100%;
    float: none;
    padding: 5px 0;
    @include mixins.screen-l {
      width: 25%;
      float: left;
      padding-right: 10px;
      margin-right: 3%;
      margin-bottom: 0;
    }
  }
  input,
  textarea,
  .richtextarea {
    width: 100%;
    border: 1px solid variables.$gray-medium;
    padding: 5px 10px;
    @include mixins.screen-l {
      width: 72%;
    }
  }
  .richtextarea {
    float: right;
  }
  textarea {
    min-height: 200px;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=password]:focus,
  textarea:focus {
    outline: 0;
    border-color: var(--primary-color);
  }
  input[type=submit], input[type=button] {
    margin-top: 15px;
    margin-left: 0;
    width: 100%;
    background-color: variables.$ui-background-color;
    transition: background-color variables.$transition-duration;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: color.adjust(variables.$ui-background-color, $lightness: 10%);
    }
    &.single-value {
      width: 48%;
    }
  }
  input[type=button] {
    background-color: variables.$gray-medium;
  }

  /* Checkboxes */

  input[type="checkbox"] {
    background: transparent;
    border: none;
    margin: 0 0 1rem 0;
    min-height: 1em;
    min-width: 1em;
    padding: 0;
    width: initial;
  }

  .is-option {
    background: variables.$gray-lighter;
    margin: 0;
    padding: 0.5rem;
    label {
      color: variables.$gray-dark;
    }
    input {
      border-color: variables.$gray-dark;
    }
  }

  .has-error {
    label {
      color: red;
    }
    input {
      border-color: red;
    }
  }

  .help-block {
    color: variables.$gray-dark;
    font-size: variables.$font-size-medium;
    line-height: variables.$base-unit;
    margin: 0;

    @include mixins.screen-l {
      margin-left: 28%;
    }

    &.annotation-confirmation-text {
      margin: 10px 0 5px 0;
    }
  }

  /* Register */
  .form-label {
    width: 100%;
    float: none;
    @include mixins.screen-l {
      width: 25%;
      float: left;
      margin-right: 3%;
      margin-bottom: 0;
    }
    label {
      width: 100%;
    }
  }
  .form-input {
    width: 100%;
  }

  select {
    background-image: none;
    background: transparent;
    border-radius: 0;
    border: 1px solid variables.$gray-medium;
    box-shadow: none;
    height: variables.$base-unit * 1.5;
    line-height: variables.$base-unit;
    padding: 5px 10px;
    width: 100%;

    @include mixins.screen-l {
      width: 72%;
    }
  }

  &.nested-form {
    padding: 3% 0;
    .Form-footer > * {
      flex-grow: 0;
    }
  }
}

.nested-scope {
  border: 1px solid variables.$gray-medium;
  padding: 1% 2%;
  margin-bottom: 2%;
  .nested-scope-element {
    margin: 1px 0;
  }
}

.register {
  .errors {
    border: 1px solid red;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: red;
  }
}
