div.account-page {
  div.account-page-header {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: $base-unit;

    h1 {
      margin: 0;
    }

    .account-actions {
      display: flex;
      gap: 0.5rem;

      .account-actions-icon {
        cursor: pointer;
      }
    }
  }

  div.user-registration {
    margin: 1.5rem 0;

    .box {
      padding: 0;

      p.detail {
        margin-bottom: 0.2rem;
      }
    }
  }
}
