default: &default

  available_locales:
    - de
    - en
    - ru
    # - alias
  
  default_locale: de

  # grid, list and/or map
  view_modes:
    - grid
    - list

  # use 2- or 3-letter country-code
  # have a look at https://github.com/alphabetum/iso-639 for possible methods
  alpha: 'alpha2'
  # alpha: 'alpha3_terminologic'
  
  media_streams:
    defaults:
      video: 480p
      audio: 192k
    video:
      240p: https://medien.cedis.fu-berlin.de/zwar/zwar/#{archive_id}/#{archive_id}_#{tape_count}_0#{tape_number}_sd240p.mp4
      480p: https://medien.cedis.fu-berlin.de/zwar/zwar/#{archive_id}/#{archive_id}_#{tape_count}_0#{tape_number}_sd480p.mp4
      720p: https://medien.cedis.fu-berlin.de/zwar/zwar/#{archive_id}/#{archive_id}_#{tape_count}_0#{tape_number}_sd720p.mp4
    audio:
      128k: https://medien.cedis.fu-berlin.de/zwar/zwar/#{archive_id}/#{archive_id}_#{tape_count}_0#{tape_number}_128k.mp3
      192k: https://medien.cedis.fu-berlin.de/zwar/zwar/#{archive_id}/#{archive_id}_#{tape_count}_0#{tape_number}_192k.mp3
      256k: https://medien.cedis.fu-berlin.de/zwar/zwar/#{archive_id}/#{archive_id}_#{tape_count}_0#{tape_number}_256k.mp3

  contribution_types:
    interviewee: 'interviewee'
    interviewer: 'interviewer'
    transcriptor: 'transcriptor'
    translator: 'translator'
    segmentator: 'segmentator'
    cinematographer: 'cinematographer'
    quality_manager: 'quality_manager'
    proofreader: 'proofreader' 

  upload_types:
    - bulk_metadata
    - bulk_texts
    - bulk_photo

  project_name: # Will be used in titles, emails, etc.
    de: 'Zwangsarbeit 1939-1945. Erinnerungen und Geschichte'
    en: 'Forced Labor 1939-1945. Memory and History'
    ru: 'Принудительный труд 1939-1945. Воспоминания и история'

  project_id: 'zwar'

  # used in PDFs
  # give the color code as fractions of 255
  # e.g. '143, 32, 28' ==> '0.560784314, 0.125490196, 0.109803922'
  primary_color_rgb: '0.560784314, 0.125490196, 0.109803922'

  project_shortname: 'ZWAR'

  project_initials: 'ZA' # Use two upper case initials. These will be used for file names, interview id's, etc. So please choose carefully. This cannot be changed later.

  project_domain: 'zwangsarbeit-archiv.de'

  archive_domain: 'archiv.zwangsarbeit-archiv.de'

  project_doi: '10.5072'

  cooperation_partner: "Stiftung 'Erinnerung, Verantwortung und Zukunft'"
  leader: "Apostolopoulos, Nicolas; Pickhan, Gertrud"
  manager: "Tausendfreund, Doris; Pagenstecher, Cord"
  hosting_institution: "Freie Universität Berlin, Universitätsbibliothek/Center für Digitale Systeme"
  funder_names: 
    - "Stiftung 'Erinnerung, Verantwortung und Zukunft'"

  # TODO: Umstellen russ. Links, s. kommentierte Links unten.
  external_links:
    conditions: #nutzungsbedingungen:
      de: 'http://www.zwangsarbeit-archiv.de/sammlung/nutzungsbedingungen/index.html'
      en: 'http://www.zwangsarbeit-archiv.de/en/sammlung/nutzungsbedingungen/index.html'
      ru: 'http://www.zwangsarbeit-archiv.de/ru/sammlung/nutzungsbedingungen/index.html'
    request_for_use: #nutzungsantrag:
      de: 'http://www.zwangsarbeit-archiv.de/sammlung/nutzungsbedingungen/archivmaterial/index.html'
      en: 'http://www.zwangsarbeit-archiv.de/en/sammlung/nutzungsbedingungen/archivmaterial/index.html'
      # ru: 'http://www.zwangsarbeit-archiv.de/ru/sammlung/nutzungsbedingungen/archivmaterial/index.html'
    privacy_protection: #datenschutzbestimmungen:
      de: 'http://www.zwangsarbeit-archiv.de/sammlung/nutzungsbedingungen/hinweise_zum_datenschutz/index.html'
      en: 'http://www.zwangsarbeit-archiv.de/en/sammlung/nutzungsbedingungen/hinweise_zum_datenschutz/index.html'
      ru: 'http://www.zwangsarbeit-archiv.de/en/sammlung/nutzungsbedingungen/hinweise_zum_datenschutz/index.html'
    annotation_guidelines:
      de: 'http://www.zwangsarbeit-archiv.de/sammlung/nutzungsbedingungen/anmerkungen-richtlinien/index.html'
      en: 'http://www.zwangsarbeit-archiv.de/en/sammlung/nutzungsbedingungen/anmerkungen-richtlinien/index.html'
      ru: 'http://www.zwangsarbeit-archiv.de/ru/sammlung/nutzungsbedingungen/anmerkungen-richtlinien/index.html'
    team:
      de: 'http://www.zwangsarbeit-archiv.de/team'
      en: 'http://www.zwangsarbeit-archiv.de/en/team'
      #ru: 'http://www.zwangsarbeit-archiv.de/ru/team'
    contact: #kontakt:
      de: 'http://www.zwangsarbeit-archiv.de/kontakt'
      en: 'http://www.zwangsarbeit-archiv.de/en/kontakt'
      ru: 'http://www.zwangsarbeit-archiv.de/ru/kontakt'
    legal_info: #impressum:
      de: 'http://www.zwangsarbeit-archiv.de/impressum'
      en: 'http://www.zwangsarbeit-archiv.de/en/impressum'
      ru: 'http://www.zwangsarbeit-archiv.de/ru/impressum'

  contact_email: 'mail@zwangsarbeit-archiv.de'

  smtp_server: 'mail.fu-berlin.de'

  # Interview partner properties usually depend on the historical context and must therefore be configured
  # on a per-project basis:
  # - To create a property from sub-entries of a registry entry, use the (default language) descriptor to identify the
  #   entry. The ID of the property will define the internal property name.
  # - To create a property from references of a certain reference type, use the registry reference code
  #   as ID. The clear name will be retrieved from the registry reference type table.
  # - Interview partner properties will be used as search facets when setting the facet property to 'true'. The order of
  #   entries is significant to determine in which order entries appear in the "search facet" section.
  # NB: Only properties from a 'registry entry' or 'registry reference type' source can be used as facet entries.

  metadata_fields: 
    - 
      name: person_reference
      source: registry_entry
    - 
      name: forced_labor_groups
      source: registry_entry
      display_on_landing_page: true
      use_as_facet: true
    - 
      name: forced_labor_fields
      source: registry_entry
      use_as_facet: true
    - 
      name: language
      source: language
      use_in_results_table: true
      label:
        de: Sprache
        en: Language
        ru: Язык
    - 
      name: language_id
      source: language
      use_as_facet: true
      label:
        de: Sprache
        en: Language
        ru: Язык
    -
      name: date_of_birth
      source: person
      use_in_details_view: true
      label:
        de: Geburtsdatum
        en: Date of Birth
    - 
      name: year_of_birth
      source: person
      use_as_facet: true
    - 
      name: gender
      source: person
      use_as_facet: true
      values: 
        female: female
        male: male
    - 
      name: collection_id
      source: collection
      use_as_facet: true
    - 
      name: media_type
      source: interview
      use_in_results_table: true
      use_as_facet: true
      label:
        de: Medientyp
        en: Media Type
        ru: Аудио/Видео
    - 
      name: birth_location
      source: registry_reference_type
      ref_object_type: Person
      display_on_landing_page: false
      use_as_facet: false
      label:
        de: Geburtsort
        en: Place of Birth
    - 
      name: forced_labor_habitations
      source: registry_entry
    - 
      name: home_location
      source: registry_reference_type
      ref_object_type: Person
      use_in_details_view: true
      use_as_facet: false
      label:
        de: Herkunftsort
        en: Home Location
    - 
      name: forced_labor_location
      source: registry_reference_type
      use_as_facet: false
    - 
      name: deportation_location
      source: registry_reference_type
      use_as_facet: false
    - 
      name: return_location
      source: registry_reference_type
      use_as_facet: false

  has_newsletter: true

  hidden_registry_entry_ids:
    - 28205
    - 28221
    - 28237

  pdf_registry_entry_codes:
    - camps
    - companies
    - people

development:
  <<: *default

production:
  <<: *default

staging:
  <<: *default

test:
  <<: *default

