{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 0.25%"
        },
        "useBuiltIns": "entry",
        "corejs": 2,
        "forceAllTransforms": true
      }
    ],
    "@babel/react"
  ],

  "env": {
      "test": {
        "presets": [
          [
            "@babel/preset-env"
          ],
          "@babel/react"
        ],
        "plugins": [
          "syntax-dynamic-import",
          [
            "transform-class-properties",
            {
              "spec": true
            }
          ]
        ]
      }
    },

  "plugins": [
    "syntax-dynamic-import",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
