{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 0.25%, not dead"
        },
        "useBuiltIns": "entry",
        "forceAllTransforms": true
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
