.idea/
/assets
config/database.yml
config/project.yml
config/project_config
log/
public/javascripts/translations.js
solr/data
sunspot-solr.pid
tmp/
/node_modules
solr/pids/
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
