.idea/
/assets
config/database.yml
config/datacite.yml
config/project.yml
config/project_config
log/
public/javascripts/translations.js
solr/data
solr/test/
solr/development/
solr/default/
solr/pids
tmp/
/node_modules
/public/assets
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
coverage
