.idea/
/assets
config/master.key
config/database.yml
config/datacite.yml
config/project.yml
config/project_config
log/
public/javascripts/translations.js
tmp/
/node_modules
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
coverage
.byebug_history
.vscode

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/.env

# Sunspot
solr/data
solr/test/data
solr/development/data
solr/default/data
solr/pids

/config/master.key

/.tool-versions
.devcontainer/logs
.devcontainer/db/*.sql.gz