<?xml version="1.0" encoding="utf-8"?>
<tt xmlns="http://www.w3.org/2006/10/ttaf1">
  <body>
    <div xml:id="captions">

      <% @tape.segments.each do |segment| %>

        <%= "<p begin='#{segment.raw_timecode}'><span class='caption_original'>#{segment.transcript}</span><span class='caption_translation'>#{segment.translation}</span></p>" %>

      <% end %>
    </div>
  </body>
</tt>