@use "../variables";

.ReachMenuItem {
  font-family: variables.$font-family;
  font-size: 0.875rem;
  line-height: variables.$base-unit;
}

[data-reach-listbox-popover] {
  z-index: variables.$z-index-listbox;
}
