/* Style the buttons that are used to open and close the accordion panel */
.flyout-search,
.flyout-video {
  button.accordion {
    background-color: transparent;
    color: $primary-color;
    cursor: pointer;
    padding: 10px 15px 10px 2px;
    width: 100%;
    border-top: 1px solid $gray-dark;
    text-align: left;
    outline: none;
    font-size: $font-size-larger;
    transition: 0.4s;
    margin-bottom: 2px;
    //border-bottom: 1px solid $gray-warm;
    //&.active,
    &:hover {
      //background-color: $secondary-color;
      color: $gray-dark;
    }
    &::after {
      font-family: FontAwesome;
      content: "\f067";
      float: right;
      font-size: $font-size-large;
    }
    &.active::after {
      content: "\f068";
    }
  }
  .panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    &.open {
      padding: 10px 0 30px 0;
      max-height: 100%;
      //padding-left: 20px;
      p {
        font-size: $font-size-large;
        line-height: $line-height-large;
        color: $gray-darkest;
        //padding: 0 0 0 20px;
        margin: 0 0 10px 0;
      }
      .flyout-content-label {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 5px;
        color: $gray-dark;
      }
      .flyout-content-data {
        display: inline-block;
      }
      a {
        color: $primary-color;
      }
      .fa {
        color: $primary-color;
        margin-right: 10px;
      }
      .flyout-sub-tabs-content-download {
        margin-top: 10px;
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}
