.logo-link {
  display: block;
  margin: 0;
  color: $primary-color;
  overflow: hidden;
  padding: $header-logo-padding;
  &:hover {
    text-decoration: none !important;
    color: $primary-color;
  }
  @include screen-m {
    max-width: 305px;
  }
}

.logo-img{
  display: block;
  max-width: 80%;
  max-height: 52px;
  @include screen-m {
    max-width: 100%;
  }
}

// .logo-text {
//   display: none;
//   margin: 26px 0 4px 0;
//   font-size: 36px;
//   text-transform: uppercase;
//   color: $primary-color;
//   @include screen-m {
//     display: none;
//   }
// }

.icon-open {
  color: $primary-color;
}