.lightbox {
  &.hidden {
    display: none;
  }
  /** Position and style */
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  //text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index:2000;
  .close:after {
    position: absolute;
    top:  1%;
    right: 0;
    font-family: FontAwesome;
    content: "\f00d";
    font-size: 1.5rem;
    color: $gray-medium;
    width: 1.5em;
  }
}

.any-button {
  margin-left: 0;
  width: 30%;
  background-color: #8b8b7a;
  color: #fff;
  padding: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
  @include screen-m {
    margin-left: 28%;
  }
  &:hover {
    background-color: lighten($gray-warm, 10%);
  }
}

.popup {
  background-color: #fff;
  width: 95%;
  height: 96%;
  margin: 2% auto;
  padding: 35px 15px 5px 15px;
  position: relative;
  overflow: auto;
  @include screen-m {
    width: 70%;
    height: 80%;
    margin: 10% auto;
    padding: 35px 30px 5px 30px;
  }
  @include screen-xl {
    width: 60%;
    height: 60%;
    //margin: 20% auto;
    padding: 35px 30px 5px 30px;
  }
  &.big{
    background-color: rgba(0,0,0,0.7);
    //opacity: 0.9;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .content {
      height: 100%;
    }
    .close:after {
      right: 0;
      width: 1.5em;
      height: 1.5rem;
      //background-color: black;
      color: #fff;
      font-size: 1.5rem;
      @include screen-m {
        width: 2em;
        height: 2rem;
        color: #fff;
        font-size: 1.8rem;
      }
    }
  }
  .content {
    position: relative;
    .details {
      .name {
        font-weight: bold;
      }
    }
  }
  h3 {
    margin-top: 0;
  }
}
.popup-segment-nav-container {
  width: 100%;
  overflow: hidden;
  margin: 0 0 15px 0;
  @include clearfix;
}
.popup-segment-nav-label {
  width: 100%;
  float: none;
  padding: 5px 0;
  @include screen-l {
    width: 25%;
    float: left;
    padding-right: 10px;
    margin-right: 3%;
    margin-bottom: 0;
  }
}
.popup-segment-nav-data{
  width: auto;
  padding: 0 10px;
  margin-top: 5px;
  color: $gray-dark;
  @include screen-l {
    width: 72%;
  }
}
.popup-segment-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-top: 5px;
  color: $gray-dark;
  float: none;
  @include screen-l {
    width: 72%;
    float: right;
  }
  .fa {
    color: $primary-color;
    cursor: pointer;
    &:hover {
      color: $gray-dark;
    }
    &.inactive {
      color: $gray-dark;
      cursor:default;
    }
  }
}
.popup-segment {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: rgba(255,250,129,0.7); //lighten($secondary-color, 30%);
  color: $gray-darkest;
}
.popup-segment-nav-befor {
  margin-right: 20px;
  display: inline-block;
}
.popup-segment-nav-after {
  margin-left: 0;
}
form.default label.publish-label {
  width: 50%;
  float: left;
  padding-right: 10px;
  margin-right: 0;
  @include screen-l {
    width: 25%;
    margin-right: 3%;
  }
}
form.default input[type=checkbox].publish-input {
  width: 50%;
  @include screen-l {
    width: auto;
  }
}
