<div class="baseListBox">
    <noscript><h4>Bitte aktivieren Sie JavaScript, um die navigatorischen Elemente auf der rechten Seite nutzen zu können.</h4></noscript>

    <h2 class="baseListBoxTitle">Interviews geordnet nach:</h2>
    <div class="fragmentTitle" onclick="Element.toggle('container36536032');Element.toggle('pfeilRechts36536032');Element.toggle('pfeilUnten36536032')">
      <h2>
        <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36536032" alt="Pfeil rechts" />
        <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36536032" alt="Pfeil unten" />
        Namen der Interviewten
      </h2>
    </div>
    <div style="display:none" id="container36536032">
      <ul>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/a-c.html">A-C</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/d-f.html">D-F</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/g-i.html">G-I</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/j-l.html">J-L</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/m-o.html">M-O</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/p-r.html">P-Q</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/s-u.html">S-U</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/v-x.html">V-X</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/y-z.html">Y-Z</a></li>
      </ul>
    </div>

    <div class="fragmentTitle" onclick="Element.toggle('container36527858');Element.toggle('pfeilRechts36527858');Element.toggle('pfeilUnten36527858')">
      <h2>
        <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36527858" alt="Pfeil rechts" />
        <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36527858" alt="Pfeil unten" />
        Gruppe
      </h2>
    </div>
    <div style="display:none" id="container36527858">
      <ul>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/germanisiertes-kind.html">Germanisierte Kinder</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/italienische-militaerinternierte.html">Italienische Militärinternierte</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/juedisch.html">Jude / Jüdin</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/kriegsgefangene.html">Kriegsgefangene</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/kz-haeftling.html">KZ-Häftling</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/ostarbeiter.html">Ostarbeiter / Ostarbeiterin</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/politisch-verfolgte.html">Politisch Verfolgte</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/religoesverfolgte.html">Religiös Verfolgte</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/service-du-travail-obligatoire.html">Service du travail obligatoire</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/sinti-und-roma.html">Sinti und Roma</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/zwangsarbeiter.html">Zwangsarbeiter / Zwangsarbeiterin</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/sonstige.html">Sonstige</a></li>
        <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/keine-angabe.html">keine Angabe</a></li>
      </ul>
    </div>

    <div class="fragmentTitle" onclick="Element.toggle('container35767687');Element.toggle('pfeilRechts35767687');Element.toggle('pfeilUnten35767687')">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts35767687" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten35767687" alt="Pfeil unten" />
            Einsatzbereich
        </h2>
    </div>
    <div style="display:none" id="container35767687">
        <ul>
            <li>
                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/bau-steine-erden.html">
                    Bau, Steine, Erden
                </a>
            </li>
        </ul>
    </div>

    <div class="fragmentTitle" onclick="Element.toggle('container36527900');Element.toggle('pfeilRechts36527900');Element.toggle('pfeilUnten36527900')">
        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36527900" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36527900" alt="Pfeil unten" />

            Unterbringung / Inhaftierung
        </h2>
    </div>

    <div style="display:none" id="container36527900">
        <ul>
            <li>
                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/arbeitsplatz.html">
                    am Arbeitsplatz
                </a>
            </li>
        </ul>
    </div>

    <div class="fragmentTitle" onclick="Element.toggle('container36527872');Element.toggle('pfeilRechts36527872');Element.toggle('pfeilUnten36527872')">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36527872" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36527872" alt="Pfeil unten" />
            Sprache
        </h2>
    </div>

    <div style="display:none" id="container36527872">
        <ul>
            <li>
                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/bosnisch.html">
                    Bosnisch
                </a>
            </li>
        </ul>
    </div>


    <div class="fragmentTitle" onclick="Element.toggle('container36527886');Element.toggle('pfeilRechts36527886');Element.toggle('pfeilUnten36527886')">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36527886" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36527886" alt="Pfeil unten" />
            Wohnort (Land)
        </h2>
    </div>
    <div style="display:none" id="container36527886">
        <ul>
            <li>
                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/belarus.html">
                    Belarus
                </a>
            </li>
        </ul>
    </div>

  

</div>