<div class="fragmentTitle" onclick="Element.toggle('fragment1');Element.toggle('pfeilUnten1');Element.toggle('pfeilRechts1')">
  <h2><%= image_tag("pfeil_rot_rechts.gif", :id => "pfeilRechts1", :title => "", :alt => "Pfeil rechts") %><%= image_tag("pfeil_rot_unten.gif", :id => "pfeilUnten1", :title => "", :alt => "Pfeil unten", :style => "display: none;") %>weitere Informationen zum Interview</h2>
</div>

<div id="fragment1" style="display:none">
  <table class="archivTable1">
  	<tr><th align="left" valign="top">Herkunft</th></tr>
		<tr><td align="left" valign="top">Belarus</td></tr>
		<tr><th align="left" valign="top">Herkunft – weitere Angaben</th></tr>
		<tr><td align="left" valign="top">Gebiet Witebsk, Lepel</td></tr>
		<tr><th align="left" valign="top">Staatsangehörigkeit</th></tr>
		<tr><td align="left" valign="top">Belarus</td></tr>
    <tr><th align="left" valign="top">Datum der Deportation/Verhaftung</th></tr>
    <tr><td align="left" valign="top">01/1941</td></tr>
		<tr><th align="left" valign="top">Ort der Deportation/Verhaftung</th></tr>
		<tr><td align="left" valign="top">Belarus</td></tr>
		<tr><th align="left" valign="top">Einsatzbereich – weitere Angaben</th></tr>
		<tr><td align="left" valign="top">Küche, Forstwirtschaft</td></tr>
		<tr><th align="left" valign="top">Unterbringung / Inhaftierung</th></tr>
		<tr>
      <td align="left" valign="top">
			 	<ul>
					<li>zu Hause</li>
          <li>Lager</li>
				</ul>
			</td>
		</tr>
		<tr><th align="left" valign="top">Strafmaßnahmen</th></tr>
		<tr><td align="left" valign="top">Holzeinschlagstelle im Wald</td></tr>
		<tr><th align="left" valign="top">Datum der Befreiung/Entlassung</th></tr>
		<tr><td align="left" valign="top">01/1943</td></tr>
  </table>
</div>
<!-- /noindex -->

<noscript>
  <table class="archivTable1">
  	<tr><th align="left" valign="top">Herkunft</th></tr>
		<tr><td align="left" valign="top">Belarus</td></tr>
		<tr><th align="left" valign="top">Herkunft – weitere Angaben</th></tr>
		<tr><td align="left" valign="top">Gebiet Witebsk, Lepel</td></tr>
		<tr><th align="left" valign="top">Staatsangehörigkeit</th></tr>
		<tr><td align="left" valign="top">Belarus</td></tr>
    <tr><th align="left" valign="top">Datum der Deportation/Verhaftung</th></tr>
    <tr><td align="left" valign="top">01/1941</td></tr>
		<tr><th align="left" valign="top">Ort der Deportation/Verhaftung</th></tr>
		<tr><td align="left" valign="top">Belarus</td></tr>
		<tr><th align="left" valign="top">Einsatzbereich – weitere Angaben</th></tr>
		<tr><td align="left" valign="top">Küche, Forstwirtschaft</td></tr>
		<tr><th align="left" valign="top">Unterbringung / Inhaftierung</th></tr>
		<tr>
      <td align="left" valign="top">
			 	<ul>
					<li>zu Hause</li>
          <li>Lager</li>
				</ul>
			</td>
		</tr>
		<tr><th align="left" valign="top">Strafmaßnahmen</th></tr>
		<tr><td align="left" valign="top">Holzeinschlagstelle im Wald</td></tr>
		<tr><th align="left" valign="top">Datum der Befreiung/Entlassung</th></tr>
		<tr><td align="left" valign="top">01/1943</td></tr>
  </table>
</noscript>

<div class="clear">&nbsp;</div>