<ul class="annotations-list">
    <% annotations.each do |annotation| -%>
    <li id="annotation_<%= annotation.media_id -%>" class="annotation" style="display: none;">
      <span class="author"><%= t(:label, :scope => "user_interface.annotations")-%> (<%=  annotation.author.sub(/(&mdash;|-)/, t(:editorial, :scope => "user_interface.annotations")) -%>)</span>
      <%= annotation.text %>
    </li>
    <% end -%>
</ul>

<% javascript_tag do %>
    var annotationsController = new AnnotationsDisplayController('annotations_overlay', 'interview-player', {});
<% end %>