p WO NAMEN EINSETZEN #{@interview.interviewees[0].first_name('ell')} #{@interview.interviewees[0].last_name('ell')}

p Οι συνεντεύξεις είναι μέρος του Αρχείου "Μνήμες από την Κατοχή στην Ελλάδα", που περιλαμβάνει περίπου 80 συνεντεύξεις με επιζώντες της γερμανικής Κατοχής στην Ελλάδα. Το πρόγραμμα "Μνήμες από την Κατοχή στην Ελλάδα" του Ελεύθερου Πανεπιστημίου του Βερολίνου πραγματοποιείται σε συνεργασία με το Εθνικό και Καποδιστριακό Πανεπιστήμιο Αθηνών.

p ÜBERSETZEN Zum Ansehen des Interviews müssen Sie sich in dem Interview-Archiv registrieren.
