- if interview.interviewees.first
  p The video interview with Helena is part of the interview archive "Forced Labor 1939-1945", which contains nearly 600 interviews with former forced laborers from 26 countries. It is made up of different sub-collections. These were funded by the Foundation "Remembrance, Responsibility and Future" and prepared by various institutions worldwide in the years 2005-2006.

p To watch the interview you have to be logged in or register in the interview archive.
