- if interview.interviewees.first
  p Das Video-Interview mit #{interview.anonymous_title(:de)} ist Teil des Online-Archivs "Zwangsarbeit 1939-1945", das knapp 600 Interviews mit ehemaligen Zwangsarbeiterinnen und Zwangsarbeitern aus 26 Ländern beinhaltet. Es setzt sich aus unterschiedlichen Teilsammlungen zusammen. Diese wurden, finanziert durch die Stiftung "Erinnerung, Verantwortung und Zukunft", in den Jahren 2005-2006 von verschiedenen Institutionen weltweit erstellt.

p Zum Ansehen des Interviews müssen Sie sich im Online-Archiv registrieren.
