- if interview.interviewees.first
  p Das Video-Interview mit #{interview.anonymous_title(:ru)} ist Teil des Interview-Archivs "#{Project.project_name['ru']}", die rund 80 lebensgeschichtliche Interviews mit Überlebenden und Zeug(inn)en der deutschen Okkupation in Griechenland beinhaltet. "#{Project.project_name['ru']}" ist ein Projekt der Freien Universität Berlin in Kooperation mit der nationalen und Kapodistrias-Universität Athen.

p Zum Ansehen des Interviews müssen Sie sich in dem Interview-Archiv registrieren.
