<h6 class="clear startGallery"><!-- Link "Bildergalerie starten" --><a href="#">Bildergalerie starten	(6 Bilder) &raquo;</a></h6>

<img src="/images/gallery_dummy.gif" title="" alt="" />

<noscript>
  <h4>
    JavaScript ist in Ihrem Browser deaktiviert. Bitte aktivieren Sie JavaScript.<br />
    Die Bildergalerie auf dieser Seite ist für die Darstellung mit JavaScript optimiert.
  </h4>
</noscript>

<!-- Links to further (i.e. No 2 and up) images for the slideshow -->
<!--
<a href="bild_ZA004_02/ZA004_02_550.jpeg" target="_blank" rel="lightbox[gallery]" title="Marija Grachowskaja am Interviewtag in ihrem Wohnzimmer"></a>
<a href="bild_ZA004_03/ZA004_03_550.jpeg" target="_blank" rel="lightbox[gallery]" title="Frau Grachowskaja mit ihrer Tochter und dem Vertreter der Romavereinigung, Alexander"></a>
<a href="bild_ZA004_04/ZA004_04_550.jpeg" target="_blank" rel="lightbox[gallery]" title="Ansicht des Hauses von Marija Grachowskaja"></a>
<a href="bild_ZA004_05/ZA004_05_550.jpeg" target="_blank" rel="lightbox[gallery]" title="Ansicht des Hauses von Marija Grachowskaja"></a>
<a href="bild_ZA004_06/ZA004_06_550.jpeg" target="_blank" rel="lightbox[gallery]" title="Ansicht des Hauses von Marija Grachowskaja"></a>
-->