<div id="containerHeadings" style="height: 300px; overflow-y: scroll; overflow-x: hidden; display: none;">
  <% if @interview.has_headings %>
    <% @interview.headings.each do |heading| %>
      <div id="heading_<%= heading.tape_id.to_s + "_" + heading.timecode %>" class="<%= heading.mainheading ? "mainheading" : "subheading" %>"><a href="#"><%= heading.title %></a></div>
    <% end %>
  <% else %>
    Für dieses Interview sind keine Überschriften vorhanden.
  <% end %>
</div>