<div id="containerSegments">
  <% if segments.empty? %>
    <%= t(:no_segments_result, :scope => 'user_interface.messages') %>
  <% else %>

    <!--<p><%#= matching_segments.size == 0 ? 'keine Ausschnitte' : pluralize(matching_segments.size, 'Ausschnitt', 'Ausschnitte') %> gefunden:</p>-->

    <ul>
    <% segments.each do |segment| %>
      <li id="<%= segment.media_id %>">
        <%= link_to_segment segment, @search.fulltext, true %>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>