<div id="containerSegments" style="height: 300px; overflow-y: scroll; overflow-x: hidden; display: none;">
  <% if !@interview.matching_segments.empty? %>
  <ul>
    <% @interview.matching_segments.each do |segment| %>
      <li id="<%= segment.media_id %>">
        <a href="#">
          <span class="timecode"><%= segment.timecode %></span>
          <%= segment.translation %>
        </a>
      </li>
    <% end %>
  </ul>
  <% else %>
    Für dieses Interview sind keine Treffer-Ausschnitte vorhanden.
  <% end %>
</div>
