<div id="containerSegments" style="height: 300px; overflow-y: scroll; overflow-x: hidden; display: none;">
  <% matching_segments = @search.matching_segments_for(@interview.archive_id) %>
  <% if matching_segments.empty? %>
    Für dieses Interview sind keine Treffer-Ausschnitte vorhanden.
  <% else %>
    <ul>
    <% matching_segments.each do |segment| %>
      <li id="<%= segment.media_id %>">
        <a href="#">
          <span class="timecode"><%= segment.timecode %></span>
          <%= segment.translation %>
        </a>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>
