<div class="credits">
  <p><strong>Interview:</strong> Filipkowski, Piotr</p>
  <p><strong>Transkript:</strong> Marta Szymańska</p>
  <p><strong>Übersetzung:</strong> k.A.</p>
  <p><strong>Erschließung:</strong> Florentine Schmidtmann, Magda Wolska, Magdalena Zeman</p>
</div>