<div class='teaserList'>

  <% if defined?(@search) && !@search.hits.blank? %>
  <h2><%= pluralize(@search.hits, Interview.human_name) %></h2>
  <%= zwar_paginate @interviews %>
  <% end %>

  <%= render :partial => '/interviews/result', :collection => @interviews || [], :locals => { :search => @search } %>

  <% if defined?(@search) && !@search.hits.blank? %>
  <%= zwar_paginate @interviews %>
  <% end %>

  <% javascript_tag do %>
    function showSegment(archiveID, mediaID) {
      $$('#interview_' + archiveID + '_segments .segment').each(function(el){
        el.removeClassName('visible');
      });
      $$('#interview_' + archiveID + '_segments .segment_pagination li').each(function(el) {
        el.removeClassName('current');
      });
      $(mediaID).addClassName('visible');
      $(mediaID + '_link').addClassName('current');
    };
  <% end %>

</div>