.logo-link {
  color: var(--primary-color);
  display: block;
  max-width: 15rem;
  width: 80%;

  @include screen-m {
    max-width: 19rem;
  }
}

.logo-img {
  display: block;
  width: 100%;
}

.logo-link:hover {
  text-decoration: none !important;
}
