<h1>Benutzerstatistik</h1>

<h2>Länderherkunft, Beruf und Rechercheanliegen</h2>

<p>Die aktuelle Benutzerstatistik kann als CSV-Datei heruntergeladen werden:</p>

<p><%= link_to 'Aktuelle Benutzerstatistik', admin_user_statistics_url(:format => :csv) %></p>