
.slick-slide {
  height: 100% !important;
  overflow: hidden;
  background-color: #333;
  text-align: center !important;
  img {
    vertical-align: middle;
    margin: 0 auto;
    max-width: 100% !important;
    max-height: 100% !important;
  }
}
.slick-list {
  height: 90% !important;
}
.slick-slider {
  height: 100% !important;
}
.slick-track {
  height: 100% !important;
}
.slick-dots {
  bottom: auto !important;
}



.slick-prev {
  left: 25px !important;
  z-index: 3100;
}
[dir='rtl'] .slick-prev {
  right: auto !important;
  left: 25px;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: 25px !important;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: 25px !important;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}


.slick-dots li button:before {
  font-size: 15px !important;
  line-height: 30px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #000;
}

.slick-next:before,
.slick-prev:before {
  font-size: 30px !important;
  line-height: 1;
  opacity: .75;
  color: #fff;
}