// structure

// Reset the box-sizing

* {
  @include box-sizing-border-box;
}

*:before,
*:after {
  @include box-sizing-border-box;
}

html {
  font-size: $font-size-root;
}

body {
  margin: 0;
  overflow-y: scroll;
  font-family: $font-family;
  color: $gray-darkest;
  background: $body-bg-color;
  font-size: $font-size-large;
  line-height: $line-height-large;
}

.wrapper-page {
  margin: 0;
  @include screen-xl {
    float: left;
    width: 70%;
    border-right: 1px solid $gray-light;
  }
}

.wrapper-section {
  padding: 0 10%;
}

.wrapper-section-inner {}

header.site-header {
  height: 80px;
  background: #fff;
  padding: 0 10%;
  @include screen-m {
    height: 100px;
  }
}

.wrapper-content {
  padding: 50px 10%;
  @include clearfix;
}

.flyout-is-visible {
  &.fix-video {
    .wrapper-video {
      @include screen-xl {
        right: 30%;
      }
    }
    .content-tabs {
      @include screen-xl {
        right: 30%;
      }
    }
  }
}

.flyout-is-visible {
  .wrapper-flyout {
    width: 100%;
    //padding: 30px;
    @include screen-m {
      width: 50%;
    }
    @include screen-l {
      width: 40%;
    }
    @include screen-xl {
      width: 30%;
    }
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(#e8e8e4, 0.95);
    @include screen-xl {
      border-left: 1px solid $gray-light;
      border: 0 none;
    }
    @include screen-xl {
      display: block !important;
    }
    overflow: scroll;
    p {
      font-size: $font-size-medium;
      color: $gray-medium;
      //background: $gray-lightest;
      padding: 20px;
    }
  }


  .flyout-toggle {
    @include screen-xl {
      display: none;
    }
  }
}

.flyout-is-hidden {
  .wrapper-flyout{
    display: none;
  }
  &.fix-video {
    .flyout-toggle {
      color: #fff;
    }
  }
}

.fix-video {
  .wrapper-video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 160px;

    // -webkit-transition: height 1s;
    // -moz-transition: height 1s;
    // -ms-transition: height 1s;
    // -o-transition: height 1s;
    // transition: height 1s;

    //  -webkit-transition: height .1s linear;
    // -moz-transition: height .1s linear;
    // -ms-transition: height .1s linear;
    // -o-transition: height .1s linear;
    // transition: height .1s linear;

    .video-element {
      margin: 0;
      video, img {
        height: 100px;
        width: auto;
      }
      float: left;
    }
    .video-title {
      display: inline-block;
      margin-left: 30px;
      font-size: 20px;
    }
  }
  .content-tabs {
    position: fixed;
    top: 160px;
    left: 0;
    right: 0;
  }
  .wrapper-content {
    margin-top: 250px;
  }
}

.wrapper-video {
  padding: 30px 10%;
  height: auto;
  background: $gray-darkest;
  color: #fff;
  // -webkit-transition: max-height 1s;
  // transition: max-height 1s;
}

.video-title {
  color: #fff;
  margin-top: 0;
  font-weight: normal;
  // font-size: $font-size-largest;
}

.video-element {
  margin: 0;
  @include screen-m {
    margin: 0 7.5%;
  }
  @include screen-l {
    margin: 0 15%;
  }
  video, img {
    width: 100%;
  }
}

footer {
  background: $gray-dark;
  padding: 30px 10%;
}

.footer-bottom-nav {
  margin: 0;
  padding: 0;
  font-size: $font-size-medium;
  li {
    background-image: none;
    display: inline-block;
    padding: 0 15px 0 0;
  }
  a:link,
  a:visited {
    color: #fff;
    transition: color 0.3s;
  }
  a[href]:hover, a:active {
    text-decoration: none;
    color: #ccc;
  }
  .lang {
    border: 2px solid lighten($gray-warm, 10%);
    padding: 6px;
  }
  p {
    margin-top: 10px;
    //border-top: 1px solid #ddd;
    padding-top: 5px;
    color: #ddd;
  }
}



.flyout-top-nav-container {
  background: lighten($gray-warm, 30%);
  height: 100px;
  margin: 0;
  padding: 46px 10px 0 15px;
}

.flyout-top-nav {
  margin: 0;
  padding: 0;
  font-size: $font-size-large;
  li {
    background-image: none;
    display: inline;
    padding: 0 15px 0 0;
  }
  a:link,
  a:visited {
    color: #666;
    transition: color 0.3s;
    transition: border-color 0.3s;
  }
  a[href]:hover, a:active {
    text-decoration: none;
    color: #222;
    border-color: #666;
  }
  .lang {
    border: 2px solid lighten($gray-warm, 10%);
    padding: 6px;
  }
}

.flyout-toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 26px;
  z-index: 100;
  cursor: pointer;
}

.flyout-tab {
  background: $gray-warm;
  padding: 10px 15px;
  display: block;
  margin-top: 2px;
  color: #fff;
  font-size: $font-size-larger;
  &.active {
    background: $secondary-color;
    color: $gray-darkest;
  }
}


.flyout-caption {
  margin-top: 0;
  margin-bottom: 25px;
}

// .search-result {
//   width: 100%;
//   @include screen-m {
//     width: 50%;
//   }
//   @include screen-l {
//     width: 33.33%;
//   }
//   float: left;
//   padding: 40px 30px 0 0;
//   font-size: $font-size-medium;

//   @include screen-m {
//     height: 320px;
//   }
//   img {
//     width: 100%;
//   }
// }

/* Search-Result */

h1.search-results-title {
  margin-top: 0;
}

.search-result-legend {
  margin: 40px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid $gray-dark;
  @include pie-clearfix;
}
.search-result-legend-ico {
  float: right;
  .fa {
    color: $primary-color;
  }
  a:link, a:visited {
    color: $primary-color;
    transition: color 0.3s;
  }
  a[href]:hover, a:hover, a:active {
    text-decoration: none;
    color: $gray-medium;
  }
}
.search-result-legend-text {
  float: left;
}

.search-results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 -20px;
  a:link, a:visited {
    color: $primary-color;
    transition: color 0.3s;
  }
  a[href]:hover, a:hover, a:active {
    text-decoration: none;
    color: $gray-medium;
  }
}
a.search-result-link {
  img, p {
    opacity: 1;
    transition: opacity 0.3s;
  }
  &:hover {
    img, p {
      opacity: 0.7;
    }
    .search-result-name {
      color: #666;
    }
  }
}

a.search-result-ico-link {
  .fa {
    color: $primary-color;
    margin-right: 10px;
    transition: color 0.3s;
  }
  &:link, &:visited {
    color: $primary-color;
    transition: color 0.3s;
  }
  &:hover {
    .fa {
      color: #666;
    }
  }
}

.search-result {
  width: 100%;
  @include screen-m {
    width: 50%;
  }
  @include screen-l {
    width: 33.33%;
  }
  margin: 0 0 30px;
  padding: 0 20px;
  img {
    width: 100%;
  }
}

.search-result-img {
  margin-bottom: 10px;
}

.search-result-name {
  font-size: $font-size-larger;
  color: $primary-color;
}

.search-result-data {
  font-size: $font-size-large;
  color: $gray-dark;
  margin-bottom: 0;
}

.search-result-data-inf {
  margin-left: 10px;
  color: $gray-darkest;
}

/* form elements */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
select {
  text-transform: none;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 0;
}

textarea {
  resize: none;
}

