@import "../../bundles/archive/stylesheets/variables";

.gallery {
  background-color: $gray-dark;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 5px 10px;
}

.thumbnail {
  border: none;
  cursor: pointer;
  flex-grow: 0;
  height: 100px;
  margin: 0.125rem !important;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100px;
}

.thumbnail::after {
  align-items: center;
  background: rgba(0,0,0,0.7);
  bottom: 0;
  color: #fff;
  content: '\f065';
  cursor: pointer;
  display: flex;
  font-family: FontAwesome;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-in;
}

/* Experimental */
.thumbnail:focus,
.thumbnail:hover
{
  outline: none;
  box-shadow: 0 0 0 0.25rem $focus-color;
}

.thumbnail:focus::after,
.thumbnail:hover::after {
  opacity: 1;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
