.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.admin {
  align-self: center;
  margin-bottom: 1.5rem;
}

.image {
  flex-grow: 1;
  min-height: 50px;
}

.editButton {
  margin-right: 0.75rem;
}
