.portlet fieldset {
	/*background: #eee;*/
	border: none;
	padding: 0px;
	margin: 10px 0 10px 0;
}

.portlet input.checkbox {
	float: left;
	padding: 3px 0px 3px 5px;
	margin-right: 5px;
}

.portlet input.radio {
	float: left;
	padding: 3px 0px 3px 5px;
	margin-right: 5px;
}

.portlet input.text {
	float: right;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 360px;
	padding: 3px 0px 3px 5px;
	margin-bottom: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.portlet input.text_row {
	float: left;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 360px;
	padding: 3px 0px 3px 5px;
	margin-bottom: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.portlet input.text:hover, #pmDefaultForm input.text:focus {
	border: 1px solid #999;
}

.portlet label {
	float: left;
	margin: 2px 0 0 0;
	width: 177px;
}

.portlet label.checkbox_row {
	float: left;
	margin: 2px 0 0 0;
	width: 500px;
}

.portlet label.radio_row {
	float: left;
	margin: 2px 0 0 0;
	width: 30px;
}

.portlet label.row {
	float: left;
	margin: 2px 0 0 0;
	width: 500px;
}

.portlet legend {
	display: none;
}

.portlet optgroup, option {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-style: normal;
}

.portlet p {
	margin: 0 0 6px 0;
	padding: 0;
}

.portlet select {
	float: left;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 200px;
	padding: 3px 3px 3px 5px;
	margin-bottom: 6px;
	margin-right: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.portlet select:hover, textarea:focus {
	border: 1px solid #999;
}

.portlet textarea {
	/*float: right;*/
	background-color: #fff;
	border: 1px solid #ccc;
	width: 536px;
	padding: 3px 0px 3px 5px;
	margin-bottom: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.portlet textarea:hover, textarea:focus {
	border: 1px solid #999;
}

.portlet .clear {
	clear: both;
}

.portlet .required {
	color: #c00;
	font-weight: bold;
}

.portlet #reset {
	float: left;
	width: 270px;
	background-color: #666;
	border: none;
	color: #fff;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	padding: 4px 0px 3px 5px;
}

.portlet #reset:hover, #reset:focus {
	background-color: #333;
}

.portlet #submit {
   float: left;
	width: 146px;
	background-color: #b2afa1;
	border: none;
	color: #fff;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	padding: 4px 0px 3px 4px;
	margin: 0 0 0 0px;
}

.portlet #submit:hover, #submit:focus {
	background-color: #8b0f09;
}

/*
 * ChangePasswordPortlet specifics
 */

.changePasswordPortlet input.text {
    width: 260px;
}

.changePasswordPortlet fieldset {
    width: 450px;
    padding: 8px;
}

.changePasswordPortlet #submit {
    width: 110px;
}

.changePasswordPortlet p.message {
    background: #eee;
    border: 1px solid #ccc;
    padding: 8px;
}


/*
 * LogoutPortlet specifics
 */

.logoutPortlet {
	padding-left: 0px;
}

.logoutPortlet fieldset {
	width: 224px;
	padding: 0 0 10px 0;
}

.logoutPortlet #submit {
	width: 150px;
}

/* login / password change */
form.signup #user_account_login,
form.signup #user_account_password,
form #user_account_email {
    width: 220px;
}


/* New Form Styles */
#flashNotice {
    color: #fff;
}

#flashAlert {
    color: #8B0F09;
    padding: 0 0 0.33em 0;
    margin-bottom: 0.66em;
    border-bottom: 1px solid #999281;
}

h1.formHeader,
h2.formHeader,
h3.formHeader,
h4.formHeader,
h5.formHeader {
    margin-bottom: 0;
    padding: 3px 20px 4px;
    display: inline;
    float: left;
    position: relative;
    top: 1px;
    z-index: 10;
}

#innerContent form {
    position: relative;
    background-color: #E4E4DA;
    margin: 5px 0;
    padding: 12px;
    min-width: 40%;
    display: inline-block;
    float: left;
    clear: left;
}

#innerContent form span {
    float: left;
    clear: left;
    line-height: 100%;
    margin-bottom: 0.5em;
}

#innerContent form + .additionalOptions {
    float: left;
    margin-left: 20px;
    padding-top: 3px;
}

#innerContent .additionalOptions a {
    padding-top: 3px;
    margin-bottom: 20px;
}

#innerContent form input[type=text],
#innerContent form input[type=password],
#innerContent form textarea {
    background-color: #fff;
    margin-bottom: 0.33em;
    color: #666666;
    border:1px solid #666666;
}

#innerContent form input[type=submit] {
    color: #fff;
    background-color: #840f08;
    margin-top: 8px;
    padding: 0.25em 0.5em;
    border: 0px none;
    font-size: 90%;
    cursor: pointer;
}

form.signup {
    display: block;
    width: 320px;
    height: 135px;
}

form .link {
    float: right;
    clear: right;
    margin-top: 15px;
}

form .flashAlert {
    color: #840f08;
}

form.signup .link {
    position: absolute;
    bottom: 10px;
    right: 12px;
}

#registration_link {
    font-weight: bold;
}

/* User Registration Form */
form.user_registration label {
    padding-right: 0.5em;
}

form.user_registration td {
    padding: 0.15em 0;
}

form.user_registration input[type=text],
form.user_registration textarea {
    width: 380px;
}

form.user_registration textarea {
    height: 100px;
}

.formLabel .fieldWithErrors label {
    color: #840f08;
}

#innerContent .formInput div.fieldWithErrors input[type=text],
#innerContent .formInput div.fieldWithErrors textarea,
#innerContent .formInput div.fieldWithErrors select {
    border-color: #990000;
}

#errorExplanation ul li {
  color: #8B0F09;
}