.portlet fieldset {
	/*background: #eee;*/
	border: none;
	padding: 0px;
	margin: 10px 0 10px 0;
}

.portlet input.checkbox {
	float: left;
	padding: 3px 0px 3px 5px;
	margin-right: 5px;
}

.portlet input.radio {
	float: left;
	padding: 3px 0px 3px 5px;
	margin-right: 5px;
}

.portlet input.text {
	float: right;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 360px;
	padding: 3px 0px 3px 5px;
	margin-bottom: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.portlet input.text_row {
	float: left;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 360px;
	padding: 3px 0px 3px 5px;
	margin-bottom: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.portlet input.text:hover, #pmDefaultForm input.text:focus {
	border: 1px solid #999;
}

.portlet label {
	float: left;
	margin: 2px 0 0 0;
	width: 177px;
}

.portlet label.checkbox_row {
	float: left;
	margin: 2px 0 0 0;
	width: 500px;
}

.portlet label.radio_row {
	float: left;
	margin: 2px 0 0 0;
	width: 30px;
}

.portlet label.row {
	float: left;
	margin: 2px 0 0 0;
	width: 500px;
}

.portlet legend {
	display: none;
}

.portlet optgroup, option {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-style: normal;
}

.portlet p {
	margin: 0 0 4px 0;
	padding: 0;
}

.portlet select {
	float: left;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 200px;
	padding: 3px 3px 3px 5px;
	margin-bottom: 6px;
	margin-right: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.portlet select:hover, textarea:focus {
	border: 1px solid #999;
}

.portlet textarea {
	/*float: right;*/
	background-color: #fff;
	border: 1px solid #ccc;
	width: 536px;
	padding: 3px 0px 3px 5px;
	margin-bottom: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.portlet textarea:hover, textarea:focus {
	border: 1px solid #999;
}

/* Link zur Arbeitsmappe */
.portlet a.workbook {
    padding-left: 20px;
    padding-top: 2px;
    background-image: url('/images/icon_sprite.png');
    background-repeat: no-repeat;
    background-position: top left;
    font-weight: bold;
}

.portlet .clear {
	clear: both;
}

.portlet .required {
	color: #c00;
	font-weight: bold;
}

.portlet #reset {
	float: left;
	width: 270px;
	background-color: #666;
	border: none;
	color: #fff;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	padding: 4px 0px 3px 5px;
}

.portlet #reset:hover, #reset:focus {
	background-color: #333;
}

.portlet #submit {
   float: left;
	width: 146px;
	background-color: #b2afa1;
	border: none;
	color: #fff;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	padding: 4px 0px 3px 4px;
	margin: 0 0 0 0px;
}

.portlet #submit:hover, #submit:focus {
	background-color: #8b0f09;
}

/*
 * ChangePasswordPortlet specifics
 */

.changePasswordPortlet input.text {
    width: 260px;
}

.changePasswordPortlet fieldset {
    width: 450px;
    padding: 8px;
}

.changePasswordPortlet #submit {
    width: 110px;
}

.changePasswordPortlet p.message {
    background: #eee;
    border: 1px solid #ccc;
    padding: 8px;
}


/*
 * LogoutPortlet specifics
 */

.logoutPortlet {
	padding-left: 0px;
    z-index: 50;
}

.logoutPortlet fieldset {
	width: 324px;
	padding: 0 0 10px 0;
}

.logoutPortlet #submit {
	width: 150px;
}

/* login / password change */
form.signup #user_account_login,
form.signup #user_account_password,
form #user_account_email {
    width: 220px;
}


/* New Form Styles */
#flashNotice {
    color: #fff;
    background: transparent url('/images/flash_bg.png') top left;
}

#flashAlert {
    color: #8B0F09;
    padding: 0 0 0.33em 0;
    margin-bottom: 0.66em;
    border-bottom: 1px solid #999281;
}

h1.formHeader,
h2.formHeader,
h3.formHeader,
h4.formHeader,
h5.formHeader {
    margin-bottom: 0;
    padding: 3px 20px 4px;
    display: inline;
    float: left;
    position: relative;
    top: 1px;
    z-index: 10;
}

#innerContent form {
    position: relative;
    background-color: #E4E4DA;
    margin: 5px 0;
    padding: 12px;
    width: 40%;
    min-width: 40%;
    display: inline-block;
    float: left;
    clear: left;
}

#innerContent form.user_registration,
#innerContent form.edit_user_registration {
    width: auto;
}

#innerContent form span {
    float: left;
    clear: left;
    line-height: 100%;
    margin-bottom: 0.5em;
}

#innerContent form + .additionalOptions {
    float: left;
    margin-left: 20px;
    padding-top: 3px;
}

#innerContent .additionalOptions a {
    padding-top: 3px;
    margin-bottom: 20px;
}

#innerContent form input[type=text],
#innerContent form input[type=password],
#innerContent form textarea {
    background-color: #fff;
    margin-bottom: 0.33em;
    color: #666666;
    border:1px solid #666666;
}

#innerContent form input[type=submit] {
    color: #fff;
    background-color: #840f08;
    margin-top: 8px;
    padding: 0.25em 0.5em;
    border: 0px none;
    font-size: 90%;
    cursor: pointer;
}

form.signup {
    display: block !important;
    height: 135px;
}

form .link {
    float: right;
    clear: right;
    margin-top: 15px;
}

form .flashAlert {
    color: #840f08;
}

form.signup .link {
    position: absolute;
    bottom: 18px;
    right: 12px;
}

#registration_link {
    font-weight: bold;
}

/* User Registration Form */
form.user_registration label {
    padding-right: 0.5em;
}

form.user_registration td {
    padding: 0.15em 0;
}

form.user_registration td.formLabel {
    width: 152px;
}

form.user_registration td.formLabel.textarea {
    vertical-align: top;
}

form.user_registration input[type=text],
form.user_registration textarea {
    width: 380px;
}

form.user_registration textarea {
    height: 100px;
}

.formLabel .fieldWithErrors label {
    color: #840f08;
}

#innerContent .formInput div.fieldWithErrors input[type=text],
#innerContent .formInput div.fieldWithErrors textarea,
#innerContent .formInput div.fieldWithErrors select {
    border-color: #990000;
}

#errorExplanation {
    margin-bottom: 0.5em;
}

#errorExplanation ul li {
  color: #8B0F09;
}

/* admin-area */

/* User Management Table */

table.userTable {
  width: 100%;
}

tr.userTable {

}

tr.userTableEven {
  background-color: #E4E4DA;
}

th.userTable {
  font-size: 8pt;
  font-weight: bold;
  text-align: left;
  border-bottom: dotted 1px #000000;
}

td.userTable,
td.userTableLabel {
  padding: 5px;
}

td.userTableLabel {
  font-weight: bold;
}

td.userTableField {

}

td.userTableButtons {
  text-align: right;
}

td.userTableList, th.userTableList {
  border-bottom: dotted 1px #000000;
}

a.userTableButtonLink {
  background-color: #840F09;
  color: #ffffff;
  border: 1px solid #840F09;
  padding: 2px;
  font-size: 80%;
  text-decoration: none;
}

a.userTableButtonLink:hover {
  background-color: #fff;
  color: #8B0F09;
  border: 1px solid #999281;
}

/* User Info */
.edit_user_registration .userTable strong {
    width: 100%;
    display: block;
    font-weight: normal;
    font-size: 85%;
    line-height: 110%;
    color: #999281;
}

.userTable td {
    vertical-align: top;
    padding: 0.4em 1.33em 0.1em 0;
}

.userTable .underlined td {
    border-bottom: 2px solid #F1F1EB;
}

.userTable textarea {
    font-size: 85%;
    padding: 2px;
    font-family: Arial,Helvetica,sans !important;
}

#workflow_actions {
    position: relative;
}

#workflow_actions a {
    float: left;
    margin-right: 0.66em;
}

#workflow_actions #reject_user_registration,
#workflow_actions #postpone_user_registration,
#workflow_actions #expire_user_registration,
#workflow_actions #remove_user_registration {
    float: right;
    margin-right: 0;
    margin-left: 0.66em;
}

#workflow_actions #reject_user_registration input,
#workflow_actions #postpone_user_registration input,
#workflow_actions #expire_user_registration input,
#workflow_actions #remove_user_registration input {
    background-color: #b2afa1;
    border-top: 1px solid #b2afa1;
    border-left: 1px solid #b2afa1;
    border-right: 1px solid #b2afa1;
    color: #660000;
}

hr.user-divider {
	border: none;
	border-bottom: solid 1px #F1F1EB;
	height: 1px;
	margin: 4px 0 4px 0;
}

.tooltip {
    display: none;
    z-index: 100;
    background-color: #fff;
    color: #8B0F09;
    font-size: 85%;
    border: 1px solid #999999;
    padding: 0.66em;
    position: absolute;
    top: 30px;
    left: -128px;;
    width: 380px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -moz-opacity: .90;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

a.tooltipButton {
   display: block;
   text-decoration: none;
}

.tooltipButton:hover .tooltip {
    display: block;
}

.edit_user_registration #workflow_actions .tooltipButton input {
    border-top: 1px solid #840F08;
    border-left: 1px solid #840F08;
    border-right: 1px solid #840F08;
}

#workflow_actions #register_user_registration.tooltipButton:hover input,
#workflow_actions #activate_user_registration.tooltipButton:hover input,
#workflow_actions #postpone_user_registration.tooltipButton:hover input,
#workflow_actions #expire_user_registration.tooltipButton:hover input,
#workflow_actions #reject_user_registration.tooltipButton:hover input,
#workflow_actions #deactivate_user_registration.tooltipButton:hover input,
#workflow_actions #reactivate_user_registration.tooltipButton:hover input,
#workflow_actions #resend_info_user_registration.tooltipButton:hover input,
#workflow_actions #remove_user_registration.tooltipButton:hover input {
    color: #8B0F09;
    background-color: #fff;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    z-index: 200;
}