/* @override http://10.211.55.3:3000/stylesheets/eaz-content.css?1260354827 */

/*
	-----------------------------------------------------------------------------
	Freie Universitaet Berlin:
	Stilvorlagen fuer spezielle Elemente im Contentbereich

	Autor: CeDiS, http://www.cedis.fu-berlin.de, cms@cedis.fu-berlin.de
	Datum: 02.06.2008
	-----------------------------------------------------------------------------


	Update 12.01.2009: Expand-Klasse fuer Ausklapp-Elemente bei Interviews
	Update 19.01.2009: Klassen fuer Archiv Metadaten, abstract Klasse
*/

/*
  Mitarbeiterseiten
------------------------------------------------------------------------------------
*/

.imgStaffRight {
  float: right;
  margin: 12px 12px 12px 0;
  padding: 0;
}

.imgStaffRight img {
  border: 0px;
  background-color: #e6e6dc;
  padding: 2px;
}

.imgStaffLeft {
  float: left;
  margin: 12px 0 12px 12px;
  padding: 0;
  width: 713px;
}

.imgStaffLeft img {
  border: 0px;
  background-color: #e6e6dc;
  padding: 2px;
}

/*
Spezielle Anweisungen fur die Positionierung von Bildern im Inhaltsbereich
-------------------------------------------------------------------------------------------------------------
*/

.contentImagesRight {
  float: right;
  margin: 6px 0px 8px 12px;
}

.contentImagesLeft {
  float: left;
  margin: 6px 12px 8px 0px;
}

.contentImage300 img, .contentImage200 img, .contentImage150 img {
  padding: 1px;
  border: 1px solid #ccc;
}

.contentImage300 {
  margin: 0 0 12px 0;
  background-color: #e6e6dc;
  padding: 4px;
  width: 304px;
  overflow: hidden;
}

.contentImage300 h6 {
  width: 300px;
  margin: 4px 0 4px 0;
}

.contentImage200 {
  margin: 0 0 12px 0;
  background-color: #e6e6dc;
  padding: 4px;
  width: 204px;
  overflow: hidden;
}

.contentImage200 h6 {
  width: 200px;
  margin: 4px 0 4px 0;
}

.contentImage150 {
  margin: 0 0 12px 0;
  background-color: #e6e6dc;
  padding: 4px;
  width: 154px;
  overflow: hidden;
}

.contentImage150 h6 {
  width: 150px;
  margin: 4px 0 4px 0;
}

.contentImagesLeft a:hover {
    text-decoration: none;
}

.contentImagesLeft a .meta {
    color: #666666;
    font-size: 90%;
    line-height: 100%;
}

h5 {
  margin: 8px 0 4px 0px;
  background: #e6e6dc;
  padding: 4px 8px 4px 8px;
  width: 97%;
}

/*  Expand-Klasse fuer Ausklapp-Elemente bei Interviews*/

.fragmentTitle {
  cursor: pointer;
}

#baseContent .fragmentTitle {
  color: #666666;
  padding: 0;
  margin: 0;
}

#baseContent .fragmentTitle h2 {
  color: #666666;
  background: #e6e6dc;
  padding: 4px 8px 4px 4px;
  border-top: 1px solid #ac3131;
  width: 660px;
}

#baseContent .fragmentTitle img {
  padding: 0px 10px 0 0;
}

/*  End Expand */

.intervieweeTitle {
  width: 100%;
  float: left;
  position: relative;
  margin: 0 0 20px 0;
  vertical-align: bottom;
}

.intervieweeTitle h1,
.intervieweeTitle p {
  float: left;
  width: auto !important;
  margin-right: 0.33em;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 18px;
}

/* Styling Tabs */

#tabsVideo ul {
  margin: 0;
  padding: 0;
}

#tabsVideo ul li {
  border: 1px solid #ac3131;
  width: 189px;
  padding: 0 0 0 10px;
  height: 22px;
  float: left;
  background-color: #8b0f09;
  cursor: pointer;
  font-size: 95%;
  list-style: none;
  background-image: none;
}

#tabsVideo li p {
  padding: 2px 0 0 0;
  color: #999;
}

#tabsVideo li:hover {
  background-color: #fff;
  color: #8b0f09;
}

#tabsVideo li:hover p {
  color: #8b0f09;
}

#tabsVideo li.active {
  background-color: #8b0f09;
  color: #fff;
}

#tabsVideo li.active p {
  color: #fff;
}

#tabsVideo  p {
  color: #999;
}

.containerVideo {
  padding: 0px; /*border: 1px solid #8b0f09;*/
  width: 400px;
  float: left; /* margin-right: 10px; */
}

.containerVideo table {
  background: #d8d7d0;
  border-top: 1px solid #b2afa1;
  margin: 0;
  width: 400px;
}

.containerVideo table td {
  padding: 5px 10px;
  color: #666;
}

.containerVideo table td b {
  color: #666;
}

.containerVideo table td.itemselection {
  text-align: right;
}

#interview-player-wrapper {
    display: block;
    height: 335px;
    background-color: #000;
    vertical-align: bottom;
}

#interview-player-wrapper div#interview-player,
#interview-player-wrapper noscript {
    text-align: center;
    color: #fff;
    padding-top: 145px;
}

.containerVideo .playerControl {
  float: left;
  position: relative;
  background: #990000;
  padding: 0 4px 0 4px;
  color: #999;
  width: 392px;
  height: 20px;
  font-size: 11px;
}

.playerControl div {
  float: left;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  padding: 2px 0;
}

.playerControl a {
  color: #fff;
  text-decoration: none;
  outline-style: none;
}

#language_select .captions_orig, #language_select .captions_trans {
  float: left;
  padding: 0 6px;
  background: url(/images/lang_btn_bg_n.gif);
  color: #fff;
  cursor: pointer;
}

#language_select .captions_orig:hover,
#language_select .captions_trans:hover,
#language_select .captions_orig.active,
#language_select .captions_trans.active {
  color: #8B0f09;
  float: left;
  padding: 0 6px;
  background: url(/images/lang_btn_bg_a.gif);
}

#language_select .captions_orig.disabled,
#language_select .captions_trans.disabled {
  color: #999;
  background: url(/images/lang_btn_bg_n.gif);
}

.playerControl .itemselection {
  color: #fff;
  background-color: #990000;
  position: absolute;
  right: 3px;
  top: 0px;
  padding: 1px 0 3px 6px;
  vertical-align: center;
}

.playerControl select {
  background-color: #990000;
  color: #fff;
  height: 14px;
  font-size: 10px !important;
  border: 1px solid #a31a1a !important;
  outline-style: none;
  margin-top: 1px;
  padding: 0;
}

/* End Tabs */

/* Container */
#fragmentOverview .container {
  background: #fff;
  padding: 10px 0px 0 10px;
  height: 458px;
  display: none;
  position: relative;
}

#fragmentOverview .container.active {
  display: block;
}

#fragmentOverview .container.active ul {
    padding: 0px 10px 10px 0;
    width: 260px;
    overflow-y: auto;
    margin: 0;
}

#fragmentOverview containerInterview ul.data {
    height: 388px;
}
#fragmentOverview containerInterview ul.interviewDocuments {
    height: 60px;
}
#fragmentOverview #containerForcedLabor ul.data {
    height: 448px;
}

.container #interviewDocuments {
  position: absolute;
  bottom: 25px;
}

/* weitere Informationen Container */

#fragment1 table {
  padding-top: 0px;
  margin-top: 0px;
}

#fragment1 th {
  padding: 8px 0 0 0;
}

#fragment1 td {
  padding: 0;
}

#fragment1 td ul {
  padding-top: 0px;
  margin-top: 0px;
}

/* Fade fuer scrollbare Inhalte */

.scroll_fade {
  /*position: absolute;
   top: 0;
   left: 0;*/
}

/* Formatierung fuer Listenausgaben */
.teaserList {
  width: 710px;
  margin-top: 6px;
  padding: 0px;
  overflow: hidden;
  position: relative;
  clear: left;
}

.teaserList h1,
.teaserList h2,
.teaserList .pagination {
  clear: both;
  margin: -1px 0 12px 0; /*margin-bottom: 12px;*/
}

.teaserList h2 .pagination {
  clear: none;
  display: inline;
  font-size: 91%;
  width: auto;
  font-weight: normal;
  margin-left: 18px;
}

.teaserList .pagination a,
.teaserList .pagination a.visited {
    color: #990000;
}

.teaserList .pagination span.current {
    background-color: #990000;
    color: #fff;
    padding:0.15em 0.33em 0.1em 0.4em;
}

.baseContainerTeaser {
  position: relative;
  width: 325px;
  overflow: hidden;
  float: left;
  margin: 0 10px 10px 0;
  background: #f9f9f7;
  padding: 5px;
}

.baseContainerTeaserImage {
  position: relative;
  width: 140px;
  height: 105px;
  margin-right: 8px;
  overflow: hidden;
  float: left;
  border: 1px solid #000;
}

.baseContainerTeaserImage a img {
  height: 105px;
  width: 140px;
}

.baseContainerTeaserImage .baseContainerTeaserSubtitled {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130px;
  font-size: 9px;
  line-height: 120%;
  text-align: left;
  color: #fff;
  padding: 2px 5px;
  background-image: url(/images/pixel_schwarz_33.png);
  cursor: help;
}

.baseContainerTeaserText {
  width: 170px;
  min-height: 140px;
  overflow: hidden;
  float: left;
}

.baseContainerTeaserText .languages,
.baseContainerTeaserText .media_type {
  font-weight: bold;
  font-size: 90%;
}

.baseContainerTeaserText .forced_labor_groups,
.baseContainerTeaserText .forced_labor_fields,
.baseContainerTeaserText .forced_labor_habitations,
.baseContainerTeaserText .countries {
  font-size: 80%;
}

.baseContainerTeaserText .label {
  font-weight: normal;
  font-size: 100%;
  font-family: Arial, Helvetica, sans;
  color: #999281;
  margin: 4px 0 0 0;
  display: block;
}

.baseContainerTeaserExcerpts {
  height: 120px;
}

.baseContainerTeaserExcerpts p,
.baseContainerTeaserExcerpts a {
  font-size: 90%;
}

.baseContainerTeaserExcerpts h5 {
  background: #f1f1ed;
  padding: 0 4px;
  font-size: 85%;
}

.baseContainerTeaserExcerpts .transcript {
  color: #666;
  font-size: 85%;
  line-height: 1.4em;
}

.baseContainerTeaserExcerpts a {
  font-size: 90%;
  line-height: 1.4em;
}

.baseContainerTeaserText h3, .baseContainerTeaserText ul {
  font-size: 95%;
  margin: 0px;
  padding: 0px;
}

#baseContent .baseContainerTeaserText li {
  margin: 0px;
  padding: 0px;
  background-image: none;
}

.baseContainerTeaserText span {
  font-size: 100%;
  line-height: 140%;
}

/* Info / Tooltips */
.floatingToolTip {
    background-color: #b2afa0;
    color: #fff;
    position: absolute;
    top: 116px;
    font-size: 9px;
    line-height: 125%;
    padding: 2px 6px;
    z-index:100;
}

/*
 Textformatierung Abstract (Anzeige in Normalgroesse und fett egal was gesetzt ist)
 ------------------------------------------------------------------------------
*/

.abstract p {
  color: #000;
  font-weight: bold;
}

.abstract p, .abstract p strong, .abstract p b, .abstract td strong, .abstract td b, .abstract td, .abstract ul, .abstract ol {
  color: #000;
  font-weight: bold;
}

.abstract h1 {
  font-size: 100%;
  margin: 12px 0 4px 0;
}

.abstract h2 {
  font-size: 100%;
}

.abstract h3 {
  color: #000;
  font-size: 100%;
}

.abstract h4 {
  font-size: 100%;
  font-weight: bold;
  color: #000;
}

.abstract h5 {
  font-size: 100%;
  font-weight: bold;
  padding: 0px;
  background-color: transparent;
  color: #000;
}

.abstract h6 {
  font-size: 100%;
  line-height: 140%;
  font-weight: bold;
  color: #000;
}

/* Formatierung playerContainer fuer Videos in der Website */

#playerContainer {
  background-color: transparent;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
  padding: 0px;
  width: 360px;
  height: 260px;
  margin: 20px 0 0 0;
}

#volumeMuteButton {
  width: 11px;
  height: 11px;
  padding: 0;
  margin: 3px 5px 0 0;
  cursor: pointer;
}

.unmute {
  background: transparent url(/images/player_speaker_n.gif) top left no-repeat;
}

.mute {
  background: transparent url(/images/player_speaker_mute_n.gif) top left no-repeat;
}

.unmute:hover {
  background: transparent url(/images/player_speaker_a.gif) top left no-repeat;
}

.mute:hover {
  background: transparent url(/images/player_speaker_mute_a.gif) top left no-repeat;
}

#volumeSelect {
  width: 50px;
  height: 8px;
  margin: 5px 5px 0 0;
  padding: 0;
  background-color: #730f0f;
}

#volumeOn {
/*background: transparent url(/images/volume_on.gif);*/
  background-color: #999;
  width: 14px;
  height: 100%;
  padding: 0;
  margin: 0;
}

div.headings-container {
  background-color: #f8f8f5;
}

div.headings-container a:link,a:visited,a:hover,a:focus {
  color: #990000;
}