iframe {
    border: 0px none;
}

.imageLeft {
    float: left;
    margin: 4px 4px 4px 0;
}

.imageRight {
    float: right;
    margin: 4px 0 4px 4px;
}

.map-overlay img {
    padding: 1px;
    border: 1px solid #969380;
}

.markerOverlay div {
    height: 19px;
    width: 16px;
    margin-top: -19px;
    text-indent: -9999px;
    display: block;
    z-Index: 5;
    background: transparent url(/images/test_markers/interview_marker.png) top left no-repeat;
}

.markerOverlay div.forced_labor_location {
    background-image: url(/images/test_markers/forced_labor_location_marker.png);
    z-Index: 100;
}

.markerOverlay div.home_location {
    background-image: url(/images/test_markers/home_location_marker.png);
    z-Index: 90;
}

.markerOverlay div.place_of_birth {
    background-image: url(/images/test_markers/place_of_birth_marker.png);
    z-Index: 85;
}

.markerOverlay div.return_location {
    background-image: url(/images/test_markers/return_location_marker.png);
    z-Index: 80;
}

.markerOverlay div.postwar_camp {
    background-image: url(/images/test_markers/postwar_camp_marker.png);
    z-Index: 88;
}

.markerOverlay div.deportation_location {
    background-image: url(/images/test_markers/deportation_location_marker.png);
    z-Index: 95;
}

#map-wrapper {
    width: 695px;
    height: 660px;
    background: #d1d0c0 url(/images/map/external_maps_bg.jpg) top left no-repeat;
}

#map-wrapper .preload-map {
    display: none;
}

#map-wrapper .embossed {
    border: 2px solid #e4e4da;
    padding: 12px;
    -moz-box-shadow: 6px 6px 3px #888;
    -webkit-box-shadow: 6px 6px 3px #888;
    box-shadow: 6px 6px 3px #888;
    text-align: center;
    background-color: #d1d0c0;
}

#map-wrapper .embossed p {
    text-align: justify;
    margin: 10px;
}

.privacy_panel {
    float: right;
    background-color: #e4e4da;
    border-bottom: 1px solid #d1d0c0;
    border-right: 1px solid #d1d0c0;
    border-left: 1px solid #d1d0c0;
    border-bottom-left-radius: 20px;
    padding: 0 8px 2px 6px;
    font-size: 85%;
}

.map-wrapper .privacy_config {
    line-height: 100%;
}

.privacy_config .remember_privacy {
    position: relative;
    top: 3px;
}

#map-wrapper .service_attribution {
    position: absolute;
    right: 6px;
    bottom: 25px;
    background-color: transparent;
    color: #333;
    padding: 8px;
}

/* Pagination of Location Reference List */

#baseContent span.pages {
    float: left;
    margin-top: 6px;
}

#baseContent ul.pagination {
  height: 20px;
  display: inline-block;
  margin-right: 8px;
  float: left;
}

#baseContent ul.pagination li {
  background-image: none;
  padding: 0 7px;
  border: 1px solid #ccc;
  color: #900;
  display: inline-block;
  cursor: pointer;
}

#baseContent ul.pagination li.active {
  background-color: #840f09;
  color: #fff;
}

/* Location Reference Lists */

#baseContent ul.locationReferenceList {
  clear: both;
}

#baseContent ul.locationReferenceList li {
  background: none;
  padding: 0;
}

#baseContent ul.locationReferenceList ul {
  margin: 5px 0 10px;
}

#baseContent ul.locationReferenceList ul li {
  padding: 0 0 2px 22px;
  background-position: 0 2px;
}

.locationReferenceList h3 {
  margin: 0;
}

.interviewReference small,
.referenceDetails {
  font-size: 85%;
  color: #999281;
}

.interviewReference small {
    line-height: 2.5em;
}

#baseContent ul li.forced_labor_camp {
    background: #fff url("/images/test_markers/popup/forced_labor_camp_marker.png") no-repeat;
}
#baseContent ul li.forced_labor_camp.map_filter_off {
    background-image: url("/images/test_markers/popup/forced_labor_camp_marker_off.png");
    color: #b2afa1;
}


#baseContent ul li.forced_labor_company {
    background: #fff url("/images/test_markers/popup/forced_labor_company_marker.png") no-repeat;
}
#baseContent ul li.forced_labor_company.map_filter_off {
    background-image: url("/images/test_markers/popup/forced_labor_company_marker_off.png");
    color: #b2afa1;
}

#baseContent ul li.forced_labor_location {
    background: #fff url("/images/test_markers/popup/forced_labor_location_marker.png") no-repeat;
}
#baseContent ul li.forced_labor_location.map_filter_off {
    background-image: url("/images/test_markers/popup/forced_labor_location_marker_off.png");
    color: #b2afa1;
}

#baseContent ul li.interview {
    background: #fff url("/images/test_markers/popup/interview_marker.png") no-repeat;
}
#baseContent ul li.interview.map_filter_off {
    background-image: url("/images/test_markers/popup/interview_marker_off.png");
    color: #b2afa1;
}

#baseContent ul li.place_of_birth {
    background: #fff url("/images/test_markers/popup/place_of_birth_marker.png") no-repeat;
}
#baseContent ul li.place_of_birth.map_filter_off {
    background-image: url("/images/test_markers/popup/place_of_birth_marker_off.png");
    color: #b2afa1;
}

#baseContent ul li.deportation_location {
    background: #fff url("/images/test_markers/popup/deportation_location_marker.png") no-repeat;
}
#baseContent ul li.deportation_location.map_filter_off {
    background-image: url("/images/test_markers/popup/deportation_location_marker_off.png");
    color: #b2afa1;
}

#baseContent ul li.return_location {
    background: #fff url("/images/test_markers/popup/return_location_marker.png") no-repeat;
}
#baseContent ul li.return_location.map_filter_off {
    background-image: url("/images/test_markers/popup/return_location_marker_off.png");
    color: #b2afa1;
}

#baseContent ul li.postwar_camp {
    background: #fff url("/images/test_markers/popup/postwar_camp_marker.png") no-repeat;
}
#baseContent ul li.postwar_camp.map_filter_off {
    background-image: url("/images/test_markers/popup/postwar_camp_marker_off.png");
    color: #b2afa1;
}

#baseContent ul li.home_location {
    background: #fff url("/images/test_markers/popup/home_location_marker.png") no-repeat;
}
#baseContent ul li.home_location.map_filter_off {
    background-image: url("/images/test_markers/popup/home_location_marker_off.png");
    color: #b2afa1;
}

#baseContent ul li.map_filter_off img {
    display: none;
}

/* Filter and Explanation */

#interview_selection_toggle {
  position: absolute;
  left: 338px;
  top: 25px;
  width: 100px;
  padding: 2px 5px;
  color: #fff;
  background-color: #840f09;
  /* background: #840f09 url('/images/pfeil_weiss_unten.png') no-repeat 103px 9px; */
  cursor: pointer;
  z-index: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#explanation_filter_toggle {
  position: absolute;
  left: 574px;
  top: 25px;
  width: 110px;
  padding: 2px 5px;
  color: #fff;
  background: #840f09 url('/images/pfeil_weiss_unten.png') no-repeat 103px 9px;
  cursor: pointer;
  z-index: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.map-overlay {
    position: absolute;
    top: 52px;
    background: #F1F1EB;
    z-index: 1;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#explanation_filter {
  left: 434px;
}

#introduction {
    left: 100px;
    width: 328px;
}

#initial_map_tutorial {
    width: 328px;
    left: 366px;
}

#baseContent .map-overlay ul {
  padding: 10px;
  margin: 0;
}

#baseContent #explanation_filter ul {
    width: 240px;
}

#baseContent .map-overlay ul li {
  position: relative;
  margin-bottom: 1px;
  padding: 4px 0;
  background-position: 30px 4px;
}

#baseContent .map-overlay ul li.map_filter,
#baseContent .map-overlay ul li.map_filter_off {
  text-indent: 55px;
  cursor: pointer;
}

#baseContent .map-overlay ul li.hint {
    background-image: none;
    background-color: #fff;
    padding: 10px 10px 4px 18px;
    margin-top: 10px;
}

#baseContent .map-overlay ul li.hint:first-child {
    margin-top: 0;
}

#baseContent .map-overlay li.hint p {
    color: #000;
}

#baseContent #explanation_filter li.hint p {
    color: #969380;
}

#explanation_filter ul li img {
  position: absolute;
  padding: 4px;
  right: 7px;
  top: 2px;
  cursor: pointer;
}

#baseContent .map-overlay ul ul {
  padding: 4px 0 0;
  margin-bottom: -5px;
}

#baseContent .map-overlay ul ul li {
  position: relative;
  padding: 4px 0;
  margin-bottom: 0;
  border-bottom: 1px solid #F1F1EB;
  background-position: 30px 4px;
  background: #f9f9f7;
}

#baseContent .map-overlay .cluster_toggle {
    padding-left: 66px;
    padding-top: 10px;
    background: #fff url('/images/circle_legend.png') 18px 8px no-repeat;
    min-height: 40px;
    text-indent: 0;
    vertical-align: middle;
    cursor: pointer;
}

#baseContent .map-overlay .cluster_toggle.clusters-off {
    background-image: url('/images/circle_legend_off.png');
    color: #b2afa1;
}

#baseContent #explanation_filter ul ul li:first-child {
  border-top: 1px solid #F1F1EB;
}

#baseContent .cluster-icon {
  color: #65645c;
  position: absolute;
  background: transparent url('/images/cluster_bg.png') center no-repeat;
  cursor: pointer;
  overflow: hidden;
  width: 40px;
  max-width: 40px;
  height: 28px;
  max-height: 40px;
  font-size: 10px;
  padding-top: 12px;
  text-align: center;
  z-index: 100;
}

#baseContent .cluster-circle {
    position: absolute;
    z-index: 99;
}

#baseContent .level-0 .level-1,
#baseContent .level-0 .level-2,
#baseContent .level-1 .level-0,
#baseContent .level-1 .level-2,
#baseContent .level-2 .level-0,
#baseContent .level-2 .level-1 {
    display: none !important;
}

/* map tutorial slides */
.slide-1 .slide-2,
.slide-1 .slide-3,
.slide-2 .slide-1,
.slide-2 .slide-3,
.slide-3 .slide-1,
.slide-3 .slide-2,
.slide-1 .not-slide-1,
.slide-3 .not-slide-3 {
    display: none;
}

.map-overlay .hint h3 {
    position: relative;
}

.map-overlay .hint a,
.map-overlay .hint a:visited {
    text-decoration: none;
}

.map-overlay a.window-close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    color: #fff;
    height: 14px;
    width: 14px;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 2;
    background: transparent url(/images/lightbox/close.gif) center no-repeat;
}
