/*	
   ----------------------------------------------------------------------------
   Freie Universitaet Berlin
   Design: Druckvorschau
   Stilvorlagen fuer die Druckvorschau im Browser und die Ausgabe auf einen Drucker
	
   Autor: CeDiS, http://www.cedis.fu-berlin.de, cms@cedis.fu-berlin.de
   Datum: 14.12.2006
   Aktualisiert: 22.02.2007 (Schriftfarbe #000 statt #333)
   Aktualisiert: 18.10.2007: searchTabs, .searchResultPreviousNext ausgeblendet (fuer neue Suche)
   Aktualisiert: 30.10.2007: Anweisungen fuer Mitarbeiterlisten mit Bildern hinzugefuegt
   Aktualisiert: 19.01.2009: baseContentLarg und baseContentXLarge, baseConatinerFooter
   ----------------------------------------------------------------------------
*/

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 140%;
	color: #000;
	background-color: #fff;
	background-image: none;
}

h1 {
	font-size: 11pt;
	line-height: 140%;
	font-weight: bold;
	margin: 0 0 4px 0;
	color: #000;
}

h2 {
	font-size: 9pt;
	line-height: 140%;
	font-weight: bold;
	margin: 12px 0 4px 0;
	color: #000;
}

h3 {
	font-size: 9pt;
	line-height: 140%;
	font-weight: bold;
	margin: 12px 0 4px 0;
	color: #000;
}

h4 {
	font-size: 9pt;
	line-height: 140%;
	font-weight: normal;
	margin: 4px 0 4px 0;
	color: #000;
}

h5 {
	font-size: 9pt;
	line-height: 140%;
	font-weight: normal;
	margin: 4px 0 4px 0;
	padding: 2px 2px 4px 2px;
	background-color: #f4f4f4;
	color: #000;
	width: 99%;
}

h6 {
	font-size: 8pt;
	line-height: 120%;
	font-weight: normal;
    color: #000;
	margin: 4px 0 4px 0;
}

a:link {
	color: #000;
	text-decoration: underline;
	background-color: transparent;
}

a:visited {
	color: #000;
	text-decoration: underline;
}

p {
	color: #000;
	margin: 0;
	padding-top: 4px;
	padding-bottom: 4px;
}

p strong, p b, td strong, td b {
	color: #000;
}

a:link strong, a:hover strong, a:link b, a:hover b, a:visited strong, a:visited  b,
strong a:link, strong a:hover, b a:link, b a:hover, strong a:visited, b a:visited {
	color: #000;
	text-decoration: underline;
}

table, tr, td {
	font-size: 9pt;
	line-height: 140%;
	color: #000;
}

table {
	margin: 10px 0 0 0;
	border-spacing: 0;
	border-color: #d1d1d1;
	border-collapse: collapse;
}

td {
	border-spacing: 0;
}

th {
	background-color: #f4f4f4;
	font-weight: bold;
	border-spacing: 0;
}

ol {
	font-size: 9pt;
	line-height: 140%;
	list-style-type: decimal;
}

ul {
	font-size: 9pt;
	line-height: 140%;
	list-style-type: square;
}

hr {
	border: none;
	border-bottom: 1px #999 solid;
	height: 1px;
	margin: 0;
}

blockquote {
	left: 0;
	margin: 0 0 0 14px
}

dl, dt, dd {
	font-size: 9pt;
	line-height: 140%;
	list-style-type: none;
}

dl {
	margin: 0 20px 0 0;
	padding: 4px 0 4px 0;
}

dt {
   	margin: 0;
	padding: 0;
	line-height: 130%;
	font-weight: bold;
	color: #000;
}

dd {
	margin: 0;
	padding: 0;
}

#printlogo {
	position: absolute;
	top: 0;
	display: inline;
	margin: 0 0 20px 0;
	padding: 0;
	height: 73px;
}

*html #printlogo { /* Nur fuer IE */
	display: block;
}

#headerIdentityWrapper {
	display:none;
}

#baseNavigationContainer {
	display:none;
} 

#baseServices {
	display: none;
}

#baseIcons {
	display:none;
}

#baseContent, #baseContentLarge, #baseContentXLarge {
	display: block;
	top: 0;
	margin: 0 0 0 0;
	padding: 100px 0 20px 0;
	border-left: none;
	border-right: none;
	border-top: none;
	width: auto;
}

*html #baseContent, #baseContentLarge, #baseContentXLarge {
	top: 10px;
	padding: 0 0 20px 0;
	margin: 100px 0 0 5%;
}

#baseContainerNavigationToRoot {
	display:none;
}

#baseContainerRight {
	display: none;
}

#vor-zurueck, #vor, #zurueck {
	display: none;
}

.baseHeaderLogo {
	display: none;
}

.baseHeaderBild {
	display:none;
}

#baseIdentity {
	display:none;
}

#baseContent ul {
	margin: 0 20px 0 12px;
	padding: 4px 0 4px 0;

}

#baseContent ul li, #baseContentLarge ul li, #baseContentXLarge ul li {
	list-style: square;
	margin: 0;
	padding: 0;
	line-height: 140%;
}

#baseContent ul li a:link, #baseContentLarge ul li a:link, #baseContentXLarge ul li a:link  {
	text-decoration: underline;
	color: #000;
}

#baseContent ul li a:visited, #baseContentLarge ul li a:visited, #baseContentXLarge ul li a:visited {
	text-decoration: underline;
	color: #000;
}

#baseContainerFooter a {
	color: #666;
}

#baseContainerFooter a:visited {
	color: #666;
}

#basePrintPreview {
	display: none;
}

.baseLinkPrint {
	color: #000;
}

.quickLinksIcon {
	display: none;
}

hr.divider {
	display: none;
}

.skip, .info {
	display: none;
}

img {
	border: none;
}

#searchTabs, .searchResultPreviousNext {
	display: none;
}


/*
Spezielle Anweisungen fuer Mitarbeiterliste mit Bildern
-------------------------------------------------------------------------------------------------------------
*/

.staffItem {
	border-bottom: 1px solid #ccc; 
	padding: 10px 0 10px 0;
	width: 550px;
}

.staffItemImage {
	width: 100px;
	border: 1px solid #ccc;
	padding: 1px;
}

.staffItemImage img {
	display: block;		
}

.staffItemText {
	width: 420px;
}

.alignLeft {
	float: left;
}

.alignRight {
	float: right;
}

.clear {
	clear: both;
}
