/* Facetted Search */
#search_facets .active-facet {
    display: block;
    position: relative;
    background: #999281;
    color: #990000;
    padding: 0.25em;
    margin-bottom: 4px;
}

/* spacing */
.baseListBox #search_facets h2 {
    margin-bottom: 0;
}
.baseListBox #search_facets h2.baseListBoxTitle {
    margin-bottom: 4px;
}
#search_facets .fragmentTitle {
    margin-top: 4px;
}

.active-facet ul,
.active-facet ul li {
    padding:0;
    margin:0;
}

#search_facets .active-facet li {
    width: auto;
    display: inline;
    border-left: 1px solid #F1F1EB;
    padding-left: 4px;
    color: #F1F1EB;
}

#search_facets .active-facet li:first-child {
    border-left: 0px none;
    padding-left: 0;
}

.active-facet .facet-remove {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    text-indent: -3000px;
    overflow: hidden;
    background: transparent url(/images/close.png) top right no-repeat;
    height: 16px;
    width: 16px;
}

/* fbeier */

#baseHeaderSearch {
	background: #fff url(/images/hits_bg_left.gif) top left no-repeat;
	padding: 0 0 0 12px;
	position: absolute;
	top: 34px;  
	left: 10px; 
	margin: 0;
	font-size: 95%;
	width: 120px;
	height: 19px;
}

span.hits {
    color: #840f09;
	background: url(/images/hits_bg_right.gif) top right no-repeat;
	display: block;
	padding: 0 12px 0 0;
	width: 108px;
	height: 19px;
}

span.hits a {
	display: block;
	background: url(/images/suchpfeil.gif) top right no-repeat;
	background-position: 103px 4px;
	padding: 0 12px 0 0;
	width: 108px;
	height: 19px;
	text-decoration: none;	
}

span.hits a:hover {
	text-decoration: none;	
}

#searchReset {
	position: absolute;
	top: 34px;  
	right: 10px;
}

#searchReset a {
	color: #fff;
	font-size: 85%;
}

#searchReset a:hover {
	text-decoration: none;
}

#baseServices p {
	font-weight: bold;
	font-size: 110%;
}





