/* Facetted Search */
#search_facets .active-facet {
    display: block;
    position: relative;
    background: #999281;
    color: #990000;
    padding: 0.25em;
    margin-bottom: 4px;
}

/* spacing */
.baseListBox #search_facets h2 {
    margin-bottom: 0;
}
.baseListBox #search_facets h2.baseListBoxTitle {
    margin-bottom: 4px;
}
#search_facets .fragmentTitle {
    margin-top: 4px;
}

.active-facet ul,
.active-facet ul li {
    padding:0;
    margin:0;
}

#search_facets .active-facet li {
    width: auto;
    display: inline;
    border-left: 1px solid #F1F1EB;
    padding-left: 4px;
    color: #F1F1EB;
}

#search_facets .active-facet li:first-child {
    border-left: 0px none;
    padding-left: 0;
}

.active-facet .facet-remove {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    text-indent: -3000px;
    overflow: hidden;
    background: transparent url(/images/close.png) top right no-repeat;
    height: 16px;
    width: 16px;
}