#fragmentOverview {
	float: left;
	width: 280px;
	padding: 0 10px 0 10px;
	margin: -22px 0 0 0;
}

#fragmentOverview h1{
	padding: 0px;
	margin: 0px;
}

#fragmentOverview table{
	padding-top: 0px;
	margin-top: 0px;
}

#fragmentOverview th{
	padding: 8px 0 0 0;
}

#fragmentOverview td{
	padding: 0;
}

#fragmentOverview td ul{
	padding-top: 0px;
	margin-top: 0px;
}

#tabsOverview ul li {
	border: 1px solid #ac3131;
	width: 40%;
	padding:0 0 0 10px;
	height: 22px;
	float: left;
	background-color: #8b0f09;
	cursor: pointer;
	font-size:95%;
	list-style: none;
	background-image:none;
}

#tabsOverview li p{
	padding:2px 0 0 0;
	color: #999;
}

#tabsOverview li:hover {
	background-color: #fff;
	color: #8b0f09;
}

#tabsOverview li:hover p{
	color: #8b0f09;
}

#tabsOverview li.active {
	background-color: #8b0f09;
	color: #fff;
}

#tabsOverview li.active p {
	color: #fff;
}

#tabsOverview  p {
	color: #999;
}

#captions {
  background-color: #fff;
  padding: 10px;
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
  /*overflow-y: visible;*/
}

#captions {
  background-color: #fff;
  padding: 10px;
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
  /*overflow-y: visible;*/
}

div.captions_original span.caption_original { display: inline-block; }
div.captions_original span.caption_translation { display: none; }
div.captions_translation span.caption_original { display: none; }
div.captions_translation span.caption_translation { display: inline-block; }

#containerHeadings li.mainheading {
  font-style: normal;
}

#containerHeadings li.subheading {
  margin-left: 20px;
  font-style: normal;
}

#containerHeadings img.invisible {
  display: none;
}

#containerHeadings li.marked_heading {
  font-weight: bold;
}