/* Stylesheets for user content interfaces */

/* Buttons & Forms */
#mainWrapper .save_user_content form {
    background: transparent;
    margin: 0;
    padding: 0;
}

#mainWrapper .save_user_content input[type="submit"] {
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: #990000;
}

#mainWrapper .save_user_content input[type="submit"],
#mainWrapper .save_user_content a.saved {
    padding-left: 20px;
    padding-top: 2px;
    background-image: url(/images/icon_sprite.png);
    background-repeat: no-repeat;
}

#mainWrapper #save_search input[type="submit"] {
    background-position: 0px -60px;
}

#mainWrapper #save_search input[type="submit"]:hover,
#mainWrapper #save_search a.saved {
    background-position: 0px -120px;
}

#baseServices #folder_image {
    float: right;
    margin-top: -13px;
    margin-right: 12px;
}

#baseServices .title {
    width: 125px;
}

.workbook #mainWrapper {
    background-image: none;
    padding-top: 5px;
}

.workbook #baseContainerRight {
    padding-top: 20px;
    color: #838175;
}

.workbook #baseContainerRight div {
    background-color: #E4E4DA;
}

#mainWrapper #user_contents {
    color: #969380;
}

/* User Content Overview */
#user_contents .item {
    background-color: #FFFFFF;
    margin-bottom: 1px;
    float: left;
    width: 100%;
}

#user_contents .item.closed {
    background-color: #E4E4DA;
}

#user_contents .header {
    float: left;
    width: 675px;
    line-height: 225%;
    background-image: url(/images/icon_sprite.png);
    background-repeat: no-repeat;
    background-position: 0.3em -296px;
    padding-left: 25px;
    cursor: pointer;
}

/* icons */
#user_contents .header .search {

}

#user_contents .title {
    color: #990000;
}

#user_contents .edit {
    position: absolute;
    left: 20px;
    top: -5px;
    background: transparent url('/images/icon_sprite.png') 0.3em -600px no-repeat;
    color: #990000;
    font-size: 80%;
    padding-left: 22px;
}

#user_contents .closed .edit {
    display: none;
}

#user_contents .themes {
    background: transparent url('/images/icon_sprite.png') 0.3em -544px no-repeat;
    padding-left: 22px;
    font-size: 85%;
    padding-bottom: 1px;
}

#user_contents .date {
    float: right;
    font-size: 85%;
    margin-right: 10px;
}

#user_contents .toggle {
    float: right;
    background-image: url('/images/icon_sprite.png');
    background-repeat: no-repeat;
    background-position: 0.3em -660px;
    height: 20px;
    width: 28px;
    margin-top: 0.3em;
    border-left: 1px solid #F1F1EB;
}

#user_contents .closed .toggle {
    background-position: 0.3em -720px;
}

#user_contents .details {
    display: block;
    position: relative;
    padding-left: 25px;
    float: left;
    padding-top: 8px;
}

#user_contents .closed .details {
    display: none;
    clear: left;
}

#user_contents .actions {
    width: auto !important;
    z-index: 999;
    position: absolute;
    display: block;
    top: -5px;
    left: 20px;
    border: 1px solid #E4E4DA;
    background-color: #fff;
}

#user_contents .actions.closed {
    display: none;
}

#user_contents .actions .close-button {
    float: right;
    clear: none;
    height: 20px;
    width: 20px;
    text-decoration: none;
}

/* Details container information */
#user_contents .details {
    font-size: 80%;
}

#user_contents .properties {
    float: left;
    width: 270px;
    margin-right: 10px;
}

#user_contents .details .references {
    float: left;
    width: 390px;
}

#user_contents .details .properties,
#user_contents .details .references {
    padding: 1em 0 2em 0;
}

#user_contents .details li {
    margin-bottom: 0.5em;
    background-image: none;
    padding-left: 0;
}

#user_contents .details p {
    color: #000000;
}

#user_contents .details .references ul,
#user_contents .details .references li {
    width: auto;
    position: relative;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}

#user_contents .details .references li {
    clear: none;
    margin: 0 10px 0 0;
}

#user_contents .details .references img {
    display: block;
    width: 65px;
    height: 50px;
    border: 1px solid #000;
}

#user_contents .references span {
    float: left;
}

/* Inline Editing */
#innerContent form.inline {
    background-color: transparent;
    margin: 0;
    padding: 0;
    clear: none;
    float: none;
    width: auto;
    min-width: 1%;
    font-size: 80%;
}

#user_contents .inline-editable {
    cursor: pointer;
    padding: 2px;
}

#user_contents .inline-editable:hover {
  background: #fffdc0;
  padding: 2px;
}

#user_contents form input[type="text"] {
  background :#fffdc0;
  border: 1px solid #e4e4da;
  color: #990000;
}

#user_contents .details form input[type="text"] {
  color: #000;
}
