* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family:
    Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', 'Verdana', 'Verdana Ref',
    sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 100vh;
  margin: 0;
}

p {
  margin: 0;
}

.Main {
  margin: auto;
  padding: 0.75rem;
}

.Section {
  display: flex;
  align-items: center;
}

.Section-heading {
  font-size: 2rem;
  font-weight: normal;
  line-height: 3rem;
  margin: 0;
}

.Section-content {
  border-left: 0.25rem solid gray;
  margin: 0 0 0 1.5rem;
  padding-left: 1.5rem;
}

.Section--warning .Section-content {
  border-left-color: gold;
}

.Section--error .Section-content {
  border-left-color: crimson;
}
