<h1>Importvorgänge</h1>

<ul id="interview_imports">
  <% @interviews.each do |interview| -%>
  <li id="<%= interview['archive_id'] -%>" class="interview">
    <span class="archive_id"><%= interview['archive_id'] -%></span>
    <span class="interview"><%= interview['full_title'] -%></span>
    <span class="data last_import"><%= interview['time'] -%></span>
  </li>
  <% end -%>
</ul>