<h2>Annotation guidelines</h2>

<p>Thank you for wanting to add an annotation! All annotations will be posted in your name.</p>

<p>Only annotations on precise interview segments (i.e. biographical or bibliographical details, geographical data) will be published. Please quote your sources.</p>

<p>The archive editors reserve the right to shorten, linguistically edit or not publish at all user annotations.</p>

<p>You may write annotations in German or English on each segment. An annotation may consist of up to <%= UserContent::ANNOTATION_LIMIT -%> characters (incl. blanks) and may be withdrawn by you at any time.</p>

<p>Please note data protection rules and personal rights of all individuals.</p>

<p>This is not a forum. Commenting on other authors annotations is hence not desired.</p>

<p>We kindly ask for your understanding that general questions may not be answered. For further information please refer to our links list.</p>

<p>Respect for the witnesses and their memories should go without saying for all users. Discriminating or racist annotations will not be published.</p>

<p>Any advertising, marketing or spam of any kind are prohibited.</p>

<p>Spelling or grammar adjustments will not be published as separate annotations, but will rather be incorporated by archive editors’ timer permitting.</p>

<p>Thank you for your contribution to the online archive “Forced Labor, 1939-1945. Memory and History”.</p>