<h2>Richtlinien für die Anmerkungen</h2>

<p>Danke, dass Sie eine Anmerkung schreiben wollen! Jede Anmerkung wird grundsätzlich unter Ihrem Namen erscheinen.</p>

<p>Veröffentlicht werden nur Anmerkungen zu konkreten Interview-Ausschnitten (z.B. biographische Details, Literaturhinweise, Geokoordinaten). Bitte nennen Sie dabei die verwendete Quelle.</p>

<p>Die Archivredaktion behält sich vor, Nutzer-Anmerkungen zu kürzen, sprachlich zu bearbeiten oder nicht zu veröffentlichen.</p>

<p>Sie können zu jedem Ausschnitt eine Anmerkung in deutscher oder englischer Sprache verfassen. Eine Anmerkung darf bis zu <%= UserContent::ANNOTATION_LIMIT -%> Zeichen incl. Leerzeichen umfassen und kann von Ihnen jederzeit wieder zurückgezogen werden.</p>

<p>Beachten Sie bitte den Datenschutz und die Persönlichkeitsrechte des Einzelnen.</p>

<p>Es handelt sich hier nicht um ein Diskussionsforum. Die Kommentierung von Anmerkungen anderer Verfasser ist daher nicht erwünscht.</p>

<p>Wir bitten um Ihr Verständnis, dass keine allgemeinen Anfragen beantwortet werden können. Weitere Informationsmöglichkeiten entnehmen Sie bitte unserer Linkliste.</p>

<p>Der Respekt vor den Zeitzeugen und ihren Erinnerungen soll für jeden Nutzer selbstverständlich sein. Diskriminierende oder rassistische Aussagen werden nicht veröffentlicht.</p>

<p>Werbung und Spam jeglicher Art sind nicht gestattet.</p>

<p>Orthographische Korrekturen werden nicht als Anmerkung publiziert, sondern im Rahmen der zeitlichen Möglichkeiten von der Archivredaktion eingearbeitet.</p>

<p>Vielen Dank für Ihren Beitrag zum Online-Archiv „Zwangsarbeit 1939-1945: Erinnerungen und Geschichte“.</p>