<h1>Contact</h1>

<p><span lang="EN-US">Freie Universität Berlin<br />Center for Digital Systems (CeDiS)<br /><span>Competence Center for E-Learning and Multimedia</span><br />Project &quot;Forced Labor 1939-1945&quot;<br />Ihnestr. 24, 14195 Berlin</span></p>
<p><span lang="EN-US">Telephone: +49 (0)30/838-52775<br />Fax: +49 (0)30/838-52843</span></p>

<p><span lang="IT">E-mail:</span> <span><a href="mailto:mail@zwangsarbeit-archiv.de">mail@zwangsarbeit-archiv.de</a></span></p>
<p><span>Web: <a href="http://www.zwangsarbeit-archiv.de" target="_self">www.zwangsarbeit-archiv.de</a></span></p>
