<h1>Kontakt</h1>

<p>Freie Universität Berlin<br />Center für Digitale Systeme (CeDiS)<br />Kompetenzzentrum E-Learning und Multimedia<br />Projekt &quot;Zwangsarbeit 1939-1945&quot;<br />Ihnestraße 24, 14195 Berlin</p>
<p>Telefon: <strong>+49 (0)30/838-52775</strong><br />Fax: +49 (0)30/838-52843</p>

<p>E-Mail: <a href="mailto:mail@zwangsarbeit-archiv.de">mail@zwangsarbeit-archiv.de</a></p>
<p>Web: <a href="http://www.zwangsarbeit-archiv.de">www.zwangsarbeit-archiv.de</a></p>

