<h1>Using the Archive – Frequently Asked Questions</h1>

<ul>
	<li>
        <a href="inhaltlich/index.html">Questions About the Archive Contents </a>
    </li>

    <li>
        <a href="suche/index.html">Questions About Searching </a>
    </li>

    <li>
        <a href="support/index.html">Technical Questions </a>
    </li>
</ul>

<p>In this section you can find technical advice as well as information about the archive contents and using the archive. <br />
  If your questions cannot be answered here, please contact: <br />
  <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a>.
</p>
