<h1>Using the Archive – Frequently Asked Questions</h1>

<ul>
	<li>
    <%= link_to 'Questions About the Archive Contents', home_path(:page => t("faq_archive_contents", :scope => 'page_urls')) %>
  </li>
  <li>
    <%= link_to 'Questions About Searching', home_path(:page => t("faq_searching", :scope => 'page_urls')) %>
  </li>
  <li>
    <%= link_to 'Technical Questions', home_path(:page => t("faq_technical", :scope => 'page_urls')) %>
  </li>
</ul>

<p>In this section you can find technical advice as well as information about the archive contents and using the archive. <br />
  If your questions cannot be answered here, please contact: <br />
  <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a>.
</p>
