<h1>Fragen rund um die Technik</h1>

<ul>
  <li>
    <a href="#systemvoraussetzungen">Systemvoraussetzungen</a>
  </li>
  <li>
    <a href="#uebertragung">Welche Übertragungsgeschwindigkeit brauche ich, um die Interviews anhören zu können?</a>
  </li>
  <li>
    <a href="#support_kontakt">Ich habe immer noch Schwierigkeiten. Was kann ich tun?</a>
  </li>
</ul>

<br/>
<hr/>
<h2>
  <a name="systemvoraussetzungen"></a>
  Welche Systemvoraussetzungen muss mein Rechner erfüllen, damit ich mir die Interviews in dem Archiv ansehen kann?
</h2>
<ul>
  <li>Das Archiv ist optimiert für die Browser Firefox 3 und Internet Explorer 7 auf Windows Betriebssystemen (Windows
    XP und Vista).
  </li>
  <li>Für das Abspielen der Audio- und Videodateien muss eine aktuelle Version des Adobe Flash-Players</a> installiert
    sowie JavaScript in Ihrem Browser aktiviert sein.
  </li>
  <li>Zum Betrachten von PDF-Dokumenten wird der Adobe Acrobat Reader</a> empfohlen.</li>

  <li>Für das Abspielen der Videos in hoher Qualität empfehlen wir einen leistungsfähigen Computer und
    Breitband-Internetzugang (z.B. 2000 Kbit/s, ein sogenannter &quot;DSL 2000&quot; Internetzugang).
  </li>
</ul>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>
<br/>
<hr/>
<h2>
  <a name="uebertragung"></a>
  Welche Übertragungsgeschwindigkeit brauche ich, um die Interviews anhören zu können?
</h2>
<p>
  Für das Abspielen der Audioaufnahmen genügt normalerweise ein DSL-Internetzugang (z.B. 10 Mbit/s). Bei zu geringer
  Bandbreite genügt die Übertragungsgeschwindigkeit möglicherweise nicht für eine störungsfreie Wiedergabe der Aufnahmen.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>
<br/>
<hr/>
<h2>
  <a name="support_kontakt"></a>
  Ich habe immer noch Schwierigkeiten. Was kann ich tun?
</h2>
<p>
  Bitte schicken Sie eine E-Mail an
  <a href="mailto:deutsches-gedaechtnis@fernuni-hagen.de" target="_blank" title="Kontakt">deutsches-gedaechtnis@fernuni-hagen.de</a>.
  Wir helfen Ihnen gerne weiter.
</p>
