<h1>Fragen und Antworten zur Nutzung des Archivs</h1>

<ul>
	<li>
    <%= link_to 'Inhaltliche Fragen', home_path(:page => "faq_archive_contents") %>
  </li>
  <li>
    <%= link_to 'Fragen zur Recherche', home_path(:page => "faq_searching") %>
  </li>
  <li>
    <%= link_to 'Fragen rund um die Technik', home_path(:page => "faq_technical") %>
  </li>
</ul>

<p>In diesem Bereich finden Sie inhaltliche oder technische Hinweise zur Nutzung des Archivs. <br />
  Sollten Ihre Fragen hier nicht beantwortet werden, schreiben Sie uns bitte eine E-Mail an: <br />
  <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Kontakt">mail@zwangsarbeit-archiv.de</a>.
</p>


