<h1>Вопросы и ответы, касающиеся использования архива</h1>

<ul>
	<li>
    <%= link_to 'Вопросы по содержанию', home_path(:page_id=> t('page_urls.faq_archive_contents')) %>
  </li>
  <li>
    <%= link_to 'Вопросы по поиску', home_path(:page_id=> t('page_urls.faq_searching')) %>
  </li>
  <li>
    <%= link_to 'Технические вопросы', home_path(:page_id=> t('page_urls.faq_technical')) %>
  </li>
  <li>
    <%= link_to 'Инструкции по публикации комментариев пользователей', external_url(:annotation_guidelines) %>
  </li>
</ul>

<p>
  В названных пунктах Вы найдёте технические указания или указания по содержанию, касающиеся использования архива.
  Если Ваши вопросы всё-таки останутся без ответа, напишите нам письмо на следующий электронный адрес:
  <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Контакт e-mail">mail@zwangsarbeit-archiv.de</a>.
</p>


