h1 Das Online-Archiv "Zwangsarbeit 1939-1945"



p
  | Das Online-Archiv &quot;Zwangsarbeit 1939-1945&quot; beinhaltet Zeitzeugen-Interviews
    von knapp 600 ehemaligen Zwangsarbeiterinnen und Zwangsarbeitern aus 26 Ländern.
    Es setzt sich aus unterschiedlichen Teilsammlungen zusammen. Diese wurden,
    finanziert durch die Stiftung &quot;Erinnerung, Verantwortung und Zukunft&quot;,
    in den Jahren 2005-2006 von verschiedenen Institutionen weltweit erstellt.
    Das digitale Archiv bewahrt diese Zeitzeugnisse für die Zukunft und stellt sie
    für Bildung und Wissenschaft zur Verfügung.
