<h1>Impressum</h1>

<p>&quot;Zwangsarbeit 1939 - 1945&quot; ist ein digitales Interview-Archiv zur Erinnerung an über zwölf Millionen Menschen, die für das nationalsozialistische Deutschland Zwangsarbeit geleistet haben.</p>
<p>Das Projekt ist eine Kooperation der Stiftung &quot;Erinnerung, Verantwortung und Zukunft&quot; mit der Freien Universität Berlin und dem Deutschen Historischen Museum.</p>

<h2><strong>Informationspflichten nach §§ 5 TMG, 55 RStV</strong></h2>
<h3>Anbieter:</h3>
<p><strong>Stiftung &quot;Erinnerung, Verantwortung und Zukunft&quot;</strong><br />Lindenstr. 20-25<br />10969 Berlin</p>
<p>Tel. +49 (0)30 25 92 97-0<br />Fax: +49 (0)30 25 92 9742</p>
<p>E-Mail: <a href="mailto:info@stiftung-evz.de">info@stiftung-evz.de</a><br /><a href="http://www.stiftung-evz.de/">www.stiftung-evz.de</a></p>
<p>Die Stiftung &quot;Erinnerung, Verantwortung und Zukunft&quot; ist eine Stiftung des öffentlichen Rechts. <br />Sie wird vertreten durch den Vorstand<br />Günter Saathoff<br />Dr. Martin Salm.</p>

<p>Rechtsaufsichtsbehörde: Bundesministerium der Finanzen, Wilhelmstraße 97, 10117 Berlin</p>
<p> </p>
<p><strong>CeDiS – Center für Digitale Systeme<br />Kompetenzzentrum E-Learning / Multimedia<br />Freie Universität Berlin</strong><br />Ihnestr. 24<br />14195 Berlin</p>
<p>Leitung: Prof. Dr. Nicolas Apostolopoulos</p>
<p>Tel: +49 (0)30 838-52775<br />Fax: +49 (0)30 838-52843</p>
<p>E-Mail: <a href="mailto:cedis@fu-berlin.de">cedis@fu-berlin.de</a></p>

<p>Umsatzsteueridentifikationsnummer: DE 811304768</p>
<h3>Verantwortlich für den Inhalt <strong>nach § 55 Abs. 2 RStV</strong>:</h3>
<p>CeDiS – Center für Digitale Systeme<br />Kompetenzzentrum E-Learning / Multimedia<br />Freie Universität Berlin</p>
<p>Prof. Dr. Nicolas Apostolopoulos</p>
<h3>Rechtliche Hinweise:</h3>
<p>CeDiS ist mit großer Sorgfalt bei der Zusammenstellung der auf dieser Website enthaltenen Informationen und Daten vorgegangen. Gleichwohl können Fehler nicht vollständig ausgeschlossen werden, so dass eine Haftung, Garantie, Zusicherung oder Gewährleistung jedweder Art für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen und Daten ausgeschlossen ist.</p>
<p>Alle Inhalte der Website sind urheberrechtlich geschützt. Die unerlaubte Verwendung einzelner Inhalte oder kompletter Seiten wird sowohl straf- als auch zivilrechtlich verfolgt. Weitere Einzelheiten sind durch die <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %> geregelt.</p>

<p>Bei direkten oder indirekten Verweisen auf fremde Internetseiten ('Links'), die außerhalb des Verantwortungsbereiches von CeDiS liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem CeDiS von den Inhalten Kenntnis hat und es technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. CeDiS erklärt hiermit, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Deshalb distanziert sich CeDiS hiermit ausdrücklich von allen Inhalten aller mit CeDiS verlinkten/verknüpften Seiten, die nach der Linksetzung verändert wurden. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde.</p>
<p>Die verwendeten Bilder sind Bestandteil des Archivs &quot;Zwangsarbeit 1939-1945&quot; und unterliegen den rechtlichen Bedingungen des Archivs.</p>
<h3>Gestaltung:</h3>
<p><a href="http://www.cedis.fu-berlin.de/mediendesign/">Designteam</a><br />Center für Digitale Systeme<br />Kompetenzzentrum E-Learning / Multimedia<br />Freie Universität Berlin</p>
<h3>Technische Umsetzung:</h3>
<p><a href="http://www.cedis.fu-berlin.de/cms/">CMS</a><br />Center für Digitale Systeme<br />Kompetenzzentrum E-Learning / Multimedia<br />Freie Universität Berlin</p>


