<h1>Legal Notice</h1>

<p>&quot;Forced Labor 1939-1945&quot; is a digital interview archive for the remembrance of the over twelve million people who were compelled to perform forced labor for Nazi Germany. The project is a cooperation between the Foundation &quot;Remembrance, Responsibility and Future&quot; (EVZ), Freie Universität Berlin and the German Historical Museum.</p>
<h2>Information Requirements according to §§ 5 TMG, 55 RStV</h2>

<h2>Operator:</h2>
<p><strong>Foundation &quot;Remembrance, Responsibility and Future&quot; (EVZ)</strong><br />Lindenstr. 20-25<br />10969 Berlin</p>
<p>Telephone: +49 (0)30 25 92 97-0<br />Fax: +49 (0)30 25 92 9742</p>
<p>E-mail: <a href="mailto:info@stiftung-evz.de">info@stiftung-evz.de</a><br /><a href="http://www.stiftung-evz.de" target="_blank">www.stiftung-evz.de</a></p>
<p>The Foundation &quot;Remembrance, Responsibility and Future&quot; (EVZ) is a foundation under public law.<br />It is represented by the Board of Directors:<br />Günter Saathoff<br />Dr. Martin Salm</p>

<p>Rechtsaufsichtsbehörde (supervisory authority):<br />Bundesministerium der Finanzen, Wilhelmstraße 97, 10117 Berlin</p>
<p> </p>
<p><strong>CeDiS – Center for Digital Systems<br />Competence Center for E-Learning / Multimedia<br />Freie Universität Berlin</strong><br />Ihnestr. 24<br />14195 Berlin</p>
<p>Director: Prof. Dr. Nicolas Apostolopoulos</p>
<p>Telephone: +49 (0)30 838-52775<br />Fax: +49 (0)30 838-52843</p>
<p>E-mail: cedis@fu-berlin.de</p>

<p>Value Added Tax Identification Number: DE 811304768</p>
<h2>Responsible for the Content according to § 55 Abs. 2 RStV:</h2>
<p>CeDiS – Center for Digital Systems<br />Competence Center for E-Learning / Multimedia<br />Freie Universität Berlin</p>
<p>Prof. Dr. Nicolas Apostolopoulos</p>
<h2>Legal Notice &amp; Disclaimer:</h2>
<p>During the compilation of the information and data contained on this website, CeDiS made sure to undertake this process with the utmost diligence and care. Notwithstanding this, mistakes and errors cannot be fully excluded. Therefore, liability, guarantee or warranty of any kind for the up-to-dateness, correctness and completeness of the information and data provided is excluded.</p>
<p>All contents of the website are protected by copyright. Unlawful use of individual contents or complete pages will be prosecuted according to penal as well as civil law.</p>

<p>Further details are outlined in the <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %></p>
<p>When it comes to direct or indirect references to Internet pages (‘links’) that lie outside of the responsibility of CeDiS a liability would only come into effect if CeDiS had knowledge of the contents provided externally and it would have been possible, both technically and within the scope of reason, to hinder the use when it comes to illegal content.</p>
<p>CeDiS herewith explicitly states that at the time of placing the link no illegal content was recognizable on the pages being linked to. Therefore CeDiS, herewith, expressly distances itself from all content of the linked or referenced websites that were changed after the links were originally placed. Illegal, incorrect or incomplete contents and especially damages incurred from using or not using such provided information are the liability of the provider of these sites to which a link or a reference refer. All pictures used on this site are part of the archive “Forced Labor 1939-1945” and are subject to the legal terms of the archive.</p>
<h2>Design</h2>
<p><a href="http://www.cedis.fu-berlin.de/mediendesign/" target="_blank">Design Team</a><br />CeDiS – Center for Digital Systems<br />Competence Center for E-Learning / Multimedia<br />Freie Universität Berlin</p>
<h2>Technical Implementation:</h2>
<p><a href="http://www.cedis.fu-berlin.de/cms/" target="_blank">CMS</a><br />Center for Digital Systems<br />Competence Center for E-Learning / Multimedia<br />Freie Universität Berlin</p>


