<ul style="float: right;">
    <li class="hint slide-1"><h3 style="margin: 0;">Karteneinf&uuml;hrung: Teil 1 - Filter</h3></li>
    <li class="hint slide-1">
      <p>Die &Uuml;bersichtskarte zu den Ortsangaben der Zwangsarbeiter enth&auml;lt unterschiedliche Angaben biographischer Relevanz. Welche von diesen dargestellt werden sollen ist der &Uuml;bersichtlichkeit halber jederzeit &uuml;ber sogenannte Filter direkt ausw&auml;hlbar.</p>
    </li>
    <li class="hint slide-1"><p>Bitte w&auml;hlen Sie zun&auml;chst die Arten von Angaben aus, die Sie interessieren und beobachten dabei die Darstellung der Orte auf der Karte:</p></li>
    <li class="map_filter_off forced_labor_location slide-1" style="cursor: pointer;"><span>Einsatzorte</span></li>
    <li class="map_filter_off forced_labor_camp slide-1" style="cursor: pointer;"><span>Lager und Haftst&auml;tten</span>
    <li class="map_filter_off forced_labor_company slide-1" style="cursor: pointer;"><span>Firmen</span></li>
    <li class="map_filter_off deportation_location slide-1" style="cursor: pointer;"><span>Deportationen</span></li>
    <li class="map_filter_off place_of_birth slide-1" style="cursor: pointer;"><span>Geburtsorte</span></li>
    <li class="map_filter_off return_location slide-1" style="cursor: pointer;"><span>Wohnorte nach 1945</span></li>
    <li class="map_filter_off home_location slide-1" style="cursor: pointer;"><span>Lebensmittelpunkte</span></li>
    <li class="map_filter_off interview slide-1" style="cursor: pointer;"><span>Erwähnungen</span></li>
    <li class="hint slide-2">
      <p>Zur Übersichtlichkeit bei niedriger Vergrößerung können die Ortsangaben nach Land und Region gebündelt werden. <img class="imageLeft" src="/images/map/tut_clusters.png"/>Diese Funktion können Sie jederzeit deaktivieren durch Abwahl des Punkts "Gruppierungen..." unter den Filtern.</p>
    </li>
    <li class="hint slide-2">
      <p>Diese Auswahlmöglichkeiten stehen Ihnen jederzeit zur Verfügung.<img class="imageRight" src="/images/map/tut_legend.png"/> Wählen Sie nur die Schaltfläche "Legende/Filter" oben rechts an, um die Filtermöglichkeiten einzublenden. Ein Klick außerhalb der Legende schließt diese wieder.</p>
    </li>
    <li class="hint slide-2">
      <p><a href="#"  onclick="new Effect.Fade('introduction');">Schlie&szlig;en</a> Sie diese Anleitung, wenn Sie fertig sind.</p>
    </li>
    <li class="hint links">
      <p><a class="back not-slide-1" href="#" onclick="adjustSlideNum(-1);">Zurück</a><span class="not-slide-1">&nbsp;oder&nbsp;</span><a class="forward not-slide-3" href="#" onclick="adjustSlideNum(1);">Weiter</a><a class="finish slide-3" href="#" onclick="endTutorial();">Einf&uuml;hrung beenden</a></p>
    </li>
</ul>