        <h1>The Online Archive “Forced Labor 1939-1945” </h1>

        <div class="contentImagesLeft">
          <div class="contentImage150">
            <img src="<%= image_path '180_DolezalMiroslavPhot09_150.jpg' %>" alt="Doležal, Miroslav" title="" />
            <h6>Doležal, Miroslav</h6>
          </div>
          <div class="contentImage150">
            <img src="<%= image_path 'ZA007_03_150.jpg' %>" alt="Poleschtschuk, Anna Iwanowna" title="" />
            <h6>Poleschtschuk, Anna Iwanowna</h6>
          </div>
        </div>

        <p> </p>

        <p>The online archive “Forced Labor 1939-1945” contains interviews with nearly 600 former
          forced laborers from 26 countries who had to perform forced labor during the period of
          National Socialism. The archive collection is made up of various subsets, which were
          compiled worldwide between the years 2005 and 2006 and financed by the Foundation
          “Remembrance, Responsibility and Future”. The digital archive preserves these testimonies
          for the future and makes them available for educational and research purposes.</p>
        <h2> </h2>
        <h2>Search Options</h2>
        <p>There are three ways to get started on your research in the archive:<br /><br /></p>
        <hr />
        <p>Content categories in the menu on the right provide access structured by theme.<br /><strong><a href="hilfe/suche/recherchemoeglichkeiten.html">More About the Categories »</a><br /></strong></p>
        <hr />
        <p>Use the map of the geographical distribution of the subsets of the collection for access by region.<br /><strong><a href="/collections" title="Karte">Map »</a><br /><a href="../sammlung/teilsammlungen/index.html" target="_blank" title="Subset Collections">More About the Subsets of the Collection »</a><br /></strong></p>
        <hr />
        <p>A full text search provides broad and intuitive access.<br /><strong><a href="suche/index.html" title="Search the Interviews">Full Text Search »</a><br /><a href="hilfe/suche/suche-allgemein.html" title="What search options are there?">More About Searching »</a></strong></p>
        <hr />
        <h2 class="clear">FAQs</h2>
        <p>Please see the <a href="hilfe/index.html" title="Help">Help Page</a> for technical advice or if you have any questions about the archive contents or using the archive. If your questions cannot be answered here, please  contact: <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a></p>