<h1>Freie Universität Berlin</h1>

<h2>Project Directors</h2>
<p><strong>Apostolopoulos, Prof. Dr. Nicolas<br/></strong>E-mail:
  <a href="mailto:napo@cedis.fu-berlin.de" title="napo@cedis.fu-berlin.de">napo@cedis.fu-berlin.de</a></p>

<p><strong>Pickhan, Univ.-Prof. Dr. Gertrud</strong><br/>E-mail:
  <a href="mailto:pickhan@zedat.fu-berlin.de" title="pickhan@zedat.fu-berlin.de">pickhan@zedat.fu-berlin.de</a><br/></p>
<h2>Team</h2>
<p><strong>Egli, Katja (Public Relations)</strong><br/>E-mail:
  <a href="mailto:kegli@cedis.fu-berlin.de" title="kegli@cedis.fu-berlin.de">kegli@cedis.fu-berlin.de</a></p>
<p><strong>El-Obaidi, Nadia (Web Design, Graphic Design)<br/></strong>E-mail:
  <a href="mailto:nadia.el-obaidi@fu-berlin.de" title="nadia.el-obaidi@fu-berlin.de">nadia.el-obaidi@fu-berlin.de</a>
</p>
<p><strong>Grandel, Florian (Web-Development)</strong><br/>E-mail:
  <a href="mailto:jerico.dev@gmail.com">jerico.dev@gmail.com</a></p>
<p><strong>Haurand, Kathrin (Project Organization)<br/></strong>E-mail:
  <a href="mailto:khaurand@cedis.fu-berlin.de" title="khaurand@cedis.fu-berlin.de">khaurand@cedis.fu-berlin.de</a></p>

<p><strong>Henselder, Jan (Digitization)</strong><br/>E-mail:
  <a href="mailto:jhenselder@cedis.fu-berlin.de" title="jhenselder@cedis.fu-berlin.de">jhenselder@cedis.fu-berlin.de</a>
</p>
<p><strong>Hoffmann, Hagen (Web Design, Graphic Design)</strong><br/>E-Mail:
  <a href="mailto:hahoffmann@cedis.fu-berlin.de">hahoffmann@cedis.fu-berlin.de</a></p>
<p><strong>Kilgus, Tobias (Digitization)</strong><br/>E-mail:
  <a href="mailto:tkilgus@cedis.fu-berlin.de" title="tkilgus@cedis.fu-berlin.de">tkilgus@cedis.fu-berlin.de</a></p>
<p><strong>Lippert, Wolfram (Web Presentation, Research Assistance)</strong><br/>E-mail:
  <a href="mailto:wolfram.lippert@fu-berlin.de" title="wolfram.lippert@fu-berlin.de">wolfram.lippert@fu-berlin.de</a>
</p>
<p><strong>Neubert, Katharina (Media, Design, Graphics, Digitization)</strong><br/>E-mail:
  <a href="mailto:neubert@cedis.fu-berlin.de" title="neubert@cedis.fu-berlin.de">neubert@cedis.fu-berlin.de</a></p>

<p><strong>Pagenstecher, <strong>Dr. </strong>Cord (Teaching Materials, Research Assistance)</strong><br/>E-mail:
  <a href="mailto:cord.pagenstecher@fu-berlin.de" title="cord.pagenstecher@fu-berlin.de">cord.pagenstecher@fu-berlin.de</a>
</p>
<p><strong>Pavlovic, Branka (Digitization)</strong><br/>E-mail:
  <a href="mailto:bpavlovic@cedis.fu-berlin.de">bpavlovic@cedis.fu-berlin.de</a></p>
<p><strong>Rietema, Jan (Web-Development, Research Assistance)</strong><br/>E-mail:
  <a href="mailto:jrietema@cedis.fu-berlin.de">jrietema@cedis.fu-berlin.de</a></p>
<p><strong>Schmeißer, Johannes (Web-Development)</strong><br/>E-mail:
  <a href="mailto:jschmeisser@cedis.fu-berlin.de">jschmeisser@cedis.fu-berlin.de</a></p>

<p><strong>Selmikeit, Nino (Digitization)<br/></strong>E-mail:
  <a href="mailto:nselmikeit@cedis.fu-berlin.de" title="nselmikeit@cedis.fu-berlin.de">nselmikeit@cedis.fu-berlin.de</a>
</p>
<p><strong>Stefanski, <strong>Dr. </strong>Valentina Maria (Research and Indexing, Research Assistance)</strong><br/>E-mail:
  <a href="mailto:valentina.stefanski@fu-berlin.de">valentina.stefanski@fu-berlin.de</a></p>
<p><strong>Tausendfreund, Dr. Doris (Projectmanagement)</strong><br/>E-mail:
  <a href="mailto:doris.tausendfreund@fu-berlin.de" target="_blank">doris.tausendfreund@fu-berlin.de</a></p>
<p><strong>Tectu, Radu (Web-Development) </strong><br/><a href="mailto:radu.tectu@fu-berlin.de">E-Mail:
  radu.tectu@fu-berlin.de</a></p>

<p><strong>Zeman-Castillo, Halina (Translating and Lectorship)</strong><br/>E-mail:
  <a href="mailto:zeman@zedat.fu-berlin.de" title="zeman@zedat.fu-berlin.de">zeman@zedat.fu-berlin.de</a></p>
<p></p>
<p></p>
<h1>German Historical Museum (DHM)</h1>
<h2>Project Director</h2>
<p><strong>Reineke, Dr. Brigitte<br/></strong>E-mail:
  <a href="mailto:reineke@dhm.de" title="reineke@dhm.de">reineke@dhm.de</a><br/></p>
