<h1>Freie Universität Berlin</h1>

<h2>Projektleitung</h2>
<p><strong>Apostolopoulos, Prof. Dr. Nicolas<br/></strong>E-Mail:
  <a href="mailto:napo@cedis.fu-berlin.de" title="napo@cedis.fu-berlin.de">napo@cedis.fu-berlin.de</a></p>
<p><strong>Pickhan, Univ.-Prof. Dr. Gertrud</strong><br/>E-Mail:
  <a href="mailto:pickhan@zedat.fu-berlin.de" title="pickhan@zedat.fu-berlin.de">pickhan@zedat.fu-berlin.de</a><br/></p>
<h2>Mitarbeiterinnen und Mitarbeiter</h2>

<p><strong>Egli, Katja (Öffentlichkeitsarbeit)</strong><br/>E-Mail:
  <a href="mailto:kegli@cedis.fu-berlin.de" title="kegli@cedis.fu-berlin.de">kegli@cedis.fu-berlin.de</a></p>
<p><strong>El-Obaidi, Nadia (Webdesign, Grafikdesign)<br/></strong>E-Mail:
  <a href="mailto:nadia.el-obaidi@fu-berlin.de" title="nadia.el-obaidi@fu-berlin.de">nadia.el-obaidi@fu-berlin.de</a>
</p>
<p><strong>Haurand, Kathrin (Projektorganisation)<br/></strong>E-Mail:
  <a href="mailto:khaurand@cedis.fu-berlin.de" title="khaurand@cedis.fu-berlin.de">khaurand@cedis.fu-berlin.de</a></p>
<p><strong>Henselder, Jan (Digitalisierung, Segmentierung)</strong><br/>E-Mail:
  <a href="mailto:jhenselder@cedis.fu-berlin.de" title="jhenselder@cedis.fu-berlin.de">jhenselder@cedis.fu-berlin.de</a>
</p>
<p><strong>Hoffmann, Hagen (Webdesign, Grafikdesign) </strong><br/>E-Mail:
  <a href="mailto:hahoffmann@cedis.fu-berlin.de">hahoffmann@cedis.fu-berlin.de</a></p>

<p><strong>Kilgus, Tobias (Digitalisierung, Segmentierung)</strong><br/>E-Mail:
  <a href="mailto:tkilgus@cedis.fu-berlin.de" title="tkilgus@cedis.fu-berlin.de">tkilgus@cedis.fu-berlin.de</a></p>
<p><strong>Lippert, Wolfram (Webpräsenz, wissenschaftliche Mitarbeit)</strong><br/>E-Mail:
  <a href="mailto:wolfram.lippert@fu-berlin.de" title="wolfram.lippert@fu-berlin.de">wolfram.lippert@fu-berlin.de</a>
</p>
<p><strong>Neubert, Katharina (Medien, Design, Grafik, Digitalisierung)</strong><br/>E-Mail:
  <a href="mailto:neubert@cedis.fu-berlin.de" title="neubert@cedis.fu-berlin.de">neubert@cedis.fu-berlin.de</a></p>
<p><strong>Pagenstecher, <strong>Dr. </strong>Cord (Unterrichtsmaterialien, wissenschaftliche Mitarbeit)</strong><br/>E-Mail:
  <a href="mailto:cord.pagenstecher@fu-berlin.de" title="cord.pagenstecher@fu-berlin.de">cord.pagenstecher@fu-berlin.de</a>
</p>

<p><strong>Pavlovic, Branka (Digitalisierung)</strong><br/>E-Mail:
  <a href="mailto:bpavlovic@cedis.fu-berlin.de">bpavlovic@cedis.fu-berlin.de</a></p>
<p><strong>Rietema, Jan (Web-Entwicklung, wissenschaftliche Mitarbeit)</strong><br/>E-Mail:
  <a href="mailto:jrietema@cedis.fu-berlin.de">jrietema@cedis.fu-berlin.de</a></p>
<p><strong>Schmeißer, Johannes (Web-Entwicklung)</strong><br/>E-Mail:
  <a href="mailto:jschmeisser@cedis.fu-berlin.de">jschmeisser@cedis.fu-berlin.de</a></p>
<p><strong>Selmikeit, Nino
  (Digitalisierung)<br/></strong>E-mail:<strong> </strong><a href="mailto:nselmikeit@cedis.fu-berlin.de" title="nselmikeit@cedis.fu-berlin.de">nselmikeit@cedis.fu-berlin.de</a>
</p>

<p><strong>Stefanski, <strong>Dr. </strong>Valentina Maria (Erschließung, wissenschaftliche Mitarbeit)</strong><br/>E-Mail:
  <a href="mailto:valentina.stefanski@fu-berlin.de">valentina.stefanski@fu-berlin.de</a></p>
<p><strong>Tausendfreund, Dr. Doris (Projektmanagement)<br/></strong>E-Mail:
  <a href="mailto:doris.tausendfreund@fu-berlin.de">doris.tausendfreund@fu-berlin.de</a></p>
<p><strong>Tectu, Radu (Web-Entwicklung)<br/></strong>E-Mail:
  radu.tectu<a href="mailto:radu.tectu@fu-berlin.de">@fu-berlin.de</a></p>
<p><strong>Zeman-Castillo, Halina (Übersetzung, Lektorat)</strong><br/>E-Mail:
  <a href="mailto:zeman@zedat.fu-berlin.de" title="zeman@zedat.fu-berlin.de">zeman@zedat.fu-berlin.de</a></p>

<p></p>
<p></p>
<h1>Deutsches Historisches Museum</h1>
<h2>Projektleitung</h2>
<p><strong>Reineke, Dr. Brigitte<br/></strong>E-Mail:
  <a href="mailto:reineke@dhm.de" title="reineke@dhm.de">reineke@dhm.de</a><br/></p>
<p></p>
<p></p>

