<h1>Nutzungsbedingungen</h1>

<h3>1. Allgemeines</h3>
<p>Das Archiv &quot;Zwangsarbeit 1939-1945, Erinnerungen und Geschichte, ein digitales Archiv für Bildung und Wissenschaft“ (abgekürzt: Archiv), wird von der Freien Universität Berlin (abgekürzt: Betreiber) im Auftrag der Stiftung &quot;Erinnerung, Verantwortung und Zukunft&quot; (abgekürzt: Stiftung) im Internet bereitgestellt.</p>

<p>Das Archiv beinhaltet lebensgeschichtliche Interviews mit ehemaligen Zwangsarbeiterinnen und Zwangsarbeitern aus der Zeit des Zweiten Weltkriegs.</p>
<h3>2. Verwendungszweck des Archivs</h3>
<p>Das Archiv steht für Bildungs-, Lehr- und Forschungszwecke oder zur Erfüllung vergleichbarer öffentlicher Aufträge allen Personen und Institutionen zur Verfügung, die ein berechtigtes Interesse nachweisen. Weiterhin kann das Archiv bei berechtigtem Interesse Journalisten und Privatpersonen zu Recherchezwecken zugänglich gemacht werden.</p>
<p>Bei der Nutzung des Archivs hat der Nutzer stets darauf zu achten, dass die Persönlichkeitsrechte der interviewten Zeitzeugen beachtet und deren schutzwürdige Daten nicht verbreitet bzw. deren Interessen nicht beeinträchtigt werden.</p>
<h3>3. Schutzrechte</h3>
<p>Das gesamte Archiv ist durch Urheberrechte und Persönlichkeitsrechte der interviewten Zeitzeugen, der Interviewer, der Stiftung und des Betreibers geschützt. Die Metadaten des Archivs sowie die dazugehörige Software sind durch Copyright des Betreibers geschützt.</p>
<h3>4. Antrag auf Nutzung des Archivs</h3>
<p>Zur Nutzung des Archivs ist ein Antrag in elektronischer Form erforderlich. Nach erfolgreicher Prüfung des Antrags erhält der Antragsteller elektronisch die erforderlichen Zugangsdaten (Benutzerkennung und Passwort). Diese Daten sind vertraulich zu behandeln und nicht an Dritte weiterzugeben. Im Falle eines Missbrauchs ist der Betreiber berechtigt, die Nutzungserlaubnis zu entziehen und ggf. weitere rechtliche Schritte einzuleiten.</p>
<h3>5. Zulässige Nutzung</h3>

<p>Im Rahmen des Verwendungszwecks des Archivs darf das Archiv nur für Bildungs-, Lehr- und Forschungszwecke insbesondere durch Schüler, Studenten, Wissenschaftler, Forschungsinstitutionen und sonstige Forschungs- und öffentliche Einrichtungen zur Recherche genutzt werden. Die Nutzung für persönliche Recherchen ist bei nachweislich berechtigtem Interesse ebenfalls erlaubt. Den Nutzern stehen die geführten Interviews (soweit vorhanden in Bild und Ton), die Transkripte der Interviews, Übersetzungen und Biographien zur Verfügung. Die zulässige Nutzung umfasst auch das Ausdrucken von Texten und Bildern aus dem Archiv. Zitate sind nach und im Rahmen des § 51 Urheberrechtsgesetzes in selbständigen Werken zulässig. Bei jedem Zitieren ist die Quelle anzugeben. Die Angabe hat zu enthalten:<br />Vorname des Interviewten, erster Buchstabe des Nachnamens des Interviewten,<br />Archiv-Kennzeichnung (Archiv-ID) des Interviews und den Hinweis zum Projekt,<br />&quot;Zwangsarbeit 1939-1945“.</p>
<h3>6. Bearbeitung des Archivmaterials</h3>
<p>Die Bearbeitung des Archivmaterials ist im Rahmen dieser Nutzungsbedingungen unzulässig. Eine Bearbeitung liegt bei einer inhaltlichen Veränderung (z. B. durch Umschnitte, Kürzungen etc.) oder bei einer Kopie des Archivmaterials vor. Die Bearbeitung des Archivmaterials bedarf einer besonderen Genehmigung durch die Stiftung. Anfragen sind an das Archiv zu richten.</p>
<h3>7. Persönlichkeitsrechte und Nutzungsverbote</h3>
<p>Bei der Nutzung des Archivs hat der Nutzer stets darauf zu achten, dass die Persönlichkeitsrechte der interviewten Zeitzeugen beachtet und deren schutzwürdige Daten nicht verbreitet bzw. deren Interessen nicht beeinträchtigt werden. Eine Nutzung des Archivmaterials für Werbezwecke, Wahlkampfzwecke o. ä. ist verboten. Die missbräuchliche Nutzung des Archivmaterials zur Diffamierung der Opfer des Nationalsozialismus, Leugnung der nationalsozialistischen Verbrechen, Volksverhetzung, Propagierung rassistischer oder nationalistischer Vorurteile o. ä. ist verboten.</p>
<h3>8. Haftung</h3>
<p>Der Nutzer gewährleistet, dass das von ihm genutzte Archivmaterial nur innerhalb dieser Nutzungsbedingungen verwendet wird. Dazu hat er alle erforderlichen Vorkehrungen zu treffen, um die missbräuchliche Verwendung des Archivmaterials durch Dritte zu verhindern. Der Nutzer wird den Betreiber im Falle einer missbräuchlichen Verwendung sofort informieren und bei gerichtlicher oder außergerichtlicher Geltendmachung seiner Rechte unterstützen, notwendige Auskünfte erteilen sowie Dokumente, Unterlagen etc. zur Verfügung stellen.</p>

<h3>9. Haftungsausschluss</h3>
<p>Schadensersatzansprüche gegen den Betreiber sind unabhängig vom Rechtsgrund ausgeschlossen, es sei denn, der Betreiber, seine gesetzlichen Vertreter oder Erfüllungsgehilfen haben vorsätzlich oder grob fahrlässig gehandelt. Vorstehende Haftungsbegrenzung gilt nicht für Schadensersatzansprüche, die aus der Verletzung von Leben, Körper, Gesundheit oder der Übernahme einer Beschaffenheitsgarantie oder einem arglistigen Verschweigen von Mängeln durch den Betreiber resultieren. Die Stiftung und der Betreiber sind für die Äußerungen, die in den Interviews gemacht werden, nicht haftbar.</p>
<h3>10. Datenschutz</h3>
<p>Im Rahmen der Antragstellung auf Nutzung des Archivs (Punkt 4) werden personenbezogene Daten erhoben. Diese werden ausschließlich für interne Zwecke genutzt und ohne ausdrückliche Zustimmung des Nutzers nicht an Dritte weitergereicht. Mit der Nutzung des Archivs ermächtigt der Nutzer den Betreiber die im Zusammenhang mit der Nutzung erhaltenen Daten im Sinne der Datenschutzgesetze zu verarbeiten, zu speichern, auszuwerten und zu nutzen. Der Nutzer hat ein Recht auf Auskunft sowie ein Recht auf Berichtigung, Sperrung und Löschung seiner gespeicherten Daten. Es ist möglich, dass der Betreiber in Übereinstimmung mit den geltenden Datenschutzbestimmungen und der aktuellen Rechtsprechung die IP-Adresse zu technischen Zwecken vorübergehend in einem Logfile speichert. Verantwortlich im Sinne der Datenschutzgesetze ist der Betreiber.</p>
<h3>11. Anwendbares Recht und Schlussbestimmungen</h3>
<p>Es gilt deutsches Recht. Erfüllungsort und ausschließlicher Gerichtsstand ist, soweit gesetzlich zulässig, Berlin. Der Betreiber behält sich vor, diese Nutzungsbedingungen mit Wirkung für die Zukunft zu ändern bzw. zu ergänzen.</p>
<p> </p>

<hr />
<p>Hinweis: Die an dieser Stelle publizierten Nutzungsbedingungen sind identisch mit den Nutzungsbedingungen unter <a href="../../sammlung/zugang/nutzungsbedingungen/index.html" title="Nutzungsbedingungen">www.zwangsarbeit-archiv.de/sammlung/zugang/nutzungsbedingungen</a>.</p>


