/*
 * Display utilities
 * Easily change display property without defining custom classes.
 */

.u-block {
  display: block !important;
}

.u-inline {
  display: inline !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-flex {
  display: flex !important;
}

.u-none {
  display: none !important;
}
