/**
 * Spacing utility classes
 *
 * E.g.

   .u-mt-none {
     margin-top: 0 !important; }

   .u-mt-small {
     margin-top: 0.5rem !important; }

   .u-mt {
     margin-top: 1rem !important; }

   etc...

 */

$spacing-directions: (
  null: null,
  '-top': 't',
  '-right': 'r',
  '-bottom': 'b',
  '-left': 'l',
) !default;

$spacing-properties: (
  'margin': 'm',
) !default;

$spacing-sizes: (
  '-none': 0,
  '-small': 0.5 * $base-unit,
  '-tiny': 0.25 * $base-unit,
  null: 1 * $base-unit,
  '-large': 2 * $base-unit,
) !default;

@each $property, $property-namespace in $spacing-properties {
  @each $direction, $direction-namespace in $spacing-directions {
    @each $size, $value in $spacing-sizes {
      .u-#{$property-namespace}#{$direction-namespace}#{$size} {
        #{$property}#{$direction}: $value !important;
      }
    }
  }
}

// More spacings

.u-ml-auto {
  margin-left: auto !important;
}

.u-mr-auto {
  margin-right: auto !important;
}

// Misc

.u-reset-list {
  list-style-type: none !important;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
