/*
 * Text utilities
 */

.u-normal {
  font-weight: normal !important;
}

.u-bold {
  font-weight: bold !important;
}

.u-align-left {
  text-align: left !important;
}

.u-align-right {
  text-align: right !important;
}

.u-align-center {
  text-align: center !important;
}

.u-align-justify {
  text-align: justify !important;
}

.u-line-height {
  line-height: $base-unit !important;
}

.u-color-text {
  color: $body-text-color !important;
}

.u-color-ui {
  color: $ui-background-color !important;
}

.u-uppercase {
  text-transform: uppercase !important;
}
