@use "../variables";

/*
 * Text utilities
 */

.u-normal {
  font-weight: normal !important;
}

.u-bold {
  font-weight: bold !important;
}

.u-align-left {
  text-align: left !important;
}

.u-align-right {
  text-align: right !important;
}

.u-align-center {
  text-align: center !important;
}

.u-align-justify {
  text-align: justify !important;
}

.u-line-height {
  line-height: variables.$base-unit !important;
}

.u-color-text {
  color: variables.$body-text-color !important;
}

.u-color-ui {
  color: variables.$ui-background-color !important;
}

.u-color-attention {
  color: variables.$attention-color !important;
}

.u-color-primary {
  color: var(--primary-color) !important;
}

.u-color-secondary {
  color: var(--secondary-color) !important;
}

.u-color-editorial {
  color: var(--editorial-color) !important;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-vertical-align-bottom {
  vertical-align: bottom !important;
}
