.u-width-half {
  width: 50% !important;
}

.u-width-third {
  width: 33.3333% !important;
}

.u-width-two-thirds {
  width: 66.6667% !important;
}

.u-width-quarter {
  width: 25% !important;
}

.u-width-three-quarters {
  width: 75% !important;
}

.u-width-full {
  width: 100% !important;
}

.u-width-auto {
  width: auto !important;
}
