div {
  class="segment_#{segment.id} Segment Segment--withSpeaker is-active"
  data-tape=tape_number
  data-time=segment.timecode
}

  span {
    class="Segment-icon Segment-icon--secondary"
    title=segment.speaking_person.full_name(I18n.locale)
    aria-label=segment.speaking_person.full_name(I18n.locale)
  }
    = segment.speaking_person.initials

  button {
    class="Segment-text"
    type="button"
    lang=alpha3
    dir="#{rtl ? 'rtl' : 'ltr'}"
  }
    = segment.text(alpha3)

  button {
    class="Modal-trigger Button--hover Segment-hiddenButton"
    type="button"
    title="Segment merken"
  }

    = fa_icon 'star', class: 'Icon Icon--unobtrusive'

  = render partial: 'segments/segment_actions', locals: { segment: segment, alpha3: alpha3 }

= turbo_frame_tag "segment_#{segment.id}_annotations"
= turbo_frame_tag "segment_#{segment.id}_registry_references"
