<p>Guten Tag,</p>
<p>in der Anwendung <%= @project.name(@project.default_locale) %> liegt eine benutzerseitig (<%= @user_name %>) korrigierte Anfrage auf Freischaltung vor.</p>
<p>Bitte überprüfen Sie diese innerhalb der kommenden zwei Werktage.</p>
<p><%= @url %></p>
<p>Viele Grüße</p>
<p>Oral-History.Digital</p>
