<p>Dear <%= @receiver.display_name %>,</p>

<% if @file %>
  <p>the file <%= @file && @file.split('/').last %> has been processed.</p> 
<% elsif @interview %>
  <p><%= @interview.archive_id %> has been processed.</p> 
<% end %>

<p>Best regards,</p>

<p>the machine</p>
