<p>Dear Admin,</p>
<p>there is a new registration for '<%= @project.name(@project.default_locale) %>'.</p>
<p>Please visit <a href="<%= @url %>"></a> to see what are her/his plans.</p>
<br/>
<p>Best regards,</p>
<p>The archive team "<%= @project.name('en') %>"</p>
