<p>Liebe*r Administrator*in,</p>
<p>in der Anwendung "<%= @project.name(@project.default_locale) %>" liegt eine neue Registrierung vor.</p>
<p>Bitte überprüfe diese innerhalb der kommenden zwei Werktage.</p>
<p><%= link_to @url, @url %></p>
<p>Viele Grüße</p>
<p>Dein Interview-Archiv</p>
