<% facets = @search -%>

<div class="baseListBox">

  <% remote_form_for facets,
                     :url => new_search_path,
                     :method => :get,
                     :html => { :action => new_search_path,
                                :method => :get,
                                :complete => "afterResponse();",
                                :success => "resetBlindStatus();",
                                :name => "searchFacets",
                                :id => "search_facets" } do |search_facets| %>

    <noscript>
      <div class="warning">
        <h4><%= t('search_no_javascript', :scope => 'user_interface.messages') %></h4>
      </div>
    </noscript>

    <% facets.unqueried_facets.each do |facet| %>
    <%= render :partial => '/searches/facet_option', :object => facet, :locals => { :search_facets => search_facets, :category_facet => facets.send(facet.first).is_a?(Array)} %>
    <% end %>

  <% end %>

  <% unless facets.open_category.blank? %>
    <% javascript_tag do %>
      toggleCategory('<%= facets.open_category %>_query', true);
    <% end %>
  <% end %>

  <div id="search_facets_overlay" class="overlay" style="display: none;"><img id="spinner_graphic" class="spinner_search" src="<%= image_path 'large_spinner.gif' %>" title="" alt="" /></div>

</div>