<div id="user_contents">
  <%= render :partial => 'user_content', :collection => @user_contents %>
</div>
<% javascript_tag do %>

    var togglingContent = 0;

    $$('#user_contents .item .header').each(function(elem){
        elem.addEventListener('click', toggleUserContent, false);
    });

    function toggleUserContent(event) {
        if(togglingContent > 0) { return; };
        var el = Event.element(event).parentNode;
        var details = el.down('.details');
        if(el.hasClassName('closed')) {
            // open
            new Effect.BlindDown(details, { duration: 0.5, beforeStart: function(){el.removeClassName('closed'); togglingContent = 1;}, afterFinish: function(){ togglingContent = 0; }});
        } else {
            // close
            new Effect.BlindUp(details, { duration: 0.5, beforeStart: function(){togglingContent = 1;}, afterFinish: function(){el.addClassName('closed'); togglingContent = 0; }});
        }
    }

<% end %>