<div id="toggle_links">
    <%= link_to_function t(:show_all, :scope => 'user_interface.labels'), 'expandAllContents()', :id => "expand_all" %>
    <%= link_to_function t(:minimize_all, :scope => 'user_interface.labels'), 'minimizeAllContents()', :id => "minimize_all", :style => 'display: none;' %>
</div>
<div id="user_contents">
  <%= render :partial => 'user_content', :collection => @user_contents %>
</div>
<% javascript_tag do %>

    var togglingContent = 0;
    var contentItems = new Array();

    $$('#user_contents .item .header').each(function(elem){
        elem.addEventListener('click', toggleUserContent, false);
        contentItems[contentItems.length] = elem.parentNode.down('.details');
    });

    function toggleUserContent(event) {
        if(togglingContent > 0) { return; };
        var el = Event.element(event).parentNode;
        var details = el.down('.details');
        if(el.hasClassName('closed')) {
            // open
            expandContent(details,true);
        } else {
            // close
            minimizeContent(details,true);
        }
    }

    function expandAllContents() {
        if(togglingContent > 0) { return; };
        var closedContents = new Array();
        contentItems.each(function(el){
            if(el.parentNode.hasClassName('closed')) {
                closedContents[closedContents.length] = el;
            }
        });
        Effect.multiple(closedContents, Effect.BlindDown, { beforeStart: function(){ closedContents.each(function(el){el.parentNode.removeClassName('closed');}); togglingContent = 1;}, afterFinish: function(){ togglingContent = 0; $('minimize_all').show();}});
        $('expand_all').hide();
    }

    function minimizeAllContents() {
        if(togglingContent > 0) { return; };
        var openContents = new Array();
        contentItems.each(function(el){
            if(!el.parentNode.hasClassName('closed')) {
                openContents[openContents.length] = el;
            }
        });
        Effect.multiple(openContents, Effect.BlindUp, { beforeStart: function(){ togglingContent = 1;}, afterFinish: function(){ openContents.each(function(el){el.parentNode.addClassName('closed');}); togglingContent = 0; $('expand_all').show();}});
        $('minimize_all').hide();
    }

    function expandContent(el,reset) {
        if(reset) {
            new Effect.BlindDown(el, { duration: 0.5, beforeStart: function(){el.parentNode.removeClassName('closed'); togglingContent = 1;}, afterFinish: function(){ togglingContent = 0; }});
        } else {
            new Effect.BlindDown(el, { duration: 0.5, beforeStart: function(){el.parentNode.removeClassName('closed'); togglingContent = 0;}});
        }
    }

    function minimizeContent(el, reset) {
        if(reset) {
            new Effect.BlindUp(el, { duration: 0.5, beforeStart: function(){togglingContent = 1;}, afterFinish: function(){el.parentNode.addClassName('closed'); togglingContent = 0; }});
        } else {
            new Effect.BlindUp(el, { duration: 0.5, afterFinish: function(){el.parentNode.addClassName('closed'); togglingContent = 0;}});
        }
    }

<% end %>