collection:
  key_attributes: 'project_id'
  project-id: 'project_id'
  title: 'name'
  countries: 'countries'
  institution: 'institution'
  homepage: 'homepage'
  interviewers: 'interviewers'
  responsibles: 'responsibles'
  notes: 'notes'

interview:
  key_attributes: 'archive_id'
  archive-id: 'archive_id'
  language-id: 'language_id'
  duration: 'duration'
  interview-date: 'interview_date'
  still-content-type: 'still_image_content_type'
  still-file-name: 'still_image_file_name'
  still-file-size: 'still_image_file_size'
  translated: 'translated'
  video:  'video'
  original-citation: 'original_citation'
  translated-citation: 'translated_citation'
  citation-timecode: 'citation_timecode'
  citation-media-id: 'citation_media_id'

  person:
    alias-names: 'alias_names'
    gender: 'gender'
    date-of-birth: 'date_of_birth'
    firstname: 'first_name'
    middle-names: 'other_first_names'
    lastname: 'last_name'
    birth-name: 'birth_name'
    forced-labor-details: 'forced_labor_details' # TODO: Make project-specific fields configurable.
    deportation-date: 'deportation_date'
    punishment: 'punishment'
    liberation-date: 'liberation_date'
    return-date: 'return_date'

language:
  key_attributes: 'id'
  id: 'id'
  code: 'code'
  name: 'name'
  abbreviated: 'abbreviated'

interview-team-member:
  class_name: 'contribution'
  delete_all: true
  delete_orphans_from: 'contributor'
  skip_invalid: true
  first-name: 'first_name'
  last-name: 'last_name'
  task: 'contribution_type'

photo:
  key_attributes: 'photo_file_name'
  delete_all: true
  skip_invalid: true # I don't like it, but at least they get reported
  image-file-name: 'photo_file_name'
  caption: 'caption'

tape:
  media-id: 'media_id'
  duration: 'duration'
  skip_invalid: true
  delete_all: true

text-material:
  key_attributes: 'document_type|locale'
  delete_all: true
  document-type: 'document_type'
  document-file-name: 'document_file_name'
  locale: 'locale'
  skip_invalid: true

caption:
  class_name: 'segment'
  key_attributes: 'none'
  delete_all: true
  media-id: 'media_id'
  timecode: 'timecode'
  duration: 'duration'
  transcript: 'transcript'
  translation: 'translation'
  mainheading: 'mainheading'
  subheading: 'subheading'
  section-code: 'section'
  speaker-change: 'speaker_change'
  chapter-change: 'chapter_change'
  speaker: 'speaker'

annotation:
  key_attributes: 'none'
  delete_all: true
  skip_invalid: true
  author: 'author'
  media-id: 'media_id'
  timecode: 'timecode'
  text: 'text'

registry-entry:
  key_attributes: 'id'
  id: 'id'
  entry-code: 'entry_code'
  entry-desc: 'entry_desc'
  latitude: 'latitude'
  longitude: 'longitude'
  workflow-state: 'workflow_state'
  list-priority: 'list_priority'

registry-hierarchy:
  key_attributes: 'id'
  id: 'id'
  ancestor-id: 'ancestor_id'
  descendant-id: 'descendant_id'
  direct: 'direct'
  count: 'internal_count'

registry-name-type:
  key_attributes: 'id'
  id: 'id'
  code: 'code'
  name: 'name'
  order-priority: 'order_priority'
  allows-multiple: 'allows_multiple'
  mandatory: 'mandatory'

registry-name:
  key_attributes: 'id'
  id: 'id'
  registry-entry-id: 'registry_entry_id'
  registry-name-type-id: 'registry_name_type_id'
  name-position: 'name_position'
  descriptor: 'descriptor'

registry-reference-type:
  key_attributes: 'id'
  id: 'id'
  registry-entry-id: 'registry_entry_id'
  code: 'code'
  name: 'name'

registry-reference:
  delete_all: true
  id: 'id'
  registry-entry-id: 'registry_entry_id'
  ref-object-id: 'ref_object_id'
  ref-object-type: 'ref_object_type'
  registry-reference-type-id: 'registry_reference_type_id'
  ref-position: 'ref_position'
  original-descriptor: 'original_descriptor'
  ref-details: 'ref_details'
  ref-comments: 'ref_comments'
  ref-info: 'ref_info'
  workflow-state: 'workflow_state'
  media-id: 'alternative_id'
  archive-id: 'alternative_id'
