.leaflet-container {
  height: 350px;
  width: 100%;
}.segment {
  clear: both;
}

.segment.active {
  color: #a52a2a;
}

.segment .text {
  width: 65%;
  float: left;
}

.segment .annotations {
  width: 30%;
  color: #2f4f4f;
  font-size: 90%;
  float: right;
}

.segment .references {
  width: 30%;
  color: #696969;
  font-size: 80%;
  float: right;
}.navigation {
  position: absolute;
  left: 6px;
  top: 1086px;
  width: 1908px;
  height: 56px;
  background-image: url(/packs/Menue_Leiste_ohne_Fuellung.png);
}

.navigation div, .navigation a {
  width: 75px;
  height: 56px;
  float: left;
  display: block;
  margin-right: 4.5px;
}

.navigation .lang-en {
  background-image: url(/packs/EN_orange.png);
}

.navigation .lang-de {
  background-image: url(/packs/DE_orange.png);
}

.navigation .video-play {
  background-image: url(/packs/PLAY_orange.png);
}

.navigation .video-pause {
  background-image: url(/packs/PAUSE_orange.png);
}

.navigation input {
  -webkit-appearance: none;
  position: absolute;
}

.navigation input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid transparent;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: 2px;
}

.navigation .video-volume {
  background-image: url(/packs/LAUTSTAERKE_aus.png);
  width: 234px;
  height: 56px;
  position: absolute;
  left: 398px;
}

.navigation .video-volume .turned-on {
  background-image: url(/packs/LAUTSTAERKE_innen_an.png);
  width: 168px;
  height: 56px;
  position: absolute;
  left: 33px;
}

.navigation .video-volume input {
  background: transparent;
  width: 170px;
  height: 56px;
  position: absolute;
  left: 32px;
}

.navigation .video-time {
  background-image: url(/packs/FILM_Fortschrittsbalken.png);
  width: 1192px;
  position: absolute;
  left: 636px;
  /*input[type=range]::-webkit-slider-thumb {*/
  /*-webkit-appearance: none;*/
  /*[>border: 1px solid black;<]*/
  /*}*/
}

.navigation .video-time .time-past {
  background-color: #878787;
  width: 1152px;
  height: 13px;
  position: absolute;
  left: 20px;
  top: 20.5px;
}

.navigation .video-time input {
  background: transparent;
  width: 1152px;
  height: 56px;
  position: absolute;
  left: 20px;
}.heading .collapsed {
  display: none;
}.facet {
  position: relative;
  width: 100%;
  border-bottom: 5px solid #999;
  border-left: 2px solid #999;
  border-right: 2px solid #999;
}

.facet button {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  height: 3em;
  width: 3em;
  outline: 0;
  border: 0;
  background: none;
  text-indent: -9999%;
  pointer-events: none;
}

.facet button:before {
  content: '';
  display: block;
  position: absolute;
  height: 12px;
  width: 4px;
  border-radius: .3em;
  background: #999;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  top: 50%;
  left: 50%;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-transform: translate(75%, -50%) rotate(45deg);
          transform: translate(75%, -50%) rotate(45deg);
}

.facet button:after {
  content: '';
  display: block;
  position: absolute;
  height: 12px;
  width: 4px;
  border-radius: .3em;
  background: #999;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  top: 50%;
  left: 50%;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-transform: translate(-75%, -50%) rotate(-45deg);
          transform: translate(-75%, -50%) rotate(-45deg);
}

.facet.open button:before, .facet.open button:after {
  height: 14px;
}

.facet.open button:before {
  -webkit-transform: translate(0%, -50%) rotate(-45deg);
          transform: translate(0%, -50%) rotate(-45deg);
}

.facet.open button:after {
  -webkit-transform: translate(0%, -50%) rotate(45deg);
          transform: translate(0%, -50%) rotate(45deg);
}

.facet.open .subfacets {
  height: auto;
}

.subfacets {
  height: 0;
  overflow: hidden;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.facet-name {
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5em;
}

.subfacet {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}