<div id="newsletter_subscription_status" class="<%= newsletter.receive_newsletter ? 'subscribed' : 'unsubscribed' -%>">

  <div class="subscribed">
    <span class="status">
    Newsletter abonniert
    </span>
    <%=  link_to 'abbestellen', '#', link: unsubscribe_admin_user_path(newsletter), class: 'newsletter-subscription' %>
  </div>

  <div class="unsubscribed">
    <span class="status">
    Newsletter abbestellt
    </span>
    <%=  link_to 'abonnieren', '#', link: subscribe_admin_user_path(newsletter), class: 'newsletter-subscription' %>
  </div>

</div>
