<div id="newsletter_subscription_status" class="<%= newsletter.newsletter_signup ? 'subscribed' : 'unsubscribed' -%>">

  <div class="subscribed">
    <span class="status">
    Newsletter abonniert
    </span>
    <%=  link_to 'abbestellen', '#', link: unsubscribe_admin_user_registration_path(newsletter), class: 'newsletter-subscription' %>
  </div>

  <div class="unsubscribed">
    <span class="status">
    Newsletter abbestellt
    </span>
    <%=  link_to 'abonnieren', '#', link: subscribe_admin_user_registration_path(newsletter), class: 'newsletter-subscription' %>
  </div>

  <span id="newsletter_spinner" style="display: none;">
    <%= image_tag "#{Project.name}/loading.gif" %>
  </span>

</div>
