.navigation {
  position: absolute;
  left: 6px;
  top: 1086px;
  width: 1908px;
  height: 56px;
  background-image: url(../images/navigation/Menue_Leiste_ohne_Fuellung.png);
  div, a {
    width: 75px;
    height: 56px;
    float: left;
    display: block;
    margin-right: 4.5px;
  }
  .lang-en {
    background-image: url(../images/navigation/EN_orange.png);
  }
  .lang-de {
    background-image: url(../images/navigation/DE_orange.png);
  }
  .video-play {
    background-image: url(../images/navigation/PLAY_orange.png);
  }
  .video-pause {
    background-image: url(../images/navigation/PAUSE_orange.png);
  }
  input {
    -webkit-appearance: none;
    position: absolute;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid transparent;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: 2px;
  }
  .video-volume {
    background-image: url(../images/navigation/LAUTSTAERKE_aus.png);
    width: 234px;
    height: 56px;
    position: absolute;
    left: 398px;
    .turned-on {
      background-image: url(../images/navigation/LAUTSTAERKE_innen_an.png);
      width: 168px;
      height: 56px;
      position: absolute;
      left: 33px;
    }
    input {
      background: transparent;
      width: 170px;
      height: 56px;
      position: absolute;
      left: 32px;
    }
  }
  .video-time {
    background-image: url(../images/navigation/FILM_Fortschrittsbalken.png);
    width: 1192px;
    position: absolute;
    left: 636px;
    .time-past {
      background-color: #878787;
      width: 1152px;
      height: 13px;
      position: absolute;
      left: 20px;
      top: 20.5px;
    }
    /*input[type=range]::-webkit-slider-thumb {*/
      /*-webkit-appearance: none;*/
      /*[>border: 1px solid black;<]*/
    /*}*/
    input {
      background: transparent;
      width: 1152px;
      height: 56px;
      position: absolute;
      left: 20px;
    }
  }
}
