<p>Dear Admin,</p>
<p><%= @user_name %> has registered for '<%= Project.project_name['en'] %>'.</p>
<p>Please visit <%= @url %> to see what are his plans.</p>
<br/>
<p>Best regards,</p>
<p>The archive team "<%= Project.project_name['en'] %>"</p>
