<p>Sehr geehrte/r <%= @user_name %>,</p>

<p>eine neue Version des Archivs "Zwangsarbeit 1939-1945" steht bereit unter:<br/>http://zwangsarbeit-archiv.de/archiv</p>

<p>Um Ihren Zugang zur neuen Archivplattform zu ermöglichen, bitten wir Sie Ihren Zugang hier zu bestätigen und ein neues Passwort zu wählen:<br/><%= link_to 'Zugang jetzt bestätigen', @url %></p>

<p>Das Archiv "Zwangsarbeit 1939-1945" wartet ab sofort mit neuen Suchfunktionen und einer Darstellung von übersetzten Transkriptionen als Untertitel auf. Wir hoffen, dass Ihnen die Neuerungen gefallen und freuen uns über Ihr Feedback!</p>

<p>Mit freundlichen Grüßen,</p>

<p>Ihr Team "Zwangsarbeit 1939-1945"</p>

<hr/>

<p>Dear <%= @user_name %>,</p>

<p>a new version of the archive "Forced Labor 1939-1945" is now available at:<br/>http://zwangsarbeit-archiv.de/archiv</p>

<p>To enable your access to the new archive platform, we ask you to confirm your account and choose a new password here:<br/><%= link_to 'Confirm your account', @url %></p>

<p>The archive "Forced Labor 1939-1945" now features a new search interface and subtitled transcripts. We hope you enjoy these new features and would gladly hear your feedback!</p>

<p>Best regards,</p>

<p>Team "Forced Labor 1939-1945"</p>