@import "../../stylesheets/variables";

.container {
  align-items: flex-start;
  display: flex;
  padding-left: 2.5rem;
  position: relative;
}

.container:not(:first-of-type) {
  margin-top: 0.75rem;
}

.main {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  font-family: $font-family;
  line-height: 1.5rem;
  outline: none;
  padding: 0;
  text-align: left;
  transition: box-shadow $transition-duration;
}

.main:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.active {
  background-color: rgba(255, 250, 129, 0.5);
}

.chapter {
  letter-spacing: 0.1rem;
  min-width: 3rem;
  transition: color $transition-duration;
}

.heading {
  transition: color $transition-duration;
}

.main:hover .heading,
.main:hover .chapter,
.main:focus .heading,
.main:focus .chapter {
  color: var(--primary-color);
}

.timecode {
  color: $gray-dark;
  font-size: 0.75rem;
  margin-left: auto;
}
