// Fira

@font-face {
  font-family: 'FiraSans';
  src:
    url('../assets/fonts/FiraSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src:
    url('../assets/fonts/FiraSans-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/FiraSans-SemiBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src:
    url('../assets/fonts/FiraSans-Italic.woff2') format('woff2'),
    url('../assets/fonts/FiraSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
