//
// Grid system
// --------------------------------------------------

.boxes {
  display: table;
  width: 100%;
  //height: 100%;
  //margin-bottom: 3%;
}

.box,
.box-30,
.box-20,
.box-17-5,
.box-10,
.box-7-5 {
  display: table-cell;
  /*text-align: center;*/
  vertical-align: top;
  padding: 7px;
  width: 25%;
  .name,
  .title {
    font-weight: bold;
  }
}

.box-30 {
  width: 30%;
}

.box-20 {
  width: 20%;
}

.box-17-5 {
  width: 17.5%;
}

.box-15 {
  width: 15%;
}

.box-12-5 {
  width: 12.5%;
}

.box-10 {
  width: 10%;
}

.box-7-5 {
  width: 7.5%;
}

@include screen-xs {
  .box {
    display: block;
    width: 100%;
  }
}
