@use "mixins";
@use "variables";

// structure

// Reset the box-sizing

* {
  @include mixins.box-sizing-border-box;
}

*:before,
*:after {
  @include mixins.box-sizing-border-box;
}

html {
  font-size: variables.$font-size-root;
}

body {
  margin: 0;
  font-family: variables.$font-family;
  color: variables.$gray-darkest;
  background: variables.$body-bg-color;
  font-size: variables.$font-size-large;
  line-height: variables.$line-height-large;
}

.active_map_popup_text{
  color: var(--primary-color);
  cursor: pointer;
}

footer {
  background: #fff; //$gray-dark;
  border-top: 1px solid variables.$gray-dark;
  padding: 30px 5%;
  p {
    margin-top: 10px;
    padding-top: 5px;
    font-size: variables.$font-size-medium;
    color: variables.$gray-dark;
  }
}

.footer-bottom-nav {
  font-size: variables.$font-size-medium;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding-right: 1.5rem;
  }

  li:last-of-type {
    padding-right: 0;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: var(--primary-color);
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.flyout-caption {
  margin-top: 0;
  margin-bottom: 25px;
}

h1.registry-entries-title {
  margin-top: 0;
  margin-bottom: 25px;
}

/* Search-Result */

h1.search-results-title {
  margin-top: 0;
  //float: left;
  //margin-right: 30px;
}
.search-results-legend {
  margin: 0;
  padding: 0;
  @include mixins.pie-clearfix;
}
.search-results-ico-link {
  float: none;
  font-size: variables.$font-size-large;
  color: var(--primary-color);
  transition: color 0.3s;
  cursor: pointer;
  .fa {
    margin-right: 10px;
  }
  &:hover {
    color: variables.$gray-dark;
    .fa {
      color: variables.$gray-dark;
    }
  }
  @include mixins.screen-m {
    float: left;
    margin-bottom: 0;
    margin-right: 1em;
  }
}
.search-results-legend-text {
  float: none;
  margin-bottom: 10px;
  color: variables.$gray-darker;
  @include mixins.screen-m {
    float: right;
    margin-bottom: 0;
  }
}

ul.search-results-pagination {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 4px 4px 0;
    padding: 4px 0;
    background-color: #fff;
    color: variables.$gray-dark;
    border: 1px solid variables.$gray-medium;
    text-align: center;
    transition: color 0.3s;
    transition: background-color 0.3s;
    width: 38px;
    cursor: pointer;
    .fa {
      margin-right: 0;
      @include mixins.screen-m {
        margin-right: 10px;
      }
    }
    &.active {
      background-color: #ddd;
      .fa, span {
        color: variables.$gray-dark;
      }
    }
    &:hover {
      background-color: #ddd;
      color: variables.$gray-dark;
      .fa {
        color: variables.$gray-dark;
      }
    }
  }
}
.search-results-from-to {
  margin-bottom: 20px;
  font-size: variables.$font-size-medium;
}

a.search-result-link {
  overflow: hidden;
}
a.small {
  font-size: 0.9rem;
}

.search-result, .search-result-workflow, .search-result-workflow-detail {
  position: relative;
  width: 100%;
  margin: 0 0 30px;
  padding: 0 20px;
  @include mixins.screen-m {
    width: 50%;
  }
  @include mixins.screen-l {
    width: 33.33%;
  }
  img {
    width: 100%;
    display: block;
  }
}

.border-top:not(:first-child) {
  border-top: 1px solid lightgray;
}

.search-result-workflow {
  margin: 5px 0 0;
  padding: 5px 0 0;
  img {
    width: 50%;
  }
  span {
    font-size: variables.$font-size-medium;
  }
  span.flyout-content-data:not(:last-child) {
    border-right: none;
  }
  .form-label {
    display: none;
  }
  .box {
    font-size: 14px;
    select {
      @include mixins.screen-l {
        width: 100%;
      }
    }
  }
}

.search-result-workflow-detail {
  margin: 0;
  padding: 0;
  .boxes {
    padding: 20px;
  }
  .box {
    font-size: 14px;
  }
  .header {
    .box {
      font-weight: bold;
    }
  }
}

.slider {
  transition: max-height 0.2s ease-out;
  max-height: 250px;
}

/* workflow */

.workflow-header {
  background-color: variables.$gray-light;
  padding: 5px;
  font-weight: bold;
}

.workflow-symbols {
  font-size: variables.$font-size-medium;
  span {
    padding: 1px 5px;
    margin: 1px;
    float: left;
    &.created {
      background-color: variables.$not-started;
    }
    &.started, &.restarted {
      background-color: variables.$started;
    }
    &.finished {
      background-color: variables.$finished;
    }
    &.cleared {
      background-color: variables.$public;
    }
  }
}

.workflow-active {
  background-color: variables.$gray-lightest;
  padding: 20px 20px 0;
  &.header {
    border-bottom: 1px solid gray;
  }
  &.tasks {
    height: 300px;
    overflow-y: scroll;
    input[type=submit] {
      float: right;
      margin-right: 7px;
    }
  }
}

.wrapper-content.register,
.wrapper-content.interviews,
.wrapper-content.home-content,
.wrapper-content.project-index,
.wrapper-content.map {
  margin-top: 0px !important;
}

.wrapper-content.home-content {
  padding:0;

  .home-text {
    padding: 15px 5% 30px 5%;
    background-color: #ddd;
  }

  .home-paragraph {
    padding: 0 5% 0 5%;
  }
}

.home-content-logos {
  padding:40px 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  a {
    width: 30%;
    margin: 0 5% 20px 5%;
    padding: 0;
    @include mixins.screen-m {
      width: 15%;
      margin: 0 3%;
    }
    &.fu-logo {
      width: 225px !important;
      height: 63px !important;
    }
    img {
      width: 100%;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.search-results-explanation {
  margin-bottom: 30px;
}

/* Letter spacing */

.figure-letter-spacing {
  letter-spacing: 0.1rem;
}
.messages {
  position: absolute;
  top: 5px;
  left: 33%;
  color: variables.$gray-dark;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  background: #fff;
  box-shadow: 0 3px 14px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 3px 14px rgba(0,0,0,.4);
  -moz-box-shadow: 0 3px 14px rgba(0,0,0,.4);
  width: 260px;
  z-index: 1000;
}

@-webkit-keyframes fade-out { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fade-out { from { opacity:1; } to { opacity:0; } }
@keyframes fade-out { from { opacity:1; } to { opacity:0; } }


.messages {
  opacity:1;  /* make things invisible upon start */
  -webkit-animation:fade-out ease-out 1;  /* use animattion ease-out and repeat it only 1 time */
  -moz-animation:fade-out ease-out 1;
  animation:fade-out ease-out 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 5.6s;
  -moz-animation-delay: 5.6s;
  animation-delay: 5.6s;
}

.notifications{
  border: 1px solid red;
  margin: 10px;
  padding: 5px 5px 0 5px;
  p {
    color: red;
  }
}

.footer-navigation {
  padding: 5%
  a {
    margin-right: 10%
  }
  .fa.fa-chevron-right {
    margin-left: 10px
  }
}
.fa-eye-slash{
  color: var(--editorial-color) !important;
}
