@use "mixins";
@use "variables";

// Utils
// ------------------------------------------

.skip, .hideme, .hide {
  position: absolute;
  left: -1000em; // ltr
  top: -1000em;
}

.layout-indicator {
  display: none !important;
  width: 30px;
  background: variables.$gray-dark;
  color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -15px;
  text-align: center;
  line-height: 30px;
}

.no-print {
  @media print {
    display: none !important;
  }
}


// Floats
// -------------------------

.clearfix {
  @include mixins.clearfix();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}
