//
// Variables
// --------------------------------------------------

// Base unit
// --------------------------------------------------

$base-unit: 1.5rem;

// Colors
// --------------------------------------------------

$gray-darkest: #222 !default;
$gray-darker: #333 !default;
$gray-dark: #666 !default;
$gray-medium: #999 !default;
$gray-light: #ccc !default;
$gray-lighter: #ddd !default;
$gray-lightest: #eee !default;
$gray-pale: #f1f1f1 !default;
$gray-paler: #f4f4f4 !default;
$gray-warm: #8b8b7a !default;
$gray-warm-dark: #6b6b5e !default;

$danger-color: red;
$attention-color: #0ebd15;
$warning-color: orange;
$banner-color: $warning-color;

$flyout-tab-title-text-color: #fff !default;
$ui-background-color: $gray-warm-dark;
$sidebar-background-color: rgba(232, 232, 228, 0.95);

$focus-color: var(--secondary-color); // #6eb0f1;
$focus-radius: $base-unit * 0.125;

// z-indexes

$z-index-thumbnail-badge: 1;
$z-index-thumbnail-arrows: 1;
$z-index-edit-table-header: 1;
$z-index-content-tabs: 3;
$z-index-media-player: 3;
$z-index-color-picker: 3;
$z-index-map: 5;
$z-index-search-spinner-overlay: 6;
$z-index-listbox: 7;
$z-index-sidebar: 7; // Keep under 10 because of RichTextarea popup.
$z-index-banner: 8;
$z-index-sidebar-toggle: 8;
$z-index-back-to-top: 9;
$lightbox-z-index: 1000;
$dialog-overlay-z-index: 1002;
$z-index-map-spinner-overlay: 1003;

// Basics
// --------------------------------------------------

$body-bg-color: #fff !default;
$body-text-color: $gray-darkest !default;

//$link-color:       $primary-color !default;
//$link-hover-color: $primary-color !default;

$text-margin-medium: 9px;
$text-margin-large: 11px;

// Fonts
// --------------------------------------------------

// Body
$font-family: FiraSans, Arial, Helvetica, sans-serif !default;

$font-size-root: 16px !default;

$font-size-small: 0.75rem !default;
$font-size-medium: 0.875rem !default;
$font-size-large: 1rem !default;
$font-size-larger: 1.125rem !default;

$line-height-small: 1.063rem !default;
$line-height-medium: 1.313rem !default;
$line-height-large: 1.5rem !default;
$line-height-larger: 1.688rem !default;

// Headings
$font-family-heading: FiraSans, Arial, Helvetica, sans-serif !default;

$font-size-heading-h1: 1.6rem !default; //1.563rem
$font-size-heading-h2: 1.313rem !default;
$font-size-heading-h3: 1.188rem !default;
$font-size-heading-h4: 0.875rem !default;
$font-size-heading-h5: 0.875rem !default;
$font-size-heading-h6: 0.75rem !default;
$font-size-heading-h1-large: 2rem !default;
$font-size-heading-h2-large: 1.438rem !default;
$font-size-heading-h3-large: 1.313rem !default;
$font-size-heading-h4-large: 1em !default;
$font-size-heading-h5-large: 1em !default;
$font-size-heading-h6-large: 0.875rem !default;

$line-height-heading-h1: 2rem !default;
$line-height-heading-h2: 1.688rem !default;
$line-height-heading-h3: 1.563rem !default;
$line-height-heading-h4: 1.25rem !default;
$line-height-heading-h5: 1.25rem !default;
$line-height-heading-h6: 1.063rem !default;
$line-height-heading-h1-large: 2.25rem !default;
$line-height-heading-h2-large: 1.938rem !default;
$line-height-heading-h3-large: 1.75rem !default;
$line-height-heading-h4-large: 1.438rem !default;
$line-height-heading-h5-large: 1.438rem !default;
$line-height-heading-h6-large: 1.25rem !default;

$font-family-heading-weight: normal !default;

// Icons
$font-path: '../fonts/' !default;

// Widths and heights

$line-length: 32.5rem;

$site-header-height-mobile: 5rem;
$site-header-height-desktop: 6.25rem;
$horizontal-tabs-height: $base-unit * 2;

// Miscellaneous
// --------------------------------------------------

$hr-border: $gray-lighter !default;

$border-radius: 0.5rem;

$video-element-margin: 0 12%;
$video-element-margin-m: 0 17.5%;
$video-element-margin-l: 0 27%;

$transition-duration: 300ms;

// Breakpoints
// --------------------------------------------------

// Extra small screen
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;

// Small screen
$screen-s: 520px !default;
$screen-s-min: $screen-s !default;

// Medium screen
$screen-m: 768px !default;
$screen-m-min: $screen-m !default;

// Large screen
$screen-l: 990px !default;
$screen-l-min: $screen-l !default;

// Extra large screen
$screen-xl: 1200px !default;
$screen-xl-min: $screen-xl !default;

$screen-xs-max: ($screen-s-min - 1) !default;
$screen-s-max: ($screen-m-min - 1) !default;
$screen-m-max: ($screen-l-min - 1) !default;
$screen-l-max: ($screen-xl-min - 1) !default;

// Media Player Configuration
// --------------------------------------------------

// Width of video element in two-column layout (medium+ screens)
$media-player-video-width: 66%;
// Maximum width constraint for video element - compact/small size
$media-player-video-max-width-small: 20rem;
// Maximum width constraint for video element - expanded/medium size
$media-player-video-max-width: 50rem;
// Padding for header/controls area
$media-player-header-padding: $base-unit;
// Padding for mobile layout
$media-player-mobile-padding-bottom: $base-unit;
$media-player-mobile-padding-x: calc($base-unit / 2);

// CSS Custom Properties
// --------------------------------------------------
:root {
  // Content tabs height (constant across breakpoints)
  --content-tabs-height: #{$horizontal-tabs-height};
}

// workflow-colors
$not-started: #8f201c;
$started: #ef6c0f;
$finished: #ecef0f;
$public: #508331;
