/**
 * Main Sass file
 * Imports all other Sass files.
 */

/* Variables and mixins */
@import "variables";
@import "mixins";

/* Normalize */
@import "normalize";

/* Vendors */
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome.scss";

$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path: "~slick-carousel/slick/fonts/";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

// React-ui
[data-reach-dialog-overlay] {
  z-index: $dialog-overlay-z-index;
}

// react-slick
.slick-slide > div {
  height: 100%;
}

@import "react-dropdown-tree-select/dist/styles.css";

/* Partials */
@import "dev";
@import "fonts";
@import "structure";
@import "content";
@import "utils";
@import "nav";
@import "grid";

/* Modules */
@import "modules/header";
@import "modules/content-tabs";
@import "modules/flyout-sub-tabs";
@import "modules/flyout-nav-tabs";
@import "modules/flyout-login";
@import "modules/accordion";
@import "modules/popup";
@import "modules/form-default";

/* Components */
@import "components/aspect-ratio";
@import "components/burger-button";
@import "components/button";
@import "components/content-field";
@import "components/contribution-list";
@import "components/detail-list";
@import "components/form-label";
@import "components/icon-button";
@import "components/media-element";
@import "components/media-header";
@import "components/media-player";
@import "components/paragraph";
@import "components/registry-entry";
@import "components/registry-entry-list";
@import "components/registry-reference";
@import "components/registry-references";
@import "components/segment";
@import "components/site";
@import "components/site-header";
@import "components/wrapper-page";

/* Print */
@import "print";

/* Utilities */
@import "utilities/spacings";
