/**
 * Main Sass file
 * Imports all other Sass files.
 */

/* Variables and mixins */
@import "variables";
@import "mixins";

/* Normalize */
@import "normalize";

/* Vendors */
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome.scss";

$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path: "~slick-carousel/slick/fonts/";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

// React-ui
[data-reach-dialog-overlay] {
  z-index: $dialog-overlay-z-index;
}

@import "react-dropdown-tree-select/dist/styles.css";

/* Partials */
@import "dev";
@import "fonts";
@import "structure";
@import "content";
@import "utils";
@import "nav";
@import "grid";

/* Modules */
@import "modules/header";
@import "modules/content-tabs";
@import "modules/flyout-sub-tabs";
@import "modules/flyout-nav-tabs";
@import "modules/flyout-login";
@import "modules/accordion";
@import "modules/popup";
@import "modules/form-default";

/* Components */
@import "components/aspect-ratio";
@import "components/back-to-top";
@import "components/burger-button";
@import "components/button";
@import "components/color-picker";
@import "components/content-field";
@import "components/content-tabs";
@import "components/contribution-list";
@import "components/detail-list";
@import "components/disclosure";
@import "components/edit-table";
@import "components/edit-table-header";
@import "components/features";
@import "components/form-label";
@import "components/icon-button";
@import "components/layout";
@import "components/locale-buttons";
@import "components/map";
@import "components/map-filter";
@import "components/map-overlay";
@import "components/map-popup";
@import "components/media-controls";
@import "components/media-element";
@import "components/media-header";
@import "components/media-player";
@import "components/modal";
@import "components/photo-modal";
@import "components/pixel-loader";
@import "components/popup-menu";
@import "components/registry-entry";
@import "components/registry-entry-list";
@import "components/registry-reference";
@import "components/registry-references";
@import "components/search-result";
@import "components/search-stats";
@import "components/segment";
@import "components/segment-popup";
@import "components/sidebar";
@import "components/site";
@import "components/site-header";
@import "components/slider";
@import "components/spinner";
@import "components/state-button";
@import "components/table";
@import "components/thumbnail-badge";
@import "components/wrapper-page";

/* Modules */
@import "../modules/gallery/styles";
@import "../modules/toc/styles";
@import "../modules/tree-select/styles";

/* Print */
@import "print";

/* Utilities */
@import "utilities/spacings";
