<h2 class="info">Service-Funktionen</h2>
<p>Suche im Archiv</p>
<div id="baseHeaderSearch">

  <span class="hits">
    <% if search.hits == Interview::NUMBER_OF_INTERVIEWS %>
      <%= link_to t(:all) + '&nbsp;Interviews&nbsp;in&nbsp;der&nbsp;Auswahl', searches_path(:search => @search.query_params) %>
    <% elsif search.hits > 0 %>
      <%= link_to pluralize(search.hits, Interview.human_name) + '&nbsp;in&nbsp;der&nbsp;Auswahl', searches_path(:search => @search.query_params) %>
    <% else %>
      keine&nbsp;Interviews&nbsp;in&nbsp;der&nbsp;Auswahl
    <% end %>
  </span>
</div>

<div id="submit_search" class="action">
  <%= submit_tag 'suchen', :type => :image, :src => '/images/suchpfeil_quad.gif', :onclick => 'submitViaAjax(); false;' %>
</div>

<div id="search_header_overlay" class="overlay" style="display: none;"></div>
