<h2 class="info">Service-Funktionen</h2>
<p>Suche in den Interviews</p>
<div id="baseHeaderSearch">

  <span class="hits">
    <% if search.hits > 0 %>
      <%= link_to search.hits.to_s + '&nbsp;Interviews' + image_tag('/images/suchpfeil.gif', :id => 'searchButton', :alt => 'zur Auswahl'), searches_path(@search.query_params.merge({ :method => :post })) %>
    <% else %>
      keine&nbsp;Interviews
    <% end %>
  </span>
</div>

<div id="searchReset">
  <a href="<%= request.path %>">
    <span>zur&uuml;cksetzen</span>
    <img src="/images/suche_reset.gif" alt="" title="" />
  </a>
</div>
