<div id="baseHeaderSearch">
  <h3 class="info">Suche im Archiv </h3>
  <% form_for search,
                     :url => new_search_path,
                     :method => :get,
                     :before => 'applyFacets();',
                     :html => { :action => searches_path,
                                :method => :get,
                                :name => "searchForm",
                                :id => "search_form" } do |f| %>
    <%= f.text_field :fulltext, :title => "Suchbegriff bitte hier eingeben", :class => "baseInputSearch", :id => "searchInput" %>
    <%= f.submit 'Suchanfrage starten', :title => 'Suchanfrage starten', :class => 'buttonText', :src => "/images/suchpfeil_weiss.gif", :name => 'searchButton', :type => 'image' %>
  <% end %>
</div>