<h2 class="info">Service-Funktionen</h2>
<p>Suche in den Interviews</p>
<div id="baseHeaderSearch">

  <span class="hits">
    <% if search.hits > 0 %>
      <%= link_to search.hits.to_s + '&nbsp;Interviews', searches_path(:search => @search.query_params) %>
    <% else %>
      keine&nbsp;Interviews
    <% end %>
  </span>
</div>

<div id="searchReset">
  <% if search.hits < Interview::NUMBER_OF_INTERVIEWS %>
    <%# reload the complete page if we are in the search result view %>
    <% reset_path = (request.path == searches_path) ? searches_path : new_search_path  %>
    <%= link_to_remote(content_tag('span', 'zur&uuml;cksetzen') + image_tag('/images/suche_reset.gif'), { :url => reset_path, :method => :get, :onclick => "beforeSubmit();" }) %>
  <% end %>
</div>


<div id="search_header_overlay" class="overlay" style="display: none;"></div>
