@use "../variables";

.ArchiveTile {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  display: block;
  transition: opacity variables.$transition-duration;
}

.ArchiveTile:link,
.ArchiveTile:hover,
.ArchiveTile:active,
.ArchiveTile:visited {
  color: variables.$body-text-color;
}

.ArchiveTile:hover,
.ArchiveTile:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
}

.ArchiveTile-inner {
  position: relative;
}

.ArchiveTile-lock {
  align-items: center;
  background-color: #bbbbbbcc;
  border-radius: 50%;
  display: flex;
  height: variables.$base-unit * 1.5;
  justify-content: center;
  line-height: variables.$base-unit;
  position: absolute;
  right: variables.$base-unit * 0.5;
  text-align: center;
  top: variables.$base-unit * 0.5;
  width: variables.$base-unit * 1.5;
  z-index: 1;
}

.ArchiveTile-lockImg {
  height: 1rem;
}

.ArchiveTile-image {
  background-color: white;
  border-bottom: none;
  border: 1px solid lightgrey;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.ArchiveTile-body {
  padding: variables.$base-unit * 0.5;
}

.ArchiveTile-title {
  color: black;
  font-weight: bold;
  line-height: variables.$base-unit;
  margin: 0;
}

.ArchiveTile-text {
  color: variables.$body-text-color;
  margin: 0;
}

.ArchiveTile-text--ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
