/**
 * Aspect ratio component
 */

.aspect-ratio {
  overflow: clip;
  position: relative;
}

.aspect-ratio::before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 75%; /* Fallback aspect ratio of 4:3 */
  padding-top: calc(var(--aspect-y) / var(--aspect-x) * 100%);
}

.aspect-ratio__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
