/**
 * 1. Button height/width is $base-unit * 1.5
 * 2. Needed for correct height.
 */

$back-to-top-margin: $base-unit;

.BackToTop {
  background-color: var(--primary-color);
  border-radius: $border-radius;
  border: none;
  bottom: $back-to-top-margin;
  color: white;
  display: block;
  font-size: $base-unit * 0.75; /* 1 */
  line-height: 1;
  opacity: 0;
  outline: none;
  padding: $base-unit * 0.375; /* 1 */
  pointer-events: none;
  position: fixed;
  right: $back-to-top-margin;
  transition:
    filter $transition-duration,
    opacity $transition-duration;
  z-index: $z-index-back-to-top;

  @include screen-m {
    right: calc(44% + #{$back-to-top-margin});
  }

  @include screen-l {
    right: calc(40% + #{$back-to-top-margin});
  }

  @include screen-xl {
    right: calc(36% + #{$back-to-top-margin});
  }
}

.BackToTop.is-visible {
  cursor: pointer;
  opacity: 1;
  pointer-events: initial;
}

.BackToTop.is-visible:hover {
  filter: brightness(110%);
}

.BackToTop.is-fullscreen {
  right: $back-to-top-margin;
}

.BackToTop:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.BackToTop-icon {
  vertical-align: bottom; /* 2 */
}
