@use "../mixins";
@use "../variables";

.Banner {
  align-items: center;
  background-color: variables.$banner-color;
  bottom: 0;
  display: flex;
  left: 0;
  padding: variables.$base-unit * 0.5;
  position: fixed;
  right: 0;
  z-index: variables.$z-index-banner;

  @include mixins.screen-m {
    padding: variables.$base-unit;
  }
}

.Banner-inner {
  flex-grow: 1;
}

.Banner-close {
  flex-grow: 0;
  flex-shrink: 0;
}

.Banner-inner p {
  margin-block: 0;
}
