@use "../variables";

.Breadcrumbs {
  color: variables.$ui-background-color;
  font-size: 0.875rem;
}

.Breadcrumbs-separator {
  padding-left: 0.25 * variables.$base-unit;
  padding-right: 0.25 * variables.$base-unit;
}

.Breadcrumbs-lastItem {
  font-weight: bold;
}
