/**
 * BurgerButton component
 */

.BurgerButton {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: $gray-dark;
    cursor: pointer;
    font-size: 26px;
    height: 36px;
    outline: none;
    padding: 4px 7px;
    position: fixed;
    right: 22px;
    top: 20px;
    width: 36px;
    z-index: 1100; //because of leaflet
}

.BurgerButton-icon {}

.BurgerButton.is-closed {
    color: var(--primary-color);
}
