.Button {
  cursor: pointer;
  font-family: $font-family;
  line-height: $base-unit;
  outline: none;
}

.Button:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.Button--transparent {
  background-color: transparent;
  border: none;
}

.Button--withoutPadding {
  padding: 0 !important;
}

.Button--primary {
  color: var(--primary-color);
}

.Button--icon {
  margin: 0;
  padding: 0 0.25rem;
}

.Button--icon > * {
  vertical-align: baseline;
}
