$button-border-width: $base-unit * 0.083333;

.Button {
  cursor: pointer;
  font-family: $font-family;
  line-height: $base-unit;
  outline: none;
}

.Button:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.Button--transparent {
  background-color: transparent;
  border: none;
}

.Button--withoutPadding {
  padding: 0 !important;
}

.Button--asLink {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  padding-block: 0;
  padding-inline: 0;
}

.Button--asLink:hover {
  background-color: transparent;
  text-decoration: underline;
}

.Button--fullWidth {
  width: 100% !important;
}

.Button--primaryColor {
  color: var(--primary-color);
}

.Button--icon {
  margin: 0;
  padding: 0 0.25rem;
}

.Button--icon > * {
  vertical-align: baseline;
}

.Button--nested {
  background-color: transparent;
  border: 2px solid var(--editorial-color);
  border-radius: 3px;
}

.Button--editorial {
  border: 2px solid var(--editorial-color);
  border-radius: 3px;
}

.Button--primaryAction,
.Button--secondaryAction {
  border: $button-border-width solid var(--primary-color) !important;
  padding: ($base-unit * 0.5 - $button-border-width)
    ($base-unit - $button-border-width);
  transition: filter $transition-duration !important;
  width: initial;
}

.Button--primaryAction {
  background-color: var(--primary-color) !important;
  color: white;
}

.Button--secondaryAction {
  background-color: transparent !important;
  color: var(--primary-color) !important;
}

.Button--hover:hover,
.Button--primaryAction:hover,
.Button--secondaryAction:hover {
  filter: brightness(1.2);
}
