@use "../variables";

.ColorPicker {
  display: inline-block;
  width: 72%;
}

.ColorPicker-swatch {
  border: none;
  border-radius: 0.25rem;
  height: variables.$base-unit;
  outline: none;
  padding: 0;
  width: variables.$base-unit;
}

.ColorPicker-picker {
  margin-top: variables.$base-unit * 0.5;
}

.ColorPicker-swatch:focus {
  box-shadow: 0 0 0 variables.$focus-radius variables.$focus-color;
}
