@use "../variables";

/**
 * ContentField component
 */

.ContentField {
  font-size: variables.$font-size-medium;
  line-height: variables.$line-height-medium;
  color: variables.$gray-darkest;
  margin: 0 0 0.5rem 0;
}
