/**
 * ContributionList component
 */

.ContributionList {
  color: $gray-darkest;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.ContributionList-item {
  margin-bottom: 0.5rem;
}
