@use "../variables";

/**
 * ContributionList component
 */

.ContributionList {
    color: variables.$gray-darkest;
    font-size: variables.$font-size-medium;
    line-height: variables.$line-height-medium;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.ContributionList-item {
    margin-bottom: 0.5rem;
}
