@use "../variables";

.DescriptionList {
}

.DescriptionList > dt,
.DescriptionList-term {
  font-weight: bold;
}

.DescriptionList > dd,
.DescriptionList-description {
  margin-bottom: variables.$base-unit;
  margin-left: 0;
}
