.DescriptionList-group {
  margin-bottom: $base-unit;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  dt.DescriptionList-term {
    font-weight: bold;
  }

  dd.DescriptionList-description {
    margin-top: calc($base-unit / 6);
    padding: 0;
    margin-bottom: 0;
  }
}
