/**
 * DetailList component
 *
 * 1. Non-standard code, Autoprefixer would not work here, see:
 *    https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp
 * 2. Fallback
 */

.DetailList {
  color: $gray-dark;
  font-size: $font-size-medium;
  hyphens: auto;
  line-height: 1.25rem;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.DetailList-item--one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.DetailList-item--shortened {
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3; /* 1 */
  display: -webkit-box;
  max-height: $base-unit * 3; /* 2 */
  overflow: hidden;
}
