@use "../variables";

/**
 * DetailList component
 *
 * 1. Non-standard code, Autoprefixer would not work here, see:
 *    https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp
 * 2. Fallback
 */

.DetailList {
  color: variables.$gray-dark;
  font-size: variables.$font-size-medium;
  hyphens: auto;
  line-height: variables.$base-unit;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.DetailList-item {

}

.DetailList-item--one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.DetailList-item--shortened {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;  /* 1 */
  display: -webkit-box;
  max-height: variables.$base-unit * 3;  /* 2 */
  overflow: hidden;
}
