/**
 * DetailList component
 */

.DetailList {
  color: $gray-dark;
  font-size: $font-size-medium;
  hyphens: auto;
  line-height: $line-height-medium;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.DetailList-item {

}
