.Disclosure {
}

.Disclosure-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: $font-family;
  outline: none;
  padding: 0;
}

.Disclosure-toggle:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.Disclosure-icon {
  color: var(--primary-color);
}

.Disclosure-heading {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  line-height: $base-unit;
  margin: 0 0 0 ($base-unit / 2);
}

.Disclosure-content {
  display: none;
}

.Disclosure-content.is-expanded {
  display: block;
}
