/**
 * 1. Why is it 28rem?? This is the non-sticky header height!?
 *    Maybe something to do with react-virtuoso virtual list.
 */

.EditTable {
  width: 100%;
}

.EditTable-inner {
  width: 100%;
  min-width: 60rem;
}

.Layout.is-sticky .EditTable-bodyContainer {
  margin-top: 28rem;  /* 1 */
}

.Layout.is-sticky .EditTable-body {
}

.EditTable-row {
  display: grid;
  height: 4 * $base-unit;
}

.EditTable-row--odd {
  background-color: white;
}

.EditTable-row--even {
  background-color: white;// $gray-pale;
}

.EditTable-row.is-active {
  background-color: rgba(255, 250, 129, 0.5);
}

.EditTable-cell {
  height: 4 * $base-unit;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.25 * $base-unit;
}

.EditTable-cell.has-data {
  background-color: rgba(128, 128, 128, 0.1);
}

.EditTable-cell form {
  margin: 0;
}

.EditTable-cell textarea {
  border: none;
  display: block;
  height: 3.5 * $base-unit;
  margin: 0;
  padding: 0;
}

.EditTable-cell textarea,
.EditTable-cell input {
  font-family: $font-family;
  font-size: 0.875rem;
  line-height: $base-unit;
  width: 100%;
}

.EditTable-button {
  background: transparent;
  border: none;
  font-family: $font-family;
  font-size: 0.875rem;
  line-height: $base-unit;
  margin: 0 $base-unit / 8;
  outline: none;
  padding: 0;
}

.EditTable-button:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}
