@use "../variables";

.EditTableHeader {
  background-color: var(--primary-color);
  color: white;
  //height: 3 * $base-unit;
  position: sticky;
  top: 0;
  z-index: variables.$z-index-edit-table-header;
}

.EditTableHeader-options {
  border-bottom: (0.0625 * variables.$base-unit) solid rgba(255, 255, 255, 0.25);
  display: flex;
  font-size: 0.875rem;
  //margin-left: -0.5 * $base-unit;
  //margin-right: -0.5 * $base-unit;
  padding: 0.25 * variables.$base-unit;
}

.EditTableHeader-options > *:not(:first-child) {
  margin-left: variables.$base-unit;
}

.EditTableHeader-columns {
  display: grid;
  font-weight: bold;
  padding: ((0.25 - 0.0625) * variables.$base-unit) 0 (0.25 * variables.$base-unit);
}

.Layout.is-sticky .EditTableHeader {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  top: variables.$media-player-height-sticky;
}

.EditTableHeader-cell {
  padding: 0 (0.25 * variables.$base-unit);
}

.EditTableHeader-button {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  line-height: 1 !important;
  margin-left: 0 !important;
}

.EditTableHeader-select {
  font-family: variables.$font-family;
  font-size: 0.875rem;
  line-height: 1;
  outline: none;
}

.EditTableHeader-select:focus {
  box-shadow: 0 0 0 variables.$focus-radius variables.$focus-color;
}
