.EditTableHeader {
  background-color: var(--primary-color);
  color: white;
  //height: 3 * $base-unit;
  position: sticky;
  top: 0;
  z-index: $z-index-edit-table-header;
}

.EditTableHeader-options {
  border-bottom: (0.0625 * $base-unit) solid rgba(255, 255, 255, 0.25);
  display: flex;
  font-size: 0.875rem;
  //margin-left: -0.5 * $base-unit;
  //margin-right: -0.5 * $base-unit;
  padding: 0.25 * $base-unit;
}

.EditTableHeader-options > *:not(:first-child) {
  margin-left: $base-unit;
}

.EditTableHeader-columns {
  display: grid;
  font-weight: bold;
  padding: ((0.25 - 0.0625) * $base-unit) 0 (0.25 * $base-unit);
}

.Layout.is-sticky .EditTableHeader {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

  @media (max-width: $screen-m-max) {
    top: $media-player-height-mobile;
  }

  @media (min-width: $screen-m) and (max-width: $screen-l-max) {
    top: $media-player-height-medium;
  }

  .Layout.is-small-player & {
    @include screen-xl {
      top: $media-player-height-small;
    }
  }

  .Layout.is-medium-player & {
    @include screen-xl {
      top: $media-player-height-medium;
    }
  }
}

.EditTableHeader-cell {
  padding: 0 (0.25 * $base-unit);
}

.EditTableHeader-button {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  line-height: 1 !important;
  margin-left: 0 !important;
}

.EditTableHeader-select {
  font-family: $font-family;
  font-size: 0.875rem;
  line-height: 1;
  outline: none;
}

.EditTableHeader-select:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}
