@use "../variables";

/**
 * 1. Why is it 28rem?? This is the non-sticky header height!?
 *    Maybe something to do with react-virtuoso virtual list.
 */

$edit-table-row-height: 4 * variables.$base-unit;

.EditTable {
}

.EditTable-inner {
  min-width: 60rem;
}

.Layout.is-sticky .EditTable-bodyContainer {
  margin-top: 28rem;  /* 1 */
}

.EditTable-row {
  border-bottom: 1px solid variables.$gray-pale;
  display: grid;
  height: $edit-table-row-height;
}

.EditTable-row.is-active {
  background-color: rgba(255, 250, 129, 0.5);
}

.EditTable-cell {
  font-size: 0.875rem;
  height: $edit-table-row-height;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.25 * variables.$base-unit;
}

.EditTable-cell.has-data {
  background-color: rgba(128, 128, 128, 0.1);
}

.EditTable-cell form {
  margin: 0;
}

.EditTable-cell textarea {
  border: none;
  display: block;
  height: $edit-table-row-height - 0.5 * variables.$base-unit;
  margin: 0;
  padding: 0;
  resize: none;
}

.EditTable-cell textarea,
.EditTable-cell input {
  font-family: variables.$font-family;
  font-size: 0.875rem;
  line-height: variables.$base-unit;
  width: 100%;
}

.EditTable-button {
  background: transparent;
  border: none;
  font-family: variables.$font-family;
  font-size: 0.875rem;
  line-height: variables.$base-unit;
  margin: 0 variables.$base-unit * 0.125;
  outline: none;
  padding: 0;
}

.EditTable-button:focus {
  box-shadow: 0 0 0 variables.$focus-radius variables.$focus-color;
}
