@use "../variables";

.Event {
  background-color: variables.$gray-lightest;
  border: 1px solid variables.$ui-background-color;
  border-radius: variables.$border-radius;
  padding: 0 (variables.$base-unit * 0.25);
}

.Event-category {
  font-size: 0.875rem;
  font-weight: bold;
}

.Event-text {
}

.Event-text--slight {
  color: variables.$ui-background-color;
}
