@use "../variables";

.Form {
}

.Form-footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Form-footer > * {
  flex-grow: 1;
}

.Form-footer > button,
.Form-footer > input {
  width: initial !important;
}

.Form-footer > button:not(:first-child),
.Form-footer > input:not(:first-child) {
  margin-left: variables.$base-unit * 0.5 !important;
}
