.Form {
}

.Form-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.Form-footer > * {
  flex-grow: 0;
}

.Form-footer > button,
.Form-footer > input {
  width: initial !important;
}

.Form-footer > button:not(:first-child),
.Form-footer > input:not(:first-child) {
  margin-left: $base-unit * 0.5 !important;
}

.Form-footer--fullWidth > * {
  flex-grow: 1;
}
