.Form-footer {
  display: flex;
  flex-direction: column;
  gap: $base-unit * 0.5;
  width: 100%;
}

.Form-footer-notification {
  width: 100%;
}

.Form-footer-buttons {
  display: flex;
  justify-content: flex-end;
  gap: $base-unit * 0.5;
  width: 100%;
}

.Form-footer-buttons > button,
.Form-footer-buttons > input {
  width: initial !important;
}

.Form-footer--fullWidth .Form-footer-buttons > button,
.Form-footer--fullWidth .Form-footer-buttons > input {
  flex-grow: 1;
}
