@use "../variables";

.Gallery {
  background-color: variables.$gray-dark;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 5px 10px;
}

.Gallery-button {
  border: none;
  cursor: pointer;
  flex-grow: 0;
  height: 100px;
  margin: 0.125rem !important;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100px;
}

.Gallery-icon {
  position: absolute;
  left: calc(50% - 0.75rem);
  top: calc(50% - 0.75rem);
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity variables.$transition-duration;
}

.Gallery-image {
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity variables.$transition-duration;
  width: 100%;
}

.Gallery-button:focus {
  box-shadow: 0 0 0 variables.$focus-radius variables.$focus-color;
}

.Gallery-button:focus > .Gallery-icon,
.Gallery-button:hover > .Gallery-icon {
  opacity: 1;
}

.Gallery-button:focus > .Gallery-image,
.Gallery-button:hover > .Gallery-image {
  opacity: 0.25;
}
