@use "../mixins";
@use "../variables";

/**
 * 1. minmax() is used because of Slick carousel.
 */

.Grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* 1 */
  grid-gap: variables.$base-unit;

  @include mixins.screen-s {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 1 */
  }

  @include mixins.screen-m {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* 1 */
  }
}

.Grid--2 {
  @include mixins.screen-s {
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* 1 */
  }

  @include mixins.screen-m {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 1 */
  }
}
