$help-text-color: #004d00;
$help-text-background-color: #e6ffe6;

.HelpText {
  color: $help-text-color;
  display: flex;
}

.HelpText-inner {
  background-color: $help-text-background-color;
  border: 0.1rem solid $help-text-color;
  display: flex;
  margin-left: auto;
  max-width: 30 * $base-unit;
  padding: $base-unit * 0.5;
}

.HelpText-icon {
  color: $help-text-color;
  flex-shrink: 0;
}

.HelpText-body {

}

.HelpText-text {
  line-height: $base-unit;
  margin: 0 !important;
}

.HelpText-link {
}


/* Variants */

.HelpText--small .HelpText-inner {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.HelpText--small .HelpText-icon {
  color: $help-text-color;
  font-size: 1.25rem;
  vertical-align: middle;
}

.HelpText--small.HelpText--reversed .HelpText-icon {
  color: $help-text-background-color;
}
