.Icon {
  font-size: 0.875rem;
}

.Icon--small {
  font-size: 0.75rem;
}

.Icon--primary {
  color: var(--primary-color);
}

.Icon--secondary {
  color: var(--secondary-color);
}

.Icon--editorial {
  color: var(--editorial-color);
}
