.Icon {
  font-size: 0.875rem;
  transition: color $transition-duration;
}

.Icon--small {
  font-size: 0.75rem;
}

.Icon--large {
  font-size: 1.5rem;
}

.Icon--white {
  color: white;
}

.Icon--primary {
  color: var(--primary-color) !important;
}

.Icon--secondary {
  color: var(--secondary-color);
}

.Icon--editorial {
  color: var(--editorial-color);
}

.Icon--danger {
  color: $danger-color;
}

.Icon--attention {
  color: $attention-color;
}

.Icon--warning {
  color: $warning-color;
}

.Icon--text {
  color: $gray-darkest;
}

.Icon--unobtrusive {
  color: $gray-dark;
}

.Icon--inlineSvg {
  width: 0.75rem;
}
