@use "../variables";

.Icon {
  font-size: 0.875rem;
  transition: color variables.$transition-duration;
}

.Icon--small {
  font-size: 0.75rem;
}

.Icon--large {
  font-size: 1.5rem;
}

.Icon--white {
  color: white;
}

.Icon--primary {
  color: var(--primary-color) !important;
}

.Icon--secondary {
  color: var(--secondary-color);
}

.Icon--editorial {
  color: var(--editorial-color);
}

.Icon--danger {
  color: variables.$danger-color;
}

.Icon--attention {
  color: variables.$attention-color;
}

.Icon--warning {
  color: variables.$warning-color;
}

.Icon--text {
  color: variables.$gray-darkest;
}

.Icon--unobtrusive {
  color: variables.$gray-dark;
}
