/**
 * IconButton component
 */

.IconButton {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 1rem 0.5rem;
  transition-property: background-color, filter;
  transition-duration: $transition-duration;
}

.IconButton:hover {
  background-color: var(--editorial-color);
}

.IconButton.is-pressed {
  background-color: var(--editorial-color);
  filter: brightness(0.8);
}

.IconButton.is-pressed:hover {
  filter: none;
}
