.InterviewCard {
  line-height: $base-unit;
  position: relative;
}

.InterviewCard-star {
  background-color: white !important;
  color: $gray-dark;
  opacity: 0.25;
  position: absolute;
  transition: opacity $transition-duration;
  z-index: 1;
}

.InterviewCard-star svg {
  vertical-align: text-top;
}

.InterviewCard-star:hover,
.InterviewCard-star:focus,
.InterviewCard-star.is-active {
  opacity: 1;
}

.InterviewCard-star:disabled {
  cursor: initial;
}

.InterviewCard.is-expanded {

}

.InterviewCard-link {
  display: block;
}

.InterviewCard-link:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.InterviewCard-image {
}

.InterviewCard.is-expanded .InterviewCard-image {
  display: none;
}

.InterviewCard-image img {
  max-width: 100%;
  width: 100%;
  transition: transform $transition-duration;
  transform: scale(1.05);
};

.InterviewCard-archive {
  align-items: center;
  color: $gray-dark !important;
  display: flex;
  font-size: 0.875rem !important;
  line-height: $base-unit !important;
  margin: 0 !important;
}

.InterviewCard-archiveName {
  flex-grow: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.InterviewCard-lock {
  flex-shrink: 0;
}

.InterviewCard-lockImage {
  height: 0.75rem;
  opacity: 0.6;
}

.InterviewCard-link:hover img,
.InterviewCard-link:focus img {
  transform: scale(1.15);
}

.InterviewCard-title {
  color: var(--primary-color) !important;
  font-size: 1rem !important;
  line-height: $base-unit !important;
  margin: 0 !important;
}

.InterviewCard-link:hover .InterviewCard-title,
.InterviewCard-link:focus .InterviewCard-title {
  text-decoration: underline;
}

.InterviewCard-icon {
  align-items: center;
  background-color: $ui-background-color;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  transform: scale(1.05);
  transition: transform $transition-duration;
  width: 100%;
}

.InterviewCard-icon svg {
  height: 33.3%;
  width: 33.3%;
}

.InterviewCard-link:hover .InterviewCard-icon,
.InterviewCard-link:focus .InterviewCard-icon {
  transform: scale(1.15);
}
