.Layout {

}

.Layout-page {
  .fa-eye, .fa-globe {
    color: var(--primary-color) !important;
  }
}

.Layout-mediaPlayer {

}

.Layout-contentTabs {
  background-color: $gray-lighter;
  height: $base-unit * 2;
  overflow: hidden;
  z-index: $z-index-content-tabs;
}

.wrapper-content {
  padding: ($base-unit * 2) 5% ($base-unit * 2);
}

.Layout.is-sticky {
  .wrapper-content {
    margin-top: $media-player-height-mobile + $horizontal-tabs-height;

    @include screen-m {
      margin-top: $media-player-height-desktop + $horizontal-tabs-height;
    }
  }
}

.Layout-sidebar {
  bottom: 0;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $z-index-sidebar;

  @include screen-m {
    width: 44%;
  }

  @include screen-l {
    width: 40%;
  }

  @include screen-xl {
    width: 36%;
  }
}

.Layout-sidebarToggle {
  position: fixed;
  right: $base-unit * 0.5;
  top: $base-unit * 0.5;
  z-index: $z-index-sidebar-toggle;

  @include screen-m {
    right: $base-unit;
    top: $base-unit;
  }
}

.Layout.is-sticky .Layout-contentTabs {
  position: fixed;
  top: 10rem;
  left: 0;
  right: 0;
}

.Layout.is-sticky .Layout-mediaPlayer {

}

.Layout.sidebar-is-visible {

}

.Layout.sidebar-is-visible > .Layout-page {
  @include screen-xl {
    width: 64%;
  }
}

.Layout.sidebar-is-visible > .Layout-sidebar {
  display: block;
}

.Layout.is-sticky.sidebar-is-visible .Layout-mediaPlayer,
.Layout.is-sticky.sidebar-is-visible .Layout-contentTabs {
  @include screen-xl {
    right: 36%;
  }
}
