@use "../mixins";
@use "../variables";

.Layout {

}

.Layout-page {
  .fa-eye, .fa-globe {
    color: var(--primary-color) !important;
  }
}

.Layout-mediaPlayer {

}

.Layout-contentTabs {
  background-color: variables.$gray-lighter;
  height: variables.$base-unit * 2;
  overflow: hidden;
  z-index: variables.$z-index-content-tabs;
}

.wrapper-content {
  padding: (variables.$base-unit * 2) 5% (variables.$base-unit * 2);
}

.Layout.is-sticky {
  .wrapper-content {
    margin-top: variables.$media-player-height-mobile + variables.$horizontal-tabs-height;

    @include mixins.screen-m {
      margin-top: variables.$media-player-height-desktop + variables.$horizontal-tabs-height;
    }
  }
}

.Layout-sidebar {
  bottom: 0;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: variables.$z-index-sidebar;

  @include mixins.screen-m {
    width: 44%;
  }

  @include mixins.screen-l {
    width: 40%;
  }

  @include mixins.screen-xl {
    width: 36%;
  }
}

.Layout-sidebarToggle {
  position: fixed;
  right: variables.$base-unit;
  top: variables.$base-unit * 0.75;
  z-index: variables.$z-index-sidebar-toggle;
}

.Layout.is-sticky .Layout-contentTabs {
  position: fixed;
  top: 10rem;
  left: 0;
  right: 0;
}

.Layout.is-sticky .Layout-mediaPlayer {

}

.Layout.sidebar-is-visible {

}

.Layout.sidebar-is-visible > .Layout-page {
  @include mixins.screen-xl {
    width: 64%;
  }
}

.Layout.sidebar-is-visible > .Layout-sidebar {
  display: block;
}

.Layout.is-sticky.sidebar-is-visible .Layout-mediaPlayer,
.Layout.is-sticky.sidebar-is-visible .Layout-contentTabs {
  @include mixins.screen-xl {
    right: 36%;
  }
}
