.Layout-page {
  .fa-eye,
  .fa-globe {
    color: var(--primary-color) !important;
  }
}

.Layout-contentTabs {
  background-color: $gray-lighter;
  height: var(--content-tabs-height);
  overflow: hidden;
  z-index: $z-index-content-tabs;
}

.wrapper-content {
  padding: ($base-unit * 2) 5% ($base-unit * 2);
}

.Layout-sidebar {
  bottom: 0;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $z-index-sidebar;

  @include screen-m {
    width: 44%;
  }

  @include screen-l {
    width: 40%;
  }

  @include screen-xl {
    width: 36%;
  }
}

.Layout-sidebarToggle {
  position: fixed;
  right: $base-unit;
  top: $base-unit * 0.75;
  z-index: $z-index-sidebar-toggle;
}

.Layout.is-sticky {
  .Layout-mediaPlayer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: $z-index-media-player;
  }

  .Layout-contentTabs {
    position: fixed;
    left: 0;
    right: 0;
    // Position will be set dynamically via JS based on MediaPlayer's actual height
    top: var(--media-player-actual-height, 30rem);
  }

  .wrapper-content {
    // Add top margin to prevent content from hiding under fixed player + tabs
    // Will be set dynamically via JS based on MediaPlayer's actual height
    margin-top: var(
      --sticky-content-offset,
      calc(30rem + var(--content-tabs-height))
    );
  }
}

.Layout.sidebar-is-visible > .Layout-page {
  @include screen-xl {
    width: 64%;
  }
}

.Layout.sidebar-is-visible > .Layout-sidebar {
  display: block;
}

.Layout.is-sticky.sidebar-is-visible {
  @include screen-xl {
    .Layout-page {
      width: 64%;
    }

    .Layout-mediaPlayer,
    .Layout-contentTabs {
      right: 36%;
      width: 64%;
      left: auto;
    }
  }
}
