.LocaleButtons {
}

.LocaleButtons-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: $ui-background-color;
  cursor: pointer;
  font-family: $font-family;;
  font-size: $font-size-large;
  line-height: $base-unit;
  padding: 0 ($base-unit * 0.25);
  text-transform: uppercase;
  transition: color $transition-duration;
}

.LocaleButtons-button:not(:first-child) {
  border-left: 0.125rem solid lighten($ui-background-color, 10%);
}

.LocaleButtons-button:disabled {
  color: $gray-darkest;
  cursor: default;
}

.LocaleButtons-button:hover {
  color: $gray-darkest;
}
