@use "sass:color";
@use "../variables";

.LocaleButtons {
}

.LocaleButtons-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: variables.$ui-background-color;
  cursor: pointer;
  font-family: variables.$font-family;;
  font-size: variables.$font-size-large;
  line-height: variables.$base-unit;
  padding: 0 (variables.$base-unit * 0.25);
  text-transform: uppercase;
  transition: color variables.$transition-duration;
}

.LocaleButtons-button:not(:first-child) {
  border-left: 0.125rem solid color.adjust(variables.$ui-background-color, $lightness: 10%);
}

.LocaleButtons-button:disabled {
  color: variables.$gray-darkest;
  cursor: default;
}

.LocaleButtons-button:hover {
  color: variables.$gray-darkest;
}
