/**
 * Natural height when just one reference is displayed.
 */

.MapPopup {
  max-height: $base-unit * 10;
  min-height: $base-unit * 4;  /* 1 */
  overflow-y: auto;
  width: $base-unit * 10;
  padding: 0;
}

.MapPopup-heading {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  line-height: $base-unit;
  margin: 0 0 ($base-unit / 2);
}

.MapPopup-subHeading {
  color: black;
  font-size: 0.875rem;
  line-height: $base-unit;
  margin: 0;
}

.MapPopup-subSubHeading {
  background: none;
  font-size: 0.875rem;
  line-height: $base-unit;
  margin: 0;
  padding: 0;
}

.MapPopup-list {
  list-style-type: none;
  margin: 0 0 ($base-unit / 2);
  padding: 0;
}

.MapPopup-listItem {
  line-height: $base-unit;
}

.MapPopup-link:link,
.MapPopup-link:visited {
  color: var(--primary-color);
  font-size: 0.75rem;
  line-height: $base-unit;
}

.MapPopup-link:hover,
.MapPopup-link:active {
  color: var(--primary-color) !important;
  text-decoration: underline !important;
}

.MapPopup-button {
  background: transparent;
  border: none;
  color: var(--primary-color) !important;
  cursor: pointer;
  font-family: $font-family;
  font-size: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

.MapPopup-button:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}
