/**
 * 1. Center spinner.
 */

.MapOverlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $z-index-map-overlay;
  background-color: rgba(0, 0, 0, 0.25);
}

.MapOverlay-spinner {
  left: 50%;  /* 1 */
  position: absolute;
  top: 50%;  /* 1 */
  transform: translate(-2rem, -2rem);  /* 1 */
  width: 4rem;
  z-index: $z-index-map-overlay-spinner;
}
