@use "../variables";

.Map {
  margin-bottom: variables.$base-unit;
  width: 100%;
  z-index: variables.$z-index-map;
}

.Map .leaflet-overlay-pane {
  filter: grayscale(0);
}

.Map .leaflet-tile-pane {
  filter: grayscale(0.75);
}

.Map--search {
  height: 66vh;
  max-height: variables.$base-unit * 30;
  min-height: variables.$base-unit * 10;
}

.Map--interview {
  height: variables.$base-unit * 14;
}
