.Map--search {
  height: 66vh;
  margin-bottom: $base-unit;
  max-height: $base-unit * 30;
  min-height: $base-unit * 10;
  width: 100%;
}
/*
.leaflet-overlay-pane {
  filter: grayscale(0);
}

.leaflet-tile-pane {
  filter: grayscale(1);
}
*/
