@use "../variables";

/**
 * Natural height when just one reference is displayed.
 */

.MapPopup {
  font-family: variables.$font-family;
  max-height: variables.$base-unit * 10;
  min-height: variables.$base-unit * 4;  /* 1 */
  overflow-y: auto;
  padding: 0;
  width: variables.$base-unit * 10;
}

.MapPopup-heading {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  line-height: variables.$base-unit;
  margin: 0 0 (variables.$base-unit * 0.5);
}

.MapPopup-subHeading {
  color: black;
  font-size: 1rem;
  line-height: variables.$base-unit;
  margin: 0;
}

.MapPopup-subSubHeading {
  background: none;
  font-size: 0.875rem;
  line-height: variables.$base-unit;
  margin: 0;
  padding: 0;
}

.MapPopup-list {
  list-style-type: none;
  margin: 0 0 (variables.$base-unit * 0.5);
  padding: 0;
}

.MapPopup-text {
  font-size: 0.875rem;
  line-height: variables.$base-unit;
}

.MapPopup-link {
  font-size: 0.875rem;
  line-height: variables.$base-unit;
}

.MapPopup-link--small {
  font-size: 0.75rem;
}

.MapPopup-link:link,
.MapPopup-link:visited {
  color: var(--primary-color);
}

.MapPopup-link:hover,
.MapPopup-link:active {
  color: var(--primary-color) !important;
  text-decoration: underline !important;
}

.MapPopup-button {
  background: transparent;
  border: none;
  color: var(--primary-color) !important;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: variables.$base-unit !important;
  margin: 0;
  outline: none;
  padding: 0;
}
