@use "../variables";

.MapFilter {}

.MapFilter-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.MapFilter-label {
  align-items: center;
  display: flex;
  font-size: 1rem;
  line-height: variables.$base-unit;
  opacity: 0.5;
  user-select: none;
}

.MapFilter-label.is-active {
  opacity: 1;
}

.MapFilter p {
  font-size: 1rem;
  line-height: variables.$base-unit;
  margin-bottom: 0;
  margin-left: variables.$base-unit;
  user-select: none;
}

.MapFilter-checkbox {
  margin-right: 0.5rem;
}

.MapFilter-icon {
  height: 1rem;
}

.MapFilter-icon,
.MapFilter-checkbox {
  vertical-align: middle;
}
