.MediaControls {
  display: flex;
}

.Layout.is-sticky .MediaControls {
  flex-direction: column;
}

.MediaControls-selects {
}

.Layout.is-sticky .MediaControls > * {
  margin-top: $base-unit * 0.5;
}

.MediaControls-tapeSelector,
.MediaControls-resolutionSelector {
  margin-right: $base-unit * 0.5;
  font-family: FiraSans;
  font-size: 0.75rem;
  outline: none;
  transition: box-shadow $transition-duration;
}

.MediaControls-tapeSelector:focus,
.MediaControls-resolutionSelector:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.MediaControls-bookmark,
.MediaControls-annotation {
  color: #fff;
  font-size: $font-size-large;
  line-height: $line-height-large;
  cursor: pointer;
  transition: $transition-duration;

  @include screen-l {
    font-size: $font-size-small;
    line-height: $base-unit;
  }

  span {
    display: none;

    @include screen-l {
      display: inline-block;
    }
  }

  &:hover {
    color: $gray-light;
  }
}
