/**
 * MediaHeader component
 */

.MediaHeader {
  @include clearfix();
}

.MediaHeader-title {
  color: #fff;
  float: none;
  font-size: $font-size-heading-h1;
  line-height: $line-height-heading-h1;
  margin-bottom: 15px;
  margin-top: 0;

  @include screen-m {
    float: left;
    font-size: $font-size-heading-h1-large;
    line-height: $line-height-heading-h1-large;
  }
}

.MediaHeader-controls {
  float: none;
  padding-top: 0;

  @include screen-m {
    float: right;
    padding-top: 5px;
  }
}

.MediaHeader.is-fixed {
  display: block;
  margin-left: 0;
  margin-top: $base-unit;

  @include screen-m {
    display: inline-block;
    margin-left: 20px;
  }
}

.MediaHeader.is-fixed .MediaHeader-title {
  float: none;
  font-size: $font-size-larger;
  line-height: $line-height-larger;
}

.MediaHeader.is-fixed .MediaHeader-controls {
  float: none;
  padding: 0;
}
