.MediaHeader-title {
  color: #fff;
  font-size: $font-size-heading-h1;
  line-height: $line-height-heading-h1;
  margin: 0 $base-unit 0 0;
  overflow: hidden;

  @include screen-m {
    font-size: $font-size-heading-h1-large;
    line-height: $line-height-heading-h1-large;
  }
}
