@use "../variables";

.MediaPreview {
  margin-top: variables.$base-unit;
  padding: 0 5%;
}

.MediaPreview-title {
  margin: 0;
}

.MediaPreview-body {
  margin-top: variables.$base-unit;
}

.MediaPreview-image {
  max-width: variables.$base-unit * 20;
  width: 100%;
}

.MediaPreview-icon {
  font-size: variables.$base-unit * 3;
}
