@use "../mixins";
@use "../variables";

/**
 * MediaMissing message.
 */

.MediaMissing {
  margin-bottom: 0;
  margin-top: variables.$base-unit;

  @include mixins.screen-m {
    margin-top: variables.$base-unit * 2;
  }
}

.Layout.is-sticky .MediaMissing {
  flex-basis: 50%;
  font-size: variables.$font-size-medium;
  margin-top: 0;
  padding: variables.$base-unit * 0.5;
}
