/**
 * MediaElement component.
 *
 * 1. 16:9 layout is set as a default here.
 */

.MediaElement {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 14.2222 * $base-unit;  /* 1 */

  @include screen-m {
    width: 23.1111 * $base-unit;  /* 1 */
  }
}

.MediaElement--4\:3 {
  width: 10.6666 * $base-unit;

  @include screen-m {
    width: 17.3333 * $base-unit;
  }
}

.MediaElement-element {
  height: 8 * $base-unit;
  width: 100%;

  @include screen-m {
    height: 13 * $base-unit;
  }
}

// Small player size styles
.Layout.is-small-player .MediaElement {
  margin: $base-unit 0 0;
  text-align: initial;
  width: initial;

  @include screen-m {
    margin: 0;
  }
}

.Layout.is-small-player .MediaElement-element {
  background-color: black;
  height: 7rem;
  width: 12.4444rem;  /* 1 */

  @include screen-m {
    height: 10rem;
    width: 17.7777rem;  /* 1 */
  }
}

.MediaElement video::cue {
	font-family: $font-family;
}

.Layout.is-small-player .MediaElement video:not(:fullscreen)::cue {
  visibility: hidden;
}


.MediaElement--poster {
  background-color: #383838;
  margin: 0;
  padding: 0;
  width: 100%;

  video{
    display: block;
    max-width: 100%;
  }

  @include screen-l {
    padding: 0;
  }
}