/**
 * MediaMissing message.
 */

.MediaElement--mediaMissing {
  background-color: $gray-paler;
  color: $gray-darkest;
  display: flex;
  align-items: center;
  justify-content: center;

  p.MediaMissing {
    padding: $base-unit;
    font-size: $font-size-larger;
    line-height: $font-size-larger * 1.25;
    max-width: 35rem;
    text-align: center;
  }
}
