@use "../mixins";
@use "../variables";

.MediaControls {
  display: flex;
}

.Layout.is-sticky .MediaControls {
  flex-direction: column;
}

.MediaControls-selects {
}

.Layout.is-sticky .MediaControls > * {
  margin-top: variables.$base-unit * 0.5;
}

.MediaControls-tapeSelector,
.MediaControls-resolutionSelector {
  margin-right: variables.$base-unit * 0.5;
  font-family: FiraSans;
  font-size: 0.75rem;
  outline: none;
  transition: box-shadow variables.$transition-duration;
}

.MediaControls-tapeSelector:focus,
.MediaControls-resolutionSelector:focus {
  box-shadow: 0 0 0 variables.$focus-radius variables.$focus-color;
}

.MediaControls-bookmark,
.MediaControls-annotation {
  color: #fff;
  font-size: variables.$font-size-large;
  line-height: variables.$line-height-large;
  cursor: pointer;
  transition: variables.$transition-duration;

  @include mixins.screen-l {
    font-size: variables.$font-size-small;
    line-height: variables.$base-unit;
  }

  span {
    display: none;

    @include mixins.screen-l {
      display: inline-block;
    }
  }

  &:hover {
    color: variables.$gray-light;
  }
}
