@use "../mixins";
@use "../variables";

.MediaPlayer {
  background: variables.$gray-darker;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: variables.$media-player-height-mobile;
  overflow-y: hidden;
  padding: variables.$base-unit 5%;
  position: relative;
  z-index: variables.$z-index-media-player;

  @include mixins.screen-m {
    height: variables.$media-player-height-desktop;
    padding-bottom: variables.$base-unit * 2;
    padding-top: variables.$base-unit * 1.5;
  }
}

.MediaPlayer-buttons {
  bottom: 0.5rem;
  display: flex;
  position: absolute;
  right: 0.5rem;
}

.Layout.is-sticky .MediaPlayer {
  flex-direction: row-reverse;
  height: variables.$media-player-height-sticky;
  justify-content: flex-end;
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
}
