/**
 * MediaElement component
 */

.MediaElement {
  margin: $video-element-margin;

  @include screen-m {
    margin: $video-element-margin-m;
  }
  @include screen-l {
    margin: $video-element-margin-l;
  }

  video, audio, img {
    width: 100%;
  }
}

.MediaElement.is-fixed {
  float: none;
  margin: 0;

  @include screen-m {
    float: left;
  }

  video, audio, img {
    height: 100px;
    width: 133px;
  }
}

.MediaElement--poster {
  background-color: #383838;
  margin: 0;
  padding: 0;

  video{
    display: block;
  }

  @include screen-l {
    padding: 0;
  }
}
