.MediaPreview {
  margin-top: $base-unit;
  padding: 0 5%;
}

.MediaPreview-title {
  margin: 0;
}

.MediaPreview-body {
  margin-top: $base-unit;
}

.MediaPreview-image {
  max-width: 100%;
}

.MediaPreview-icon {
  font-size: $base-unit * 3;
}
