@use "../variables";

.PhotoModal-trigger {
}

.PhotoModal-dialog {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  width: 100vw;
}

.PhotoModal-close {
  background-color: transparent;
  border: none;
  color: variables.$gray-light;
  font-size: 1.5rem;
  line-height: 1;
  outline: none;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: box-shadow variables.$transition-duration;
}

.PhotoModal-icon {
  vertical-align: top;
}

.PhotoModal-trigger:focus,
.PhotoModal-close:focus {
  box-shadow: 0 0 0 variables.$focus-radius variables.$focus-color;
}
