@use "../mixins";
@use "../variables";

.PhotoAdminButtons {
  margin-top: variables.$base-unit;

  @include mixins.screen-m {
    margin-bottom: variables.$base-unit;
    margin-left: variables.$base-unit;
    margin-top: 0;
  }
}

.PhotoAdminButtons svg {
  color: white;
  vertical-align: -0.1rem;
}

.PhotoAdminButtons-edit {
  margin-right: variables.$base-unit * 0.5;
}
