.PhotoCaption {
  color: white;
  line-height: $base-unit;
  text-align: left;

  @include screen-m {
    margin-left: $base-unit;
  }
}

.PhotoCaption-heading {
  color: inherit;
  font-size: 1.25rem;
  line-height: $base-unit;
  margin-bottom: $base-unit * 0.5;
  margin-top: $base-unit;
  max-width: 30rem;

  @include screen-m {
    margin-top: 0;
  }
}

.PhotoCaption-list {
  list-style: none;
  margin: 0;
  max-width: 30rem;
  padding-left: 0;
  font-size: 1rem;
  line-height: $base-unit;
}

.PhotoCaption-listItem {
}
