@use "../mixins";
@use "../variables";

.PhotoCaption {
  color: white;
  line-height: variables.$base-unit;
  text-align: left;

  @include mixins.screen-m {
    margin-left: variables.$base-unit;
  }
}

.PhotoCaption-heading {
  color: inherit;
  font-size: 1.25rem;
  line-height: variables.$base-unit;
  margin-bottom: variables.$base-unit * 0.5;
  margin-top: variables.$base-unit;
  max-width: 30rem;

  @include mixins.screen-m {
    margin-top: 0;
  }
}

.PhotoCaption-list {
  list-style: none;
  margin: 0;
  max-width: 30rem;
  padding-left: 0;
  font-size: 1rem;
  line-height: variables.$base-unit;
}

.PhotoCaption-listItem {

}
