.PopupMenu-trigger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.25rem 0.5rem;
  transition: background-color $transition-duration;
}

.PopupMenu-triggerIcon {
  color: var(--editorial-color) !important;
}

.PopupMenu-list {
  background-color: white;
  border: 1px solid $gray-light;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

/* States */

.PopupMenu-trigger:hover {
  background-color: $gray-lighter;
}
