@use "../variables";

.ProminentLink {
  font-size: variables.$font-size-larger;
  line-height: variables.$base-unit;
  display: inline-flex;
  align-items: center;
}

.ProminentLink-icon {
  background-color: var(--primary-color);
  color: white;
  width: variables.$base-unit;
  height: variables.$base-unit;
  padding: variables.$base-unit * 0.25;
  border-radius: 50%;
}
