@use "../variables";

.ProjectTile {
  border: 1px solid variables.$gray-medium;
  display: block;
  padding: variables.$base-unit;
  margin-top: variables.$base-unit;
  outline: none;
}

.ProjectTile:focus {
  border: 1px solid variables.$gray-medium;
  box-shadow: 0 0 0 variables.$focus-radius variables.$focus-color;
}

.ProjectTile-image {
}

.ProjectTile-body {
  color: variables.$body-text-color;
  font-size: 1rem;
  font-weight: bold;
}

.ProjectTile-text {
  line-height: variables.$base-unit !important;
  font-size: 1rem !important;
  margin-bottom: 0 !important;
}

.ProjectTile-text--small {
  color: variables.$gray-dark !important;
  font-weight: normal;
}
