/* Scope to admin list because homepage has ProjectTile too */
.dataBox--project {
  display: flex;
  flex-direction: row;
  gap: $base-unit * 0.5;
  border: 1px solid $gray-pale;
  padding: $base-unit * 0.5;
  margin-bottom: $base-unit * 0.5;

  &:hover {
    border-color: $gray-light;
  }

  .ProjectTile {
    display: flex;
    flex-direction: column;
    gap: $base-unit * 0.5;
    flex: 1;

    &:hover {
      color: $body-text-color;
    }
  }

  .Button--editorial {
    flex-shrink: 0;
    margin-bottom: auto;
  }

  .ProjectTile-body {
    color: $body-text-color;
    font-weight: bold;
  }

  .ProjectTile-text {
    line-height: $base-unit !important;
    margin-bottom: 0 !important;
  }

  .ProjectTile-text--small {
    color: $gray-dark !important;
    font-weight: normal;
  }
}
