.ProjectHome {
  padding: 0;

  .ProjectHome--hero {
    padding: $base-unit 0;

    &.ProjectHome--hero--hasLogo {
      display: flex;
      flex-direction: row-reverse;

      .ProjectHome--heroText {
        width: 67%;
      }
    }

    .ProjectHome--heroText {
      h1 {
        margin-top: 0;
      }
    }

    .ProjectLogo {
      margin-left: $base-unit;
      width: 33%;
      height: fit-content;
      // Ensure the logo image scales properly within its container
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
