@use "../variables";

/**
 * RegistryEntry component
 */

.RegistryEntry {
  padding-bottom: 6px;
}

.RegistryEntry--searchResult {
  border-left: solid 4px lightgrey;
  margin-bottom: 1.5rem;
  padding-bottom: 0;
  padding-left: 5px;
}

.RegistryEntry-content {
  align-items: center;
  display: flex;
}

.RegistryEntry-checkbox {
  flex-shrink: 0;
}

.RegistryEntry-toggleChildren {
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 8px;
  width: variables.$base-unit;
}

.RegistryEntry-label {
  text-align: left;
}

.RegistryEntry-label.is-clickable {
  color: var(--primary-color);
  cursor: pointer;
}

.RegistryEntry-children {

}
