@use "../variables";

/**
 * RegistryReferences component
 */

.RegistryReferences {
  color: variables.$gray-darkest;
  font-size: variables.$font-size-medium;
  line-height: variables.$line-height-medium;
}

.RegistryReferences-label {
  display: inline-block;
}

.RegistryReferences-list {
  display: inline-block;
  list-style-type: none;
  margin: 0 -0.5rem;
  padding: 0;
}

.RegistryReferences-addButton {
  border: none;
  color: var(--editorial-color);
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: variables.$transition-duration;
}
