.RegistryReference {
  border-right: 1px solid $gray-light;
  display: inline-block;
  padding: 0 0.5rem;
}

.RegistryReference:last-child {
  border-right: none;
}

.RegistryReference-name {
}

.RegistryReference-name--link {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-family: $font-family;
  outline: none;
  padding: 0;
  transition: box-shadow $transition-duration;
}

.RegistryReference-name--link:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}
