@use "../variables";

.SearchStats {

}

.SearchStats-heading {
  font-size: 1rem;
  font-weight: bold;
  line-height: variables.$base-unit;
  margin: 0;
}

.SearchStats-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
