@use "../variables";

.SearchSpinnerOverlay {
  position: relative;
}

.SearchSpinnerOverlay-outer {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: variables.$z-index-search-spinner-overlay;
}

.SearchSpinnerOverlay.is-loading > .SearchSpinnerOverlay-outer {
  display: initial;
}

.SearchSpinnerOverlay-inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.SearchSpinnerOverlay-content {
  left: 50%;
  position: absolute;
  top: min(max(variables.$base-unit * 6, 30vh), 50%);
  transform: translate(-50%, -50%);
}

.SearchSpinnerOverlay-spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.1);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
