.SearchResult {
  background: transparent;
  border: none;
  display: block;
  font-family: $font-family;
  max-width: 40rem;
  outline: none;
  padding: 0;
  text-align: left;
}

.SearchResult:not(:first-child) {
  margin-top: $base-unit * 0.5;
}

.SearchResult:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.SearchResult-meta {
  font-size: 0.75rem !important;
  margin: 0;
  color: #666 !important;
}

.SearchResult-heading {
  font-size: 1rem !important;
  font-weight: bold;
  line-height: $base-unit;
  margin: 0;
  transition:
    background-color $transition-duration,
    color $transition-duration;
}

.SearchResult-text {
  font-size: 1rem !important;
  transition:
    background-color $transition-duration,
    color $transition-duration;
}

.SearchResult-meta,
.SearchResult-text {
  line-height: $base-unit !important;
  margin: 0 !important;
}

// Needed for annotation texts, which are wrapped in a <p> element.
.SearchResult-text > p {
  font-size: 1rem !important;
  line-height: $base-unit;
}

.SearchResult mark {
  padding: 0 4px;
  background-color: rgba(255, 250, 129, 0.6);
  color: $gray-darkest;
}

.SearchResult.is-highlighted .SearchResult-text {
  background-color: rgba(255, 250, 129, 0.5);
  color: $gray-darkest;
}

.SearchResult:hover .SearchResult-text {
  color: var(--primary-color);
}
