@use "../variables";

.SearchSorting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.SearchSorting-label {
  font-size: 1rem !important;
  line-height: variables.$base-unit !important;
  margin-bottom: 0 !important;
}

.SearchSorting-select {
  flex-shrink: 1;
  flex-basis: 7 * variables.$base-unit;
  flex-grow: 0;
}
