@use "../mixins";
@use "../variables";

.SearchMap {
}

.SearchMap-controls {
  @include mixins.screen-m {
    display: flex;
  }
}

.SearchMap-sections {
  margin-top: variables.$base-unit;

  @include mixins.screen-m {
    margin-left: auto;
    margin-top: 0;
  }
}
