@use "../variables";

.SearchResult {
  background: transparent;
  border: none;
  display: block;
  font-family: variables.$font-family;
  max-width: 40rem;
  outline: none;
  padding: 0;
  text-align: left;
}

.SearchResult:not(:first-child) {
  margin-top: variables.$base-unit * 0.5;
}

.SearchResult:focus {
  box-shadow: 0 0 0 variables.$focus-radius variables.$focus-color;
}

.SearchResult-meta {
  font-size: 0.75rem !important;
  margin: 0;
  color: #666 !important;
}

.SearchResult-heading {
  font-size: 1rem !important;
  font-weight: bold;
  line-height: variables.$base-unit;
  margin: 0;
  transition: background-color variables.$transition-duration, color variables.$transition-duration;
}

.SearchResult-text {
  font-size: 1rem !important;
  transition: background-color variables.$transition-duration, color variables.$transition-duration;
}

.SearchResult-meta,
.SearchResult-text {
  line-height: variables.$base-unit !important;
  margin: 0 !important;
}

// Needed for annotation texts, which are wrapped in a <p> element.
.SearchResult-text > p {
  font-size: 1rem !important;
  line-height: variables.$base-unit;
}

.SearchResult .highlight {
  padding: 0 4px;
  background-color: rgba(255,250,129,0.6);
  color: variables.$gray-darkest;
}

.SearchResult.is-highlighted .SearchResult-text {
  background-color: rgba(255,250,129,0.5);
  color: variables.$gray-darkest;
}

.SearchResult:hover .SearchResult-text {
  color: var(--primary-color);
}
