/*
 * 1. Ellipsis
 */

$segment-icon-width: 2 * $base-unit;

.Segment {
  align-items: flex-start;
  display: flex;
  max-width: 45rem;
}

.Segment:not(:first-of-type) {
  margin-top: $base-unit * 0.5;
}

.Segment--withSpeaker:not(:first-of-type) {
  margin-top: $base-unit;
}

.Segment-initials {
  display: inline-block;
  flex-shrink: 0;
  line-height: $base-unit;
  margin: 0;
  opacity: 0.75;
  overflow: hidden; /* 1 */
  text-overflow: ellipsis; /* 1 */
  text-overflow: fade;
  text-transform: uppercase;
  white-space: nowrap; /* 1 */
  width: $segment-icon-width;
}

.Segment-initials--primary {
  color: var(--primary-color);
}

.Segment-initials--secondary {
  color: $gray-dark;
}

.Segment-metaWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $segment-icon-width;
  flex-shrink: 0;
}

.Segment-timecode {
  font-size: 0.75rem;
  color: $gray-medium;
  line-height: $base-unit;
}

/* If timecode follows speaker initials, reduce line height to visually group them */
.Segment--withSpeaker .Segment-timecode {
  line-height: calc($base-unit * 2 / 3);
}

.Segment-text {
  background-color: transparent;
  border: none;
  color: $body-text-color;
  cursor: pointer;
  flex-grow: 1;
  font-family: $font-family;
  line-height: $base-unit;
  max-width: $line-length;
  outline: none;
  padding: 0;
  padding-left: 0.5rem; /* Make space for larger initials */
  text-align: left;
  transition-property: background-color, box-shadow, color;
  transition-duration: $transition-duration;
  user-select: text;
}

.Segment-text.is-active {
  background-color: rgba(255, 250, 129, 0.5);
}

.Segment:hover > .Segment-text {
  color: var(--primary-color);
}

.Segment-text:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.Segment-hiddenButton {
  opacity: 0;
  transition: opacity $transition-duration;
}

.Segment:hover > .Segment-hiddenButton,
.Segment-text:focus + .Segment-hiddenButton,
.Segment-hiddenButton:focus {
  opacity: 1;
}

.Segment-buttons {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-left: auto;
  min-width: $base-unit * 2;
  text-align: right;
  transition: border-color $transition-duration;
}
