$segment-icon-width: 1rem;

.Segment {
  align-items: flex-start;
  display: flex;
  max-width: 45rem;
  padding-left: $segment-icon-width + ($base-unit / 2);
}

.Segment--withSpeaker {
  padding-left: 0;
}

.Segment:not(:first-of-type) {
  margin-top: $base-unit / 2;
}

.Segment--withSpeaker:not(:first-of-type) {
  margin-top: $base-unit;
}

.Segment-icon {
  display: inline-block;
  margin: 0.25rem ($base-unit / 2) 0 0;
  width: $segment-icon-width;
  flex-basis: $segment-icon-width;
  flex-shrink: 0;
}

.Segment-icon--primary {
  color: var(--primary-color);

}

.Segment-icon--secondary {
  color: $gray-medium;
}

.Segment-text {
  background-color: transparent;
  border: none;
  color: $body-text-color;
  cursor: pointer;
  flex-grow: 1;
  font-family: $font-family;
  line-height: $base-unit;
  max-width: $line-length;
  outline: none;
  padding: 0;
  text-align: left;
  transition-property: background-color, box-shadow, color;
  transition-duration: $transition-duration;
  user-select: text;
}

.Segment-text.is-active {
  background-color: rgba(255, 250, 129, 0.5);
}

.Segment:hover > .Segment-text {
  color: var(--primary-color);
}

.Segment-text:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.Segment-buttons {
  align-self: flex-end;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-left: auto;
  min-width: $base-unit * 2;
  text-align: right;
  transition: border-color $transition-duration;
}

.Segment-buttons.is-active {
  border-bottom: none;
}

.Segment:hover > .Segment-buttons,
.Segment:focus > .Segment-buttons {
  border-color: $gray-lighter;
}
