.Segment {
  align-items: flex-start;
  display: flex;
  padding-left: 2.2rem;
}

.Segment--withSpeaker {
  padding-left: 0;
}

.Segment--withSpeaker:not(:first-of-type) {
  margin-top: 0.75rem;
}

.Segment-icon {
  color: var(--primary-color) !important;
  display: inline-block;
  line-height: 1.5rem;
  margin: 0 !important;
  width: 2.2rem;
  flex-basis: 2.2rem;
  flex-shrink: 0;
}

.Segment-text {
  background-color: transparent;
  border: none;
  color: $body-text-color;
  cursor: pointer;
  flex-grow: 1;
  font-family: $font-family;
  line-height: 1.5rem;
  max-width: 30rem;
  outline: none;
  padding: 0;
  text-align: left;
  transition-property: background-color, color;
  transition-duration: $transition-duration;
}

.Segment-text.is-active {
  background-color: rgba(255, 250, 129, 0.5);
}

.Segment:hover > .Segment-text {
  color: var(--primary-color);
}

.Segment-text:focus {
  box-shadow: 0 0 0 0.25rem $focus-color;
}

.Segment-buttons {
  align-self: flex-end;
  border-bottom: 2px solid transparent;
  flex-grow: 1;
  margin-left: auto;
  min-width: 10%;
  text-align: right;
  transition: border-color $transition-duration;
}

.Segment-buttons.is-active {
  border-bottom: none;
}

.Segment:hover > .Segment-buttons,
.Segment:focus > .Segment-buttons {
  border-color: $gray-lighter;
}
