@use "../variables";

.SegmentPopup {
  max-width: 45rem;
}

.SegmentPopup-inner {
  border: 2px solid variables.$gray-lighter;
  padding: variables.$base-unit * 0.5;
  margin-left: auto;
  width: 80%;
}

.SegmentPopup-glossary {
  border-top: 1px solid variables.$gray-lighter;
  margin-top: variables.$base-unit * 0.25;
  padding-top: variables.$base-unit * 0.5;
  position: relative;
}

.SegmentPopup-collapse {
  background-color: variables.$gray-lightest;
  color: variables.$gray-dark;
  position: absolute;
  top: variables.$base-unit * 0.5;
  right: 0;
}

.SegmentPopup-collapse:hover {
  background-color: variables.$gray-lightest;
}

.SegmentPopup-term {
  color: variables.$gray-dark;
  font-size: variables.$font-size-large;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.SegmentPopup-explanation {
  color: variables.$gray-dark;
  margin-top: variables.$base-unit * 0.5;
}
