.Sidebar {
  background: $sidebar-background-color;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: $base-unit * 2;

  @include screen-m {
    border-left: 1px solid $gray-light;
    padding-right: 9px;
  }
}

.Sidebar-header {
  display: flex;
  padding: $base-unit $base-unit $base-unit ($base-unit * 0.75);
}

.Sidebar-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
