@use "../variables";

/**
 * 1. Lines between tabs.
 */

.SidebarTabs {
  display: block !important;
}

.SidebarTabs-tab {
  background-color: variables.$ui-background-color;
  border-left: (variables.$base-unit * 0.25) solid variables.$ui-background-color;
  border-bottom: 0 !important;
  box-shadow: 0 -1px 1px variables.$sidebar-background-color;  /* 1 */
  color: white;
  font-size: 1.2rem;
  line-height: variables.$base-unit * 1.5;
  outline: none;
  padding: (variables.$base-unit * 0.5) variables.$base-unit (variables.$base-unit * 0.5) (variables.$base-unit * 0.75);
  text-align: left;
  transition-duration: variables.$transition-duration;
  transition-property: background-color, border-left-color;
}

.SidebarTabs-tab--admin {
    background-color: var(--editorial-color);
    border-left-color: var(--editorial-color);
}

.SidebarTabs-tab:disabled {
    display: none;
}

.SidebarTabs-tab[data-selected] {
    background-color: var(--primary-color);
    border-left-color: var(--primary-color);
}

.SidebarTabs-tab:focus {
    border-left-color: variables.$focus-color;
}

.SidebarTabs-tab:active {
    background-color: variables.$ui-background-color;
}

.SidebarTabs-tab--admin:active {
    background-color: var(--editorial-color);
}

.SidebarTabs-tab[data-selected]:active {
    background-color: var(--primary-color);
}

.SidebarTabs-title {
  font-size: 1.25rem;
  line-height: variables.$base-unit;
  margin: 0;
  padding: (variables.$base-unit * 0.5) 20px;
}
