@use "../mixins";
@use "../variables";

.Sidebar {
  background: variables.$sidebar-background-color;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: variables.$base-unit * 2;

  @include mixins.screen-m {
    border-left: 1px solid variables.$gray-light;
    padding-right: 9px;
  }
}

.Sidebar-header {
  display: flex;
  padding: variables.$base-unit variables.$base-unit variables.$base-unit (variables.$base-unit * 0.75);
}

.Sidebar-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
