/**
 * 1. Lines between tabs.
 */

.SidebarTabs {
  display: block !important;
}

.SidebarTabs-tab {
  background-color: $ui-background-color;
  border-left: ($base-unit * 0.25) solid $ui-background-color;
  border-bottom: 0 !important;
  box-shadow: 0 -1px 1px $sidebar-background-color;  /* 1 */
  color: white;
  font-size: 1.2rem;
  line-height: $base-unit * 1.5;
  outline: none;
  padding: ($base-unit * 0.5) $base-unit ($base-unit * 0.5) ($base-unit * 0.75);
  text-align: left;
  transition-duration: $transition-duration;
  transition-property: background-color, border-left-color;
}

.SidebarTabs-tab--admin {
    background-color: var(--editorial-color);
    border-left-color: var(--editorial-color);
}

.SidebarTabs-tab:disabled {
    display: none;
}

.SidebarTabs-tab[data-selected] {
    background-color: var(--primary-color);
    border-left-color: var(--primary-color);
}

.SidebarTabs-tab:focus {
    border-left-color: $focus-color;
}

.SidebarTabs-tab:active {
    background-color: $ui-background-color;
}

.SidebarTabs-tab--admin:active {
    background-color: var(--editorial-color);
}

.SidebarTabs-tab[data-selected]:active {
    background-color: var(--primary-color);
}

.SidebarTabs-title {
  font-size: 1.25rem;
  line-height: $base-unit;
  margin: 0;
  padding: ($base-unit * 0.5) 20px;
}
