@use "../mixins";
@use "../variables";

/**
 * SiteHeader component
 */

.SiteHeader {
  align-items: flex-start;
  background: #fff;
  display: flex;
  height: variables.$site-header-height-mobile;
  overflow: hidden;
  padding: (variables.$base-unit * 0.5) 5%;

  @include mixins.screen-m {
    height: variables.$site-header-height-desktop;
  }
}

.SiteHeader-link {
}

.SiteHeader-link--site {
  flex-shrink: 0;
}

.SiteHeader-link--collection {
  flex-shrink: 1;
  max-width: 17.5 * variables.$base-unit;
}

.SiteHeader-logo {
  max-height: 3.5rem;
  max-width: 100%;
  vertical-align: bottom;

  @include mixins.screen-m {
    max-height: 4.75rem;
  }
}
