.SortOrderButton {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  line-height: $base-unit;
  padding: (0.25 * $base-unit) (0.5 * $base-unit);
  transition: border-color $transition-duration;
}

.SortOrderButton-icon {
  color: $ui-background-color;
  font-size: 1.25rem;
  vertical-align: middle;
}

.SortOrderButton:hover {
  border-color: hsl(0, 0%, 70%);
}
