@use "../variables";

.Startpage {

}

.Startpage-heading {
  font-size: 1.75rem;
  line-height: variables.$base-unit * 2;
  text-transform: uppercase;
}

.Startpage-icon {
  font-size: variables.$base-unit * 2;
}
