@use "../variables";

.Table {
  border-collapse: collapse;
  margin-left: -0.5 * variables.$base-unit;
  margin-right: -0.5 * variables.$base-unit;
}

.Table--searchResults {
}

.Table-header {
  font-weight: bold;
  text-align: left;
}

.Table-headerButton {
  font-weight: bold;
}

.Table-body > .Table-row:nth-child(odd) {
  background-color: variables.$gray-lightest;
}

.Table-body > .Table-row:nth-child(even) {
  background-color: white;
}

.Table-header,
.Table-cell {
  font-size: 1rem;
  line-height: variables.$base-unit;
  padding: (variables.$base-unit * 0.25) (variables.$base-unit * 0.5);
}
