.Tabs {
}

.Tabs-tabList {
  background: transparent;
  height: $horizontal-tabs-height;
}

.Tabs-tab {
  background-color: $gray-lighter;
  border-bottom-color: $gray-lighter;
  border-bottom-style: solid;
  border-bottom-width: $base-unit * 0.125 !important;
  line-height: $base-unit;
  margin-right: 1px;
  padding: 0 $base-unit;
}

.Tabs-tab[data-selected] {
  background-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  color: white;
}

.Tabs-tab:disabled {
  display: none;
}

.Tabs-tab:focus {
  border-bottom-color: $focus-color;
}

.Tabs-tab:active {
  background-color: $gray-lighter;
}

.Tabs-tab[data-selected]:active {
  background-color: var(--primary-color);
}

.Tabs-tabIcon {
  @include screen-m {
    display: none;
  }
}

.Tabs-tabText {
  display: none;

  @include screen-m {
    display: initial;
  }
}
