@use "../variables";

.ThumbnailBadge {
  background-color: #fff;
  border: none;
  color: #666;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: variables.$font-family;
  font-size: 1rem;
  line-height: variables.$base-unit;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: variables.$z-index-thumbnail-badge;
  padding: 0 variables.$base-unit * 0.25;
}

.ThumbnailBadge:focus {
  box-shadow: 0 0 0 variables.$focus-radius variables.$focus-color;
}

.ThumbnailBadge-text {
  font-size: 1rem;
  line-height: variables.$base-unit;
  margin-left: variables.$base-unit * 0.25;
}
