.TreeSelect {
  margin-bottom: 1.5rem;
}

/*
 * Overwrite global styles
 */

.TreeSelect-select label {
  float: none !important;
  font-size: 0.875rem;
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
}

.TreeSelect-select input {
  margin: 0 0.25rem 0 0 !important;
  padding: 0 !important;
  width: auto !important;
}

.TreeSelect-select .search::placeholder {
  color: $gray-darkest;
}

.TreeSelect-select .node {
  margin-right: 0.75rem;
}

.TreeSelect-select .node.hide {
  position: initial;
}

.TreeSelect-select .node.disabled > * {
  cursor: initial;
}

.TreeSelect-select .node.disabled .radio-item {
  display: none;
}

.TreeSelect-select .dropdown-trigger {
  border-color: $gray-medium !important;
  outline: none;
  transition: box-shadow $transition-duration;
}

.TreeSelect-select .dropdown-trigger:focus {
  box-shadow: 0 0 0 $focus-radius $focus-color;
}

.TreeSelect-select .dropdown-content {
  max-height: 25rem;
  overflow-y: auto;
}

/* Individual toggle icon */

.TreeSelect-select .toggle {
  color: var(--primary-color) !important;
  font: normal normal normal 16px/1 FontAwesome;
  margin: 0 0.375rem 0 0.25rem;
  padding: 0 (0.125 * $base-unit);
  white-space: pre;
}

.TreeSelect-select .toggle::after {
  cursor: pointer;
  display: inline-block;
  vertical-align: -0.11rem;
  width: 0.75rem;
  height: 0.75rem;
}

/**
 * FontAwesome plus icon
 * https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/solid/plus.svg
 */
.TreeSelect-select .toggle.collapsed::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" stroke="gray" fill="gray" width="12px" height="12px"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>');
}

/**
 * FontAwesome minus icon
 * https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/solid/minus.svg
 */
.TreeSelect-select .toggle.expanded::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" stroke="gray" fill="gray" width="12px" height="12px"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>');
}
