/**
 * RegistryReference component
 */

.RegistryReference {
    padding: 0.25rem 0.5rem;
    border-right: 1px solid $gray-light;
}

.RegistryReference-name {

}

.RegistryReference-buttons {

}

.RegistryReference:last-child {
    border-right: none;
}
