/**
 * SiteHeader component
 */

.SiteHeader {
  align-items: center;
  background: #fff;
  display: flex;
  height: 5rem;
  overflow: hidden;
  padding: 0 5%;

  @include screen-m {
    height: 6.25rem;
  }
}
