


$dark: #999;




.facet {
  position: relative;
  width: 100%;
  border-bottom: 5px solid $dark;
  border-left: 2px solid $dark;
  border-right: 2px solid $dark;
  button {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    height: 3em;
    width: 3em;
    outline: 0;
    border: 0;
    background: none;
    text-indent: -9999%;
    pointer-events: none;
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      border-radius: .3em;
      background: $dark;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      transition: all .25s ease-in-out;
      transform: translate(75%, -50%) rotate(45deg);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      border-radius: .3em;
      background: $dark;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      transition: all .25s ease-in-out;
      transform: translate(-75%, -50%) rotate(-45deg);
    }
  }
}

.facet.open {
  button {
    &:before, &:after {
      height: 14px;
    }
    &:before {
      transform: translate(0%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(0%, -50%) rotate(45deg);
    }
  }
  .subfacets {
    height: auto;
  }
}

.subfacets {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.facet-name {
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5em;
}

.subfacet {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}