<div class="fragmentTitle">
  <h2><%= link_to "Benutzerverwaltung", admin_user_management_url %></h2>
  <ul>
    <li><%= link_to "#{t(:new_registrations, :scope => "devise.workflow_states")} (#{UserRegistration.unchecked.count})", admin_user_registrations_url %></li>
    <% ['checked',
        'registered',
        'postponed',
        'rejected'].each do |workflow_state| %>
    <li>
      <%= link_to "#{t(workflow_state.to_sym, :scope => "devise.workflow_states").capitalize}",
                  admin_user_registrations_url(:params => {:workflow_state => workflow_state}) %>
    </li>
    <% end %>
  </ul>
  <h2>
    <%= link_to "Statistik", admin_user_statistics_url %>
  </h2>
</div>
