<ul>
  <li class="copyright"><%= t(:status_update, :scope => 'user_interface.labels') %>:15.03.2010</li>
  <li><%= link_to (t :terms_of_use), home_path(:page => "terms_of_use") %></li>
  <li class="pipe">|</li>
  <li><%= link_to (t :contact), home_path(:page => "contact"), :title => "Kontaktdaten (Adresse, Telefon, Email, ...)", :accesskey => "9" %></li>
  <li class="pipe">|</li>
  <li><%= link_to (t :legal_notice), home_path(:page => "impressum"), :accesskey => "1" %></li>
</ul>