<ul>
  <li class="copyright"><%= t(:status_update, :scope => 'user_interface.labels') %>:15.03.2010</li>
  <li><%= link_to (t :terms_of_use), home_path(:page => t("terms_of_use", :scope => 'page_urls')) %></li>
  <li class="pipe">|</li>
  <li><%= link_to (t :contact), home_path(:page => t("contact", :scope => 'page_urls')), :title => "Kontaktdaten (Adresse, Telefon, Email, ...)", :accesskey => "9" %></li>
  <li class="pipe">|</li>
  <li><%= link_to (t :legal_notice), home_path(:page => t("impressum", :scope => 'page_urls')), :accesskey => "1" %></li>
</ul>