<% case session[:locale]
  when /^en/i %>
    <p>
      Registration is required for research in the archive “Forced Labor 1939-1945". The
      <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %>
      explain for whom and for which purposes the archive can be used. The
      <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %>
      clarifies which personal data we process and what we use it for.
    </p>
    <p>
      Within two working days of sending your data you will receive a response and/or your login data.
    </p>
  <% else %>
    <p>
      F&uuml;r die Recherche im Archiv "Zwangsarbeit 1939-1945" ist eine Registrierung notwendig.
      Die <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %>
      erkl&auml;ren, f&uuml;r wen und f&uuml;r welche Zwecke das Archiv nutzbar ist. Die
      <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %> erl&auml;utern, warum wir
      welche Daten verarbeiten und wof&uuml;r wir sie nutzen.
    </p>
    <p>
      Innerhalb von zwei Arbeitstagen nach dem Absenden Ihrer Daten erhalten Sie eine
      R&uuml;ckmeldung bzw. Ihre Zugangsdaten.
    </p>
<% end %>
