<p>
  Для поиска информации в архиве "<%= Project.project_name['ru'] %>" необходима регистрация.
  <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %>
  разъясняют, кто и в каких целях может использовать архив.
  <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %> разъясняют, почему и какие
  сведения нами обрабатываются и каким образом используются.
</p>
<p>
  В течение двух рабочих дней после отправки Ваших данных Вы получите ответное письмо или Ваши данные для доступа.
</p>
