<p>
  F&uuml;r die Recherche im Archiv "<%= Project.project_name['de'] %>" ist eine Registrierung notwendig.
  Die <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %>
  erkl&auml;ren, f&uuml;r wen und f&uuml;r welche Zwecke das Archiv nutzbar ist. Die
  <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %> erl&auml;utern, warum wir
  welche Daten verarbeiten und wof&uuml;r wir sie nutzen.
</p>
<p>
  Innerhalb von zwei Arbeitstagen nach dem Absenden Ihrer Daten erhalten Sie eine
  R&uuml;ckmeldung bzw. Ihre Zugangsdaten.
</p>
