<p>
  Registration is required for research in the archive “<%= Project.project_name['en'] %>". The
  <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %>
  explain for whom and for which purposes the archive can be used. The
  <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %>
  clarifies which personal data we process and what we use it for.
</p>
<p>
  Within two working days of sending your data you will receive a response and/or your login data.
</p>
