<p>
  TODO: translate to Spanish: Um die Interviews im Archiv ansehen zu können ist eine Registrierung notwendig.
  Die <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %> erklären, für wen und für welche Zwecke das Archiv nutzbar ist.
  Die <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %> erläutern, warum wir welche Daten verarbeiten und wofür wir sie nutzen.
  Nachdem Sie Ihre Registrierung bestätigt haben, überprüft das Projektteam die Angaben Ihrer Registrierung inhaltlich.
</p>
<p>
  Sie erhalten Ihre Zugangsdaten bzw. eine Rückmeldung innerhalb von zwei Werktagen.
</p>
