<h1>Benutzerverwaltung</h1>

<%= render :partial => 'user_registrations_table', :object => @user_registrations %>

<div id="user-registration-overlay" style="display: none;" onClick="$('lightbox-container').fade({duration: 0.4});$(this).fade({duration: 0.4});"></div>