h1 = I18n.backend.translate(locale, 'devise.registrations.link')

p = I18n.backend.translate(locale, 'registration_text')

= render :partial => "user_registration_form", :locals => {:locale => locale}