<h1>Eine Registrierung f&uuml;r <span><%= @email %></span> liegt bereits vor</h1>

<% if current_project %>
  <p>Die von Ihnen angegebene E-Mail Adresse ist bereits f&uuml;r <%= current_project.name('de') %> registriert.</p>
<% end %>

<% if @user_registration %>
  <% unless @user_registration.activated_at %>
    <p>Ihr Zugang muss noch aktiviert werden. Die f&uuml;r die Zugangsaktivierung notwendigen Informationen wurden Ihnen soeben nochmals per E-Mail zugesandt.</p>
  <% else %>
    <p>Ihr Zugang ist bereits aktiv. Falls Sie Ihre Zugangsdaten nicht mehr kennen, folgen Sie bitte diesem Link:
      <%= link_to t('devise.passwords.link'), "#{current_project ? current_project.domain_with_optinal_identifier : OHD_DOMAIN}/#{new_user_account_password_path}", :class => 'new_password link' %>
    </p>
  <% end %>
<% end %>


<br/>
