<h1>Your registration was submitted</h1>

<p>Thank you for your interest in the archive "<%= Project.project_name['en'] %>". Your registration will be processed by our team within the next two working days.</p>

<p>You will then receive a response in Email containing your login details if your application to register was successful.</p>

<br/>

<p>You can find out more about the collection of interviews of the archive "<%= Project.project_name['en'] %>" <a href="http://www.<%= Project.project_domain %>/en/sammlung" style="font-weight: bold;">here</a>.</p>
