<h1>Η εγγραφή σας εστάλη.</h1>

<p>Ευχαριστούμε πολύ για το ενδιαφέρον σας αναφορικά με το αρχείο "<%= Project.project_name['el'] %>".</p>

<p>Θα επεξεργαστούμε τα στοιχεία σας. Εντός των επόμενων δύο ημερών θα λάβετε από εμάς ένα μήνυμα και τα στοιχεία για την εγγραφή σας.</p>

<br/>

<p>Εδώ μπορείτε να μάθετε περισσότερα για το πρόγραμμα <a href="http://<%= Project.project_domain %>/sammlung" style="font-weight: bold;"><%= Project.project_name['el'] %></a>.</p>

