<h1>¡Su registro se ha enviado exitosamente!</h1>
<p>Usted se ha registrado para la aplicación "<%= current_project ? current_project.name('es') : 'OHD' %>".</p>
<p>Por favor revise en la entrada de su correo electrónico y confirme su registro mediante el enlace del mensaje.</p>
<p>Después de haberlo confirmado, su registro se revisará por el equipo del proyecto. Esta revisión puede durar hasta dos días hábiles.</p>
<p>A continuación su acceso para el archivo de entrevistas será activado.</p>
