<h1>Ihre Registrierung ist eingegangen</h1>

<p>Vielen Dank f&uuml;r Ihr Interesse am Archiv "Zwangsarbeit 1939-1945". Ihre Registrierung wurde vorgemerkt und wird von uns innerhalb der nächsten 2 Werktage gepr&uuml;ft und bearbeitet.</p>

<p>Im n&auml;chsten Schritt erhalten Sie von uns eine R&uuml;ckmeldung und bei erfolgter Registrierung Ihre Zugangsdaten.</p>

<br/>

<p><a href="http://www.zwangsarbeit-archiv.de/sammlung" style="font-weight: bold;">Hier</a> erfahren Sie mehr &uuml;ber die Sammlung des Projektes "Zwangsarbeit 1939-1945".</p>

