<h1>Η εγγραφή σας ήταν επιτυχής!</h1>
<p>Εγγραφήκατε στην εφαρμογή "<%= current_project ? current_project.name('el') : 'OHD' %>".</p>
<p>Σας παρακαλούμε να ελέγξετε τα εισερχόμενα της διεύθυνσης ηλεκτρονικού ταχυδρομείου και να επιβεβαιώσετε την εγγραφή σας μέσω του συνδέσμου στο e-mail.</p>
<p>Μετά την επιβεβαίωση, η ομάδα του προγράμματος θα ελέγξει την εγγραφή σας. Η διαδικασία αυτή ενδεχομένως να διαρκέσει δύο εώς τρεις ημέρες.</p>
<p>Στη συνέχεια θα λάβετε πρόσβαση στο Αρχείο Προφορικών Μαρτυριών.</p>
