<h1>Ваша регистрация прошла успешно!</h1>
<p>Вы зарегистрировались как пользователь проека "<%= current_project ? current_project.name('ru') : 'OHD' %>".</p>
<p>Пожалуйста, проверьте Вашу электронную почту и подтвердите Вашу регистрацию, перейдя за линком в сообщении.</p>
<p>После подтверждения Вашей регистрации, Ваши данные будут проверены сотрудниками проекта, это может занять до двух дней.</p>
<p>После этого Ваш доступ к Архиву интервью будет активирован.</p>
