<h1>Your registration has been submitted successfully!</h1>
<p>You have registered for the "<%= current_project ? current_project.name('en') : 'OHD' %>" application.</p>
<p>Please check your e-mail inbox and confirm your registration with the link in the e-mail.</p>
<p>After confirmation your registration will be reviewed by our project team. This review may take up to two working days.</p>
<p>Afterwards your access to the interview archive will be activated.</p>
