<h1>Sie haben sich für das für das <%= current_project.name('de') %> registriert.</h1>

<p>Bitte überprüfen Sie Ihr E-Mail Postfach und bestätigen Sie Ihre Registrierung mit dem Link in der E-Mail.</p>
<p>Nach erfolgter Bestätigung wird Ihre Registrierung inhaltlich vom Projektteam geprüft, diese Prüfung kann bis zu zwei Werktagen dauern.</p>
<p>Danach wird Ihr Zugang zum <%= current_project.name('de') %> aktiviert und Sie erhalten Ihre Zugangsdaten.</p>

<br/>
<p>Hier erfahren Sie mehr über das Projekt <a href="http://<%= current_project.domain %>/sammlung" style="font-weight: bold;"><%= current_project.name('de') %></a>.</p>
