<h1>Ihre Registrierung wurde erfolgreich abgesendet.</h1>

<p>Vielen Dank für Ihr Interesse am Interview-Archiv "<%= Project.project_name['de'] %>".</p>

<p>Ihre Registrierung wird nun von uns geprüft und bearbeitet.
Innerhalb der nächsten zwei Werktage erhalten Sie von uns eine Rückmeldung und bei erfolgter Registrierung Ihre Zugangsdaten.</p>

<br/>

<p>Hier erfahren Sie mehr über das Projekt <a href="http://<%= Project.project_domain %>/sammlung" style="font-weight: bold;"><%= Project.project_name['de'] %></a>.</p>

