<h1>Ihre Registrierung wurde erfolgreich abgesendet!</h1>
<p>Sie haben sich für die Anwendung "<%= current_project ? current_project.name('de') : 'Oral-History.Digital' %>" registriert.</p>
<p>Bitte überprüfen Sie Ihr E-Mail-Postfach und bestätigen Sie Ihre Registrierung mit dem Link in der E-Mail.</p>
<p>Nach erfolgter Bestätigung wird Ihre Registrierung inhaltlich vom Projektteam geprüft, diese Prüfung kann bis zu zwei Werktage dauern.</p>
<p>Danach wird Ihr Zugang zu dem Interview-Archiv aktiviert.</p>
