<h1>Ваша регистрация получена</h1>

<p>Спасибо за Ваш интерес к архиву "<%= CeDiS.config.project_name['ru'] %>". Ваша регистрация взята на заметку и будет в течение двух ближайших рабочих дней проверена и обработана.</p>

<p>Как следующий шаг, Вы получите от нас ответное письмо и, в случае успешной регистрации, данные для доступа в архив.</p>

<br/>

<p><a href="http://www.<%= CeDiS.config.project_domain %>/ru/sammlung" style="font-weight: bold;">Здесь</a> Вы можете получить подробную информацию о собрании проекта  "<%= CeDiS.config.project_name['ru'] %>".</p>

