<h1>Ihre Registrierung ist eingegangen</h1>

<p>Vielen Dank f&uuml;r Ihr Interesse am Archiv "<%= Project.project_name['de'] %>". Ihre Registrierung wurde vorgemerkt und wird von uns innerhalb der nächsten 2 Werktage gepr&uuml;ft und bearbeitet.</p>

<p>Im n&auml;chsten Schritt erhalten Sie von uns eine R&uuml;ckmeldung und bei erfolgter Registrierung Ihre Zugangsdaten.</p>

<br/>

<p><a href="http://www.<%= Project.project_domain %>/sammlung" style="font-weight: bold;">Hier</a> erfahren Sie mehr &uuml;ber die Sammlung des Projektes "<%= CeDiS.config.project_name['de'] %>".</p>

